<script>
//import Vue from "vue";
import axios from "axios";
//import router from '@/router/index.js';
//import swal from "sweetalert2";
axios.defaults.xsrfCookieName = "csrftoken"
axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
export default {
	name: "Login",
  components: {
  },
  data: () => ({
      credentials: {},
      valid:true,
      loading:false,
      rules: {
        username: [
          v => !!v || "Username is required",
          v => (v && v.length > 3) || "A username must be more than 3 characters long",
          v => /^[a-z0-9_]+$/.test(v) || "A username can only contain letters and digits"
        ],
        password: [
          v => !!v || "Password is required",
          v => (v && v.length > 7) || "The password must be longer than 7 characters"
        ]
      }
  }),
  methods: {
    async login() { // call loginUSer action
        await this.$store.dispatch('user/loginUser', {
          username: this.username,
          password: this.password
        })
            .then(() => {
              this.wrongCred = false
              this.$router.push({ name: 'profile' })
            })
          .catch(err => {
            console.log(err)
            this.wrongCred = true // if the credentials were wrong set wrongCred to true
          })
        },
    // login: function() {
    //   // checking if the input is valid
    //   if (this.$refs.form.validate()) {
    //     this.loading = true;
    //     axios({
    //           url:'http://localhost:8000/auth/',
    //           method: 'post',
    //           withCredentials: true,
    //           data:this.credentials,
    //           headers: {
    //             "X-CSRFToken": Vue.cookie.get('csrftoken')
    //           }}).then(resp => {
    //               const token = resp.data.token
    //               console.log(token);
    //               localStorage.setItem('user-token', token) // store the token in localstorage
    //               resolve(resp)
    //             })
    //           .catch(err => {
    //             localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
    //             reject(err)
    //           })
        
    //   }
    // },
    // login: function () {
    //  const { username, password } = this
    //  this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
    //    this.$router.push('/')
    //  })
    // },
    authenticate () {
      const payload = {
        username: this.username,
        password: this.password
      }
      axios.post(this.$store.state.endpoints.obtainJWT, payload)
        .then((response) => {
          this.$store.commit('updateToken', response.data.token)
          // get and set auth user
          const base = {
            baseURL: this.$store.state.endpoints.baseUrl,
            headers: {
            // Set your Authorization to 'JWT', not Bearer!!!
              Authorization: `JWT ${this.$store.state.jwt}`,
              'Content-Type': 'application/json'
            },
            xhrFields: {
                withCredentials: true
            }
          }
          // Even though the authentication returned a user object that can be
          // decoded, we fetch it again. This way we aren't super dependant on
          // JWT and can plug in something else.
          const axiosInstance = axios.create(base)
          axiosInstance({
            url: "/user/",
            method: "get",
            params: {}
          })
            .then((response) => {
              this.$store.commit("setAuthUser",
                {authUser: response.data, isAuthenticated: true}
              )
              this.$router.push({name: 'home'})
            })

        })
        .catch((error) => {
          console.log(error);
          console.debug(error);
          console.dir(error);
        })
    },
   toggleBodyClass(addRemoveClass, className) {
     const el = document.body;

     if (addRemoveClass === 'addClass') {
       el.classList.add(className);
     } else {
       el.classList.remove(className);
     }
   },
  },
 
  mounted() {
    this.toggleBodyClass('addClass', 'landing-page');
  },
  destroyed() {
   this.toggleBodyClass('removeClass', 'landing-page');
  },
};
</script>
<template>
<div class="container">
  <div class="row display-flex">
    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="landing-content">
        <h1>Welcome to the Biggest Social Network in the World</h1>
        <p>We are the best and biggest social network with 5 billion active users all around the world. Share you
          thoughts, write blog posts, show your favourite music via Stopify, earn badges and much more!
        </p>
        <a href="#" class="btn btn-md btn-border c-white">Register Now!</a>
      </div>
    </div>

    <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
      
      <!-- Login-Registration Form  -->
      
      <div class="registration-login-form">
      
        <!-- Tab panes -->
          <div>
            <div class="title h6">Login to your Account</div>
            <form class="content" @submit="login" onsubmit="return false;">
              <div class="row">
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Username or Email</label>
                    <input
                      v-model="username" 
                      id="id_username" 
                      autofocus="autofocus"
                      class="text-input" 
                      type="text"
                      :rules="rules.username"
                      
                      >
                  </div>
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Password</label>
                    <input 
                      v-model="password"
                      id="id_password" 
                      class="password text-input" 
                      name="password"
                      label="Password"
                      hint="At least 6 characters"
                      counter
                      :rules="rules.password"
                      type="password"
                      >
                  </div>
      
                  <div class="remember">
      
                    <div class="checkbox">
                      <label>
                        <input name="optionsCheckboxes" type="checkbox">
                        Remember Me
                      </label>
                    </div>
                    <a href="#" class="forgot" data-toggle="modal" data-target="#restore-password">Forgot my Password</a>
                  </div>
      
                  <button class="btn btn-lg btn-primary full-width" type="submit">Login</button>
      
                  <div class="or"></div>
      
                  <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f" aria-hidden="true"></i>Login with Facebook</a>
      
                  <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i class="fab fa-twitter" aria-hidden="true"></i>Login with Twitter</a>
      
      
                  <p>Don’t you have an account? <a href="#">Register Now!</a> it’s really simple and you can start enjoing all the benefits!</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  
      <!-- ... end Login-Registration Form  -->   
  </div>
 
</template>