<script>
export default {
	name: "FixedSidebarLeft"
};	
</script>
<template>
 
<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar">
	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

		<router-link :to="{name: 'profile'}" class="logo">
			<div class="img-wrap">
				<img :src="require('@/assets/img/logo.png')" alt="Yoga Vidya">
			</div>
		</router-link>

		 
</div>

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar fixed-sidebar-responsive">

	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
		<a href="#" class="logo js-sidebar-open">
			<img :src="require('@/assets/img/logo-small.png')" alt="Yoga Vidya">
		</a>

	</div>
 
</div>
<!-- ... end Fixed Sidebar Left -->
</div>
</template>