<template>
<div>
<!-- ... end Preloader -->
<div class="content-bg-wrap"></div>
<div v-if="!isMobile">
<div class="header--standard" id="header--standard">
	<div class="container">
		<div class="header--standard-wrap">
      <b-navbar toggleable="lg" type="light"  class="header--white-wrap">
        <b-navbar-brand >
          <router-link :to="{ name: 'home'}" class="logo">
            <div class="img-wrap">
                <img 
                  src="@/assets/img/yogavidya-logo.png" 
                  alt="Yogavidya" 
                  class="logo-colored">
              </div>
          </router-link>
        </b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <div class="n">
          <div class="m">
            <b-collapse id="nav-collapse" is-nav>
              <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                <b-nav-item :to="{ name: 'articles'}" >Makaleler</b-nav-item>
                <b-nav-item :to="{ name: 'videolessons'}" >Videodersler</b-nav-item>
                <b-nav-item :to="{ name: 'teachers'}" >Eğitmenler</b-nav-item>
                <b-nav-item :to="{ name: 'teachers'}" >Kamplar</b-nav-item>
                <b-nav-item  class="nav-item" :to="{name: 'TeacherInfo'}">Eğitmen Ol</b-nav-item>
                <b-nav-item  class="nav-item" :to="{name: 'login'}">Giriş Yap</b-nav-item>
                <b-nav-item  class="nav-item" :to="{name: 'register'}">Üye Ol</b-nav-item>
                <b-nav-item  class="nav-item" :to="{name: 'page', params:{slug:'destek-ol'}}">Destek Ol</b-nav-item>
              </b-navbar-nav>
            </b-collapse>
          </div>
        </div>
      </b-navbar>
    </div>
  </div>
</div>
</div>
<div v-else>
      <!-- Responsive Header-BP -->
<header class="header header-responsive header--white-wrap align-items-center"   id="site-header-responsive">
    
      
    <div class="header-content-wrapper">
      
      <b-navbar toggleable="lg" type="light"  class="header--white-wrap ">
        <b-container>
          <b-col>
        <b-navbar-brand >
          <router-link :to="{ name: 'home'}" class="logo">
            <div class="img-wrap">
                <img 
                  src="@/assets/img/logo-small.png" 
                  alt="Yogavidya" 
                  class="logo-colored">
              </div>
          </router-link>
        </b-navbar-brand>
          </b-col>
        <b-col>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        </b-col>
        </b-container>
        <div class="nav nav-pills nav1 my-menu">
          <div class="mCustomScrollbar">
            <b-collapse id="nav-collapse" is-nav>
              <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                <b-nav-item :to="{ name: 'articles'}" >Makaleler</b-nav-item>
                <b-nav-item :to="{ name: 'videolessons'}" >Videodersler</b-nav-item>
                <b-nav-item :to="{ name: 'teachers'}" >Eğitmenler</b-nav-item>
                <b-nav-item :to="{ name: 'teachers'}" >Kamplar</b-nav-item>
                <b-nav-item  class="nav-item" :to="{name: 'TeacherInfo'}">Eğitmen Ol</b-nav-item>
                <b-nav-item  class="nav-item" :to="{name: 'login'}">Giriş Yap</b-nav-item>
                <b-nav-item  class="nav-item" :to="{name: 'register'}">Üye Ol</b-nav-item>
                <b-nav-item  class="nav-item" :to="{name: 'page', params:{slug:'destek-ol'}}">Destek Ol</b-nav-item>
              </b-navbar-nav>
            </b-collapse>
          </div>
        </div>
      </b-navbar>

      
    </div>
    
 </header>
</div>
<!-- Header Standard Landing  -->
<!-- ... end Header Standard Landing  -->
<div class="header-spacer--standard"></div>

<!-- Header Standard -->
<!-- Header Standard Landing  -->

</div>
</template>
<script>
import { mapState } from 'vuex'
//import { apiService } from "@/common/api.service.js"
export default {
	name: "HeaderComponent",
  data() {
    return {
      innerWidth: 0
    };
  },
	computed: {
    ...mapState({
      accessKey: state => state.user.accessKey,
      refreshKey: state => state.user.refreshKey,
    }),
    isMobile() {
      return this.innerWidth <= 760;
    },
  },
	created() {
    this.innerWidth = window.innerWidth;
    window.addEventListener('resize', () => {
      this.innerWidth = window.innerWidth;
    });
  },
};
</script>
<style scoped>
	.my-navbar {
		border-bottom: 1px solid #DDD;
	}
	.navbar-brand {
		font-weight: bold;
		font-size: 130%;
	}
	.my-menu ul {
    height: auto !important; 
	}
	.my-menu a {
    font-size: 13px;
    padding: 20px !important;
	}
 	.my-menu {
    float: right;
    background-color: transparent;
}
.my-menu {
    margin-left: auto;
}
.my-menu {
    float: left;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    background-color: #fff;
}
.nav-pills .nav-link {
    border-radius: .25rem;
}
.nav-item-2{
	font-weight: 700;
  font-size: 13px;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  line-height: 1;
  font-size: 13px;
  top: -6px !important;
  text-decoration: none;
  background-color: transparent;
}

.nav-item{
  font-size: 16px;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  line-height: 1;
  top: -6px !important;
  text-decoration: none;
  background-color: transparent;
}

.my-menu a {
    font-weight: 700;
    font-size: 13px;
    position: relative;
    color: #515365;
    padding: 30px;
    display: block;
    line-height: 1;
}
.navbar-collapse, .header, .header--standard-wrap{
  background-color: #fff !important;
}
 
</style>
