<script>
export default {
	name: "InnerProfileLeftMenu"
};
</script>
<template>
<div class="profile-settings-responsive">

	<a href="#" class="js-profile-settings-open profile-settings-open">
		<i class="fa fa-angle-right" aria-hidden="true"></i>
		<i class="fa fa-angle-left" aria-hidden="true"></i>
	</a>
	<div class="mCustomScrollbar" data-mcs-theme="dark">
		<div class="ui-block">
			<div class="your-profile">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">Profiliniz</h6>
				</div>

				<div id="accordion1" role="tablist" aria-multiselectable="true">
					<div class="card">
						<div class="card-header" role="tab" id="headingOne-1">
							<h6 class="mb-0">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne">
									Profil Ayarları
									<svg class="olymp-dropdown-arrow-icon"><use xlink:href="#olymp-dropdown-arrow-icon"></use></svg>
								</a>
							</h6>
						</div>

						<div id="collapseOne-1" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
							<ul class="your-profile-menu">
								<li>
									<b-link :to="{name: 'personal_information'}">Kişisel Bilgiler</b-link>
								</li>
								<li>
									<b-link :to="{name: 'account_settings'}">Hesap Ayarları</b-link>
								</li>
								<li>
									<b-link :to="{name: 'change_password'}">Şifre Ayarları</b-link>
								</li>
								<li>
									<b-link :to="{name: 'hobbies_interests'}">Hobiler ve İlgi Alanları</b-link>
								</li>
							</ul>
						</div>
					</div>
				</div>


				<div class="ui-block-title">
					<b-link :to="{name: '/'}" class="h6 title">Uyarılar</b-link>
					<a href="#" class="items-round-little bg-primary">8</a>
				</div>
				<div class="ui-block-title">
					<b-link :to="{name: '/'}" class="h6 title">Takip İstekleri</b-link>
					<a href="#" class="items-round-little bg-blue">4</a>
				</div>
			</div>
		</div>
	</div>
</div>
</template>
<style></style>