<script>
import { mapState } from 'vuex';
import FixedSidebarLeft from "@/components/snippets/FixedSidebarLeft";
export default{
	name: "ProfileHeader",
	data() {
    return {
      innerWidth: 0
    };
  },
	components: {
		FixedSidebarLeft
	},
	computed: {
		...mapState({
	    username: state => state.user.username,
	    thumbnail: state => state.user.thumbnail,
	    
  	}),
  	isMobile() {
      return this.innerWidth <= 760;
    },
	},
	methods:{
		async logout() { // call loginUSer action
      await this.$store.dispatch('user/logout', {})
        .then(() => {
        	this.$store.dispatch('user/resetUserState', {})
          this.wrongCred = true
            this.$router.push('/')
        })
        .catch(err => {
          console.log(err)
          this.wrongCred = true // if the credentials were wrong set wrongCred to true
      })
    },
    resetArticles(){
    	this.$store.dispatch('articles/resetArticlesState')
    		.then(
    			() => {this.$store.dispatch('articles/fetchArticles')}
    		);
    	 
    },
    resetMembers(){
    	this.$store.dispatch('members/resetMembersState')
    		.then(
    			() => {this.$store.dispatch('members/fetchTeachers')}
    		);
    	 
    },
    resetVideolessons(){
    	this.$store.dispatch('videolessons/resetVideolessonsState')
    		.then(
    			() => {this.$store.dispatch('videolessons/fetchVideolessons')}
    		);
    	 
    }
	},
  created() {
  	this.$store.dispatch("user/getUserInfo");
    this.innerWidth = window.innerWidth;
    	window.addEventListener('resize', () => {
      	this.innerWidth = window.innerWidth;
    });
  }
};
</script>
<template>
<div>
<!-- Header-BP -->
<FixedSidebarLeft />
<header class="header" id="site-header">

	<div class="header-content-wrapper">
		<!--<form class="search-bar w-search notification-list friend-requests">
			<div class="form-group with-button">
				<input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
				<button>
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="@/assets/svg-icons/icons.svg#magnifying-glass-icon"></use></svg>
				</button>
			</div>
		</form>

		<a href="#" class="link-find-friend">Find Friends</a>-->
		
		<div class="control-block">
			<div class="nav nav-pills nav1 header-menu ml-auto">
				<div class="mCustomScrollbar">
					<ul>
						<li class="nav-item">
							<router-link :to="{ name: 'articles' }" @click.native="resetArticles">Makaleler</router-link>
						</li>
						<li class="nav-item">
							<router-link :to="{ name: 'videolessons' }" @click.native="resetVideolessons">Videodersler</router-link>
						</li>
						<li class="nav-item">
							<router-link :to="{ name: 'teachers'}" @click.native="resetMembers">Eğitmenler</router-link>
						</li>
						<li class="nav-item">
							<router-link :to="{name: 'page', params:{slug:'egitmen-ol'}}"  class="nav-link">Eğitmen Ol</router-link>
						</li>
						<li class="nav-item">
							<router-link :to="{name: 'books'}" href="#" class="nav-link">Kitaplar</router-link>
						</li>
						<li class="nav-item">
							<router-link :to="{name: 'page', params:{slug:'destek-ol'}}"  class="nav-link">Destek Ol</router-link>
						</li>
						<li class="nav-item">
							<router-link :to="{name: 'timeline'}" href="#" class="nav-link">Profilim</router-link>
						</li>
						
						<li class="close-responsive-menu js-close-responsive-menu">
							<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
						</li>
						<li class="nav-item js-expanded-menu">
							<a href="#" class="nav-link">
								<svg class="olymp-menu-icon"><use xlink:href="#olymp-menu-icon"></use></svg>
								<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
							</a>
						</li>

						<li class="menu-search-item">
							<a href="#" class="nav-link" data-toggle="modal" data-target="#main-popup-search">
								<svg class="olymp-magnifying-glass-icon"><use xlink:href="#olymp-magnifying-glass-icon"></use></svg>
							</a>
						</li>
					</ul>
				</div>
	  </div>

			<div class="author-page author vcard inline-items more">
				<div class="author-thumb">
					<img  :alt="username" :src="thumbnail" class="avatar">
					<span class="icon-status online"></span>
					<div class="more-dropdown more-with-triangle">
						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">Hesabınız</h6>
							</div>

							<ul class="account-settings">
								<li>
									<b-link :to="{ name: 'personal_information'}">

										<svg class="olymp-menu-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>

										<span>Profil Ayarları</span>
									</b-link>
								</li>
								 
								<li>
									<b-link
										@click.prevent="logout">
										<svg class="olymp-logout-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>

										<span>Çıkış Yap</span>
									</b-link>
								</li>
							</ul>

							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">Yogavidya Hakkında</h6>
							</div>

							<ul>
								<li>
									<router-link :to="{name: 'home'}">
										<span>Kullanım Koşulları</span>
									</router-link>
								</li>
								<li>
									<router-link :to="{name: 'home'}">
										<span>Sık Sorulan Sorular</span>
									</router-link>
								</li>
								<li>
									<router-link :to="{name: 'home'}">
										<span>Kariyer</span>
									</router-link>
								</li>
								<li>
									<router-link :to="{name: 'home'}">
										<span>İletişim</span>
									</router-link>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<a href="02-ProfilePage.html" class="author-name fn">
					<div class="author-title">
						{{username}} <svg class="olymp-dropdown-arrow-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
					</div>
					
				</a>
			</div>

		</div>
	</div>

</header>

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<header class="header header-responsive" id="site-header-responsive">

	<div class="header-content-wrapper">
		<b-navbar toggleable="lg" type="light" variant="light" class="header--white-wrap">
        <b-navbar-brand >
          <router-link :to="{ name: 'home'}" class="logo">
            <div class="img-wrap">
              <div v-if="!isMobile">
                <img src="@/assets/img/yogavidya-logo.png" alt="Yogavidya" class="logo-colored">
              </div>
              <div v-else>
                <img src="@/assets/img/logo-small.png" alt="Yogavidya" class="logo-colored">
              </div>
            </div>
            
          </router-link>
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        	<div class="nav nav-pills nav1 my-menu">
          	<div class="mCustomScrollbar">
	            <b-collapse id="nav-collapse" is-nav>

	              <!-- Right aligned nav items -->
	                <b-navbar-nav class="ml-auto">
	                 
	                <b-nav-item :to="{ name: 'articles'}" >Makaleler</b-nav-item>
	                <b-nav-item :to="{ name: 'videolessons'}" >Videodersler</b-nav-item>
	                <b-nav-item :to="{ name: 'teachers'}" >Eğitmenler</b-nav-item>
	                <b-nav-item :to="{ name: 'teachers'}" >Kamplar</b-nav-item>
	                <b-nav-item  class="nav-item" :to="{name: 'TeacherInfo'}">Eğitmen Ol</b-nav-item>
	                <b-nav-item  class="nav-item" :to="{name: 'page', params:{slug:'destek-ol'}}">Destek Ol</b-nav-item>
	                <b-nav-item  class="nav-item" :to="{name: 'login'}">Çıkış Yap</b-nav-item>
	              </b-navbar-nav>
	            </b-collapse>
	          </div>
	        </div>

      </b-navbar>
	</div>

	<!-- Tab panes -->
	<!-- ... end  Tab panes -->

</header>

<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>
</div>
</template>
<style scoped>
.header-menu {
	background-color:#3f4257;
}
.header-menu a {
    color: #ffffff;
}
.header .page-title > * {
  font-family: "Open Sans", Times, serif;
  color: #515365;
}
.header--white-wrap{
  background-color: #fff !important;
}
</style>