<script>
import { mapState } from 'vuex';
import FsLightbox from "fslightbox-vue";
export default{
	name: "TopHeaderProfile",
	data() {
  	return {
  		isLoading: true,
  		toggler: false
  	}
  },
	components: {
		FsLightbox
	},
	computed: {
		...mapState({
	    username: state => state.user.username,
	    thumbnail: state => state.user.thumbnail,
	    image: state => state.user.image,
	    big_thumbnail: state => state.user.big_thumbnail,
	    first_name: state => state.user.firstName,
	    last_name: state => state.user.lastName,
	    city: state => state.user.city,
  	}),
	},
  created() {
  	this.$store.dispatch("user/getUserInfo");
  	
  }
};
</script>
<template>
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="@/assets/img/top-header1.jpg" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<router-link :to="{ name: 'timeline' }">Haber Akışı</router-link>
									</li>
									<li>
										<router-link :to="{ name: 'hakkimda' }">Hakkımda</router-link>
									</li>
									<li>
										<router-link :to="{ name: 'teachers'}">Takip Ettiklerim</router-link>
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<router-link :to="{ name: 'profile_photos' }">Fotoğraflar</router-link>
									</li>
									<li>
										<router-link :to="{ name: 'members' }">Üyeler</router-link>
									</li>
									<li>
										<div class="more">
											<font-awesome-icon class="move-right" :icon="{ prefix: 'fas', iconName: 'ellipsis-h' }" />
											<ul class="more-dropdown more-with-triangle">
												<li>
													<router-link :to="{ name: 'photos' }">Profili Rapor Et</router-link>
												</li>
												<li>
													<router-link :to="{ name: 'photos' }">Profili Engelle</router-link>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="control-block-button">
							<a href="35-YourAccount-FriendsRequests.html" class="btn btn-control bg-blue">
								<svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control bg-purple">
								<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
							</a>

							<div class="btn btn-control bg-primar bg-custom more">
								<font-awesome-icon class="olymp-settings-icon" :icon="{ prefix: 'fas', iconName: 'cogs' }" />

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Profil Fotoğrafını Güncelle</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Kapak Fotoğrafını Günceller</a>
									</li>
									<li>
										<a href="29-YourAccount-AccountSettings.html">Hesap Ayarları</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="top-header-author">
						 
						<a @click.prevent="toggler = !toggler" href="#" class="author-thumb">
							<img  :alt="username" :src="big_thumbnail" class="avatar">
						</a>
						<FsLightbox
							:toggler="toggler"
							:sources="[big_thumbnail]"
							/>
						<div class="author-content">
							<a href="02-ProfilePage.html" class="h4 author-name">{{first_name}} {{last_name}}</a>
							<div class="country">{{city}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</template>
<style scope>
.bg-custom {
	background-color:#ff5e3a;
}
</style>