<script>
export default {
	name: "YourProfile",
};
</script>
<template>
				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Profiliniz</h6>
					</div>
				
					<div id="accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<h6 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Profil Ayarları
										<svg class="olymp-dropdown-arrow-icon"><use xlink:href="#olymp-dropdown-arrow-icon"></use></svg>
									</a>
								</h6>
							</div>
				
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<ul class="your-profile-menu">
								<li>
									<b-link :to="{name: 'personal_information'}">Kişisel Bilgiler</b-link>
								</li>
								 
								<li>
									<b-link :to="{name: 'change_password'}">Şifre Ayarları</b-link>
								</li>
								<li>
									<b-link :to="{name: 'hobbies_interests'}">Hobiler ve İlgiler</b-link>
								</li>
							</ul>
							</div>
						</div>
					</div>
				
					<div class="ui-block-title">
						<a href="33-YourAccount-Notifications.html" class="h6 title">Uyarılar</a>
						<a href="#" class="items-round-little bg-primary">8</a>
					</div>
					<div class="ui-block-title">
						<a href="35-YourAccount-FriendsRequests.html" class="h6 title">Takip İstekleri</a>
						<a href="#" class="items-round-little bg-blue">4</a>
					</div>
					<!-- Favori sayfalar 
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">FAVOURITE PAGE</h6>
					</div>
					<div class="ui-block-title">
						<a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Create Fav Page</a>
					</div>
					<div class="ui-block-title">
						<a href="36-FavPage-SettingsAndCreatePopup.html" class="h6 title">Fav Page Settings</a>
					</div>
					-->
				</div>
</template>