<template>
	 
  <li class="comment-item" >
		<div class="post__author-thumb">
			<img :src="node.user_thumbnail" alt="node.user">
		</div>
			
		<div class="comments-content">
			<div class="post__author author vcard">

				<div class="author-date">
					<a class="h6 post__author-name fn" href="#">{{node.user}}</a>
					<div class="post__date">
						<time class="published" datetime="node.created_at">
							&nbsp; -  {{node.created_at}} 
						</time>
					</div>
				</div>

			</div>

			<p>{{node.content}}</p>

			<button class="reply" v-on:click="isShow = !isShow">Cevapla</button>
			<form @submit.prevent="onSubmit" method="POST" v-show="isShow">
				<input type="hidden" v-model="parent" value="node.pk">
				<div class="crumina-module crumina-heading with-title-decoration">
					<h5 class="heading-title">Yorum Yazın</h5>
				</div>
				<div class="row">
					<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="form-group">
							<textarea class="form-control" id="commentText" v-model="content" placeholder="Mesajınız"></textarea>
						</div>
						 
						<b-button 
						 class="btn btn-primary btn-lg full-width"
						type="submit" variant="primary">Yorumu Gönder</b-button>
					</div>
				</div>
			</form>
			<p v-if="error">{{error}}</p>
			<a href="#" class="report">Şikayet et</a>
		</div>
					
    <ul v-if="node.children && node.children.length" class="children">
      <node v-for="child in node.children" :key="child.id" :node="child"></node>
    </ul>
  </li>
</template>

<script>
export default {
  name: "node",
  data() {
		return {
			isShow : false,
		}
	},
  props: {
    node: Object
  }
};
</script>