<template>
	 
  <li class="comment-item cmmnt">
		<div class="post__author-thumb avatar">
			<a href="javascript:void(0);"><img :src="node.user_thumbnail" alt="node.user"></a>
		</div>
			
		<div>
			<header>
				<a href="javascript:void(0);" class="userlink">{{node.user}}</a> 
				- <span class="pubdate">{{node.created_at}} </span></header>
			<div class="post__author author vcard">

			</div>
			<div class="cmmnt-content">
				{{node.content}}
			</div>
			<a href="#" class="reply">Reply</a>
			<a href="#" class="report">Report</a>
		</div>
					
    <ul v-if="node.children && node.children.length" class="children replies">
      <node v-for="child in node.children" :key="child.id" :node="child"></node>
    </ul>
  </li>
</template>

<script>
export default {
  name: "node",
  props: {
    node: Object
  }
};
</script>

<style scoped>
 #comments { display: block; }

#comments .cmmnt, ul .cmmnt, ul ul .cmmnt { display: block; position: relative; padding-left: 65px;  }

#comments .cmmnt .avatar  { position: absolute; top: 8px; left: 0; }
#comments .cmmnt .avatar img { 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#comments .cmmnt .avatar a:hover img { opacity: 0.77; }



#comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 12px; padding-top: 8px; }
#comments .cmmnt .cmmnt-content header { font-size: 1.3em; display: block; margin-bottom: 8px; }
#comments .cmmnt .cmmnt-content header .pubdate { color: #777; }
#comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; } 
#comments .cmmnt .replies { margin-bottom: 7px; }
</style>	