<template>
  <div class="tree">
    <ul class="tree-list">

      <node-tree :node="treeData"></node-tree>
      
    </ul>
  </div>
</template>

<script>
import NodeTree from "./NodeTree";

export default {
  props: {
    treeData: Object
  },
  components: {
    NodeTree
  }
};
</script>
