<script>
import { mapGetters, mapActions} from "vuex";
export default {
  name: "Books",
  
  computed: {
    ...mapGetters('books', {books: 'books'}),
  },
  methods: {
    ...mapActions(['books/fetchBooks']),
  },
  created() {
    this.$store.dispatch('books/fetchBooks').
    then(() => {
        console.log(this.$store);
        console.log(this.$route.params);
        this.isLoading = false;
    })
  }
};
</script>

<template>
<div>
  <div class="header-spacer--standard"></div>
    
  <div class="stunning-header-content mt-20">
    <h1 class="stunning-header-title">Kitaplar</h1>

    <ul class="breadcrumbs">
      <li class="breadcrumbs-item">
        <router-link 
            :to="{name: 'home'}"
            class="navbar-brand"
            >Anasayfa
        </router-link>
        
        <span class="icon breadcrumbs-custom">/</span>
      </li>
      <li class="breadcrumbs-item active">
        <span>Kitaplar</span>
      </li>
    </ul>
  </div>

<section class="pt120">
  <div class="container">
    <div class="row">
      <div 
        class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"
        v-for="book in books" 
          :key="book.id" :book="book">
        
        <!-- Product Item -->
        
        <div class="shop-product-item">
          <div class="product-thumb">
            <img :src="book.image" alt="book.title">
          </div>
          <div class="product-content">
            <div class="block-title">
              <router-link
                :to="{name: 'article', params: {slug: article.slug}}"
                class="h5 title"
              >
              {{book.title}}
              </router-link>
            </div>
            <div class="block-price">
              
              <div class="product-price">{{book.price}}</div>
        
              <a href="#" class="in-cart">
                <svg class="olymp-shopping-bag-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>
              </a>
            </div>
          </div>
        </div>
        
        <!-- ... end Product Item -->

      </div>

      <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center pb120 pt120">

        
        <!-- Pagination -->
        
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: -10.3833px; top: -16.8333px; background-color: rgb(255, 255, 255); transform: scale(16.7857);"></div></div></a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">12</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
        
        <!-- ... end Pagination -->

      </div>
    </div>
  </div>
</section>

</div>
</template>