{% extends "auth_layout.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% get_social_accounts user as accounts %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block head_title %}YogaVidya{% endblock %}
{% block topbar %} {% include 'snippets/header.html' %}{% endblock %}
{% block content %}
<div class="content-bg-wrap"></div>


<div class="container">
  <div class="row display-flex">
    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="landing-content">
        <h1>{% trans "Welcome to the Biggest Yoga Network in the World" %}</h1>
        {% blocktrans %}
        <p>Become a member for free, practice anywhere using the systematical videos, ask skilled teachers, meet new people.</p>
        {% endblocktrans %}
        <a href="#" class="btn btn-md btn-border c-white">{% trans "Register Now!" %}</a>
      </div>
    </div>

    <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
      <!-- Login-Registration Form  -->

      <div class="registration-login-form">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">
              <svg class="olymp-login-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-login-icon"></use></svg>
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="profile" role="tabpanel" data-mh="log-tab">
            <div class="title h6">{% trans "Login to your Account" %}</div>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if form.errors %}
            {%endif%}
            <form class="content" action="{% url 'profiles:student_login' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              <div class="row">
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  {{form|crispy}}

                  <div class="remember">

                    <div class="checkbox">
                      <label>
                        <input name="remember_me" type="checkbox">
                        {% trans "Remember Me" %}
                      </label>
                    </div>
                    <a href="{% url 'password_reset' %}" class="forgot">{% trans "Forgot my Password" %}</a>
                  </div>
                  <input type="submit" value="{% trans 'Login' %}" class="btn btn-lg btn-primary full-width"/>


                  <div class="or"></div>
                  <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>

                  

                  <p>{% trans "Don’t you have an account? " %}<a href="{% url 'profiles:student_signup' %}">{% trans "Register Now!" %}</a> {% trans "it’s really simple and you can start enjoing all the benefits!" %}</p>
                </div>


          </div>
          </form>
        </div>
      </div>
      <!-- ... end Login-Registration Form  -->   </div>
  </div>
</div>
{% endblock content %}
{% block footer_content %}
<script type="text/javascript">
  $(document).ready(function() {

    $('body').addClass("landing-page")

  });
</script>

{% endblock %}
{% block social_login%}
<a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f" aria-hidden="true"></i>{% trans 'Login with Facebook' %}</a>

                  <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i class="fab fa-twitter" aria-hidden="true"></i>{% trans 'Login with Twitter' %}</a>
{%endblock%}