{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load l10n %}
{% load tz %}
			<div class="crumina-module crumina-heading with-title-decoration">
				<h5 class="heading-title">{% trans 'Comments' %} ({{article.comments.count}})</h5>
			</div>
			<!-- Comments -->
			
			<ul class="comments-list style-3" id="articleComments">
				{% for comment in comments %}
				<li class="comment-item has-children moreList">
					<div class="post__author-thumb">
						{% thumbnail comment.user.image "401x287" crop="center" as im %}
				            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{comment.user.username}}" title="{{comment.user.username}}">
				        {% endthumbnail %}
					</div>
			
					<div class="comments-content">
						<div class="post__author author vcard">
							<div class="author-date">
								<a class="h6 post__author-name fn" href="#">{{comment.user.get_full_name }}</a>
								<div class="post__date">
									<time class="published" datetime="{{article.publish_at}}">
										{{article.publish_at|timesince}}
									</time>
								</div>
							</div>
						</div>
						<p>{{comment.content}}</p>
						<a data-toggle="collapse" href="#{{comment.id}}"class="reply" role="button" aria-expanded="false" aria-controls="collapseExample">{% trans 'Reply' %}</a>
						<a href="#" class="report">Report</a>
						<div>
						<form id="{{comment.id}}" class="collapse" method="post">
						<br>
						{% csrf_token %}
						<input type="hidden"  name="parent" value="{{comment.id}}">
						<div class="crumina-module crumina-heading with-title-decoration">
							<h5 class="heading-title">{% trans 'Write a Reply' %}</h5>
						</div>
						<div class="row">
							<div class="col col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group label-floating is-empty">
									<label class="control-label">{% trans 'Reply Comment' %}</label>
									<textarea class="form-control" placeholder="" name="content"></textarea>
								</div>
								<button class="btn btn-primary btn-lg full-width" type="Submit">{% trans 'Post your Reply' %}</button>
							</div>
						</div>
						</form>
						</div>
					</div>
			
					<ul class="children first-children-level">
						{% for reply in comment.replies.all %}

						<li class="comment-item">
							<div class="post__author-thumb">
								{% thumbnail comment.user.image "401x287" crop="center" as im %}
				                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{reply.user.username}}" title="{{reply.user.username}}">
				              	{% endthumbnail %}
							</div>
			
							<div class="comments-content">
								<div class="post__author author vcard">
			
									<div class="author-date">
										<a class="h6 post__author-name fn" href="#">{{reply.user.get_full_name }}</a>
										<div class="post__date">
											<time class="published" datetime="{{reply.publish_at}}">
												{{reply.publish_at|timesince}}
											</time>
										</div>
									</div>
			
								</div>
			
								<p>{{reply.content}}
								</p>
								<a data-toggle="collapse" href="#{{reply.id}}"class="reply" role="button" aria-expanded="false" aria-controls="collapseExample">{% trans 'Reply' %}</a>
								<form id="{{reply.id}}" class="collapse" method="post">
								{% csrf_token %}
								<input type="hidden"  name="parent" value="{{reply.id}}">
								<br>
								<div class="crumina-module crumina-heading with-title-decoration">
									<h5 class="heading-title">{% trans 'Write a Reply' %}</h5>
								</div>
								<div class="row">
							
									<div class="col col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
										<div class="form-group label-floating is-empty">
											<label class="control-label">{% trans 'Reply Comment' %}</label>
											<textarea class="form-control" placeholder="" name="content"></textarea>
										</div>
										<button class="btn btn-primary btn-lg full-width" type="Submit">{% trans 'Post your Reply' %}</button>
									</div>
								</div>
								</form>
								<a href="#" class="report">Report</a>
							</div>
							<ul class="children second-children-level">
								{% for reply_second in reply.replies.all %}
								<li class="comment-item">
									<div class="post__author-thumb">
										{% thumbnail comment.user.image "401x287" crop="center" as im %}
						                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{reply_second.user.username}}" title="{{reply_second.user.username}}">
						              	{% endthumbnail %}
									</div>
					
									<div class="comments-content">
										<div class="post__author author vcard">
					
											<div class="author-date">
												<a class="h6 post__author-name fn" href="#">{{reply_second.user.get_full_name }}</a>
												<div class="post__date">
													<time class="published" datetime="{{reply_second.publish_at}}">
														{{reply_second.publish_at|timesince}}
													</time>
												</div>
											</div>
					
										</div>
					
										<p>{{reply_second.content}}
										</p>
					
										<a data-toggle="collapse" href="#{{reply_second}}" class="reply" role="button" aria-expanded="false" aria-controls="collapseExample">{% trans 'Reply' %}</a>
										<form id="{{reply_second.id}}" class="collapse" method="post">
										{% csrf_token %}
										<input type="hidden"  name="parent" value="{{reply_second.id}}">
										<br>
										<div class="crumina-module crumina-heading with-title-decoration">
											<h5 class="heading-title">{% trans 'Write a Reply' %}</h5>
										</div>
										<div class="row">
											<div class="col col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
												<div class="form-group label-floating is-empty">
													<label class="control-label">{% trans 'Reply Comment' %}</label>
													<textarea class="form-control" placeholder="" name="content"></textarea>
												</div>
												<button class="btn btn-primary btn-lg full-width" type="Submit">{% trans 'Post your Reply' %}</button>
											</div>
										</div>
										</form>
										<a href="#" class="report">Report</a>
									</div>
									<ul class="children third-children-level">
										{% for reply_last in reply_second.replies.all %}
										<li class="comment-item">
											<div class="post__author-thumb">
												{% thumbnail comment.user.image "401x287" crop="center" as im %}
								                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{reply_last.user.username}}" title="{{reply_last.user.username}}">
								              	{% endthumbnail %}
											</div>
							
											<div class="comments-content">
												<div class="post__author author vcard">
							
													<div class="author-date">
														<a class="h6 post__author-name fn" href="#">{{reply_last.user.get_full_name }}</a>
														<div class="post__date">
															<time class="published" datetime="{{reply_last.publish_at}}">
																{{reply_last.publish_at|timesince}}
															</time>
														</div>
													</div>
							
												</div>
												<p>{{reply_last.content}}</p>
												<a href="#" class="report">Report</a>
											</div>
										</li>
										{% endfor %}

									</ul>
								</li>
								{% endfor %}
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
			
			<!-- ... end Comments -->
			<!--<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center">
				<a href="#" id="loadMore" class="btn btn-purple btn-md mb60 mt60">{% trans 'Load More Comments...' %}</a>
			</div>-->

			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

				
				<!-- Comment Form -->
				
				<form id="comment"  method="post">
					{% csrf_token %}
					<div class="crumina-module crumina-heading with-title-decoration">
						<h5 class="heading-title">{% trans 'Write a Comment' %}</h5>
					</div>
					<div class="row">
						<!--<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="form-group label-floating">
								<label class="control-label">{% trans 'Your Name' %}</label>
								<input class="form-control" placeholder="" value="James Spiegel" type="text">
							</div>
						</div>
						<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="form-group label-floating">
								<label class="control-label">{% trans 'Your Email' %}</label>
								<input class="form-control" placeholder="" value="jspiegel@yourmail.com" type="email">
							</div>
						</div>-->
				
						<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="form-group label-floating is-empty">
								<label class="control-label">{% trans 'Your Comment' %}</label>
								<textarea class="form-control" name="content" placeholder=""></textarea>
							</div>
							<button href="#" class="btn btn-primary btn-lg full-width" type="Submit">{% trans 'Post your Comment' %}</button>
						</div>
					</div>
				</form>
				
				<!-- ... end Comment Form -->

