{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load mptt_tags %}
          
			<div class="crumina-module crumina-heading with-title-decoration">
				<h5 class="heading-title">{% trans 'Comments' %} ({{article.comments.count}})</h5>
			</div>
			<!-- Comments -->
			
			<ul class="comments-list style-3" id="articleComments">
				{% recursetree comments %}
				<li class="comment-item has-children moreList">
					<div class="post__author-thumb">
						{% thumbnail node.user.image "401x287" crop="center" as im %}
				            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{node.user.username}}" title="{{node.user.username}}">
				        {% endthumbnail %}
					</div>
			
					<div class="comments-content">
						<div class="post__author author vcard">
							<div class="author-date">
								<a class="h6 post__author-name fn" href="#">{{node.user.get_full_name }}</a>
								<div class="post__date">
									<time class="published" datetime="{{article.publish_at}}">
										{{article.publish_at|timesince}}
									</time>
								</div>
							</div>
						</div>
						<p>{{node.content}}</p>
						<a data-toggle="collapse" href="#{{node.id}}" class="reply" role="button" aria-expanded="false" aria-controls="collapseExample">{% trans 'Reply' %}</a>
						<a href="#" class="report">Report</a>
						<div>
						<form id="{{node.id}}" class="collapse"  method="post">
						<br>
						{% csrf_token %}
						<input type="hidden"  name="parent" value="{{node.id}}">
						<div class="crumina-module crumina-heading with-title-decoration">
							<h5 class="heading-title">{% trans 'Write a Reply' %}</h5>
						</div>
						<div class="row">
							<div class="col col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group label-floating is-empty">
									<label class="control-label">{% trans 'Reply Comment' %}</label>
									<textarea class="form-control" placeholder="" name="content"></textarea>
								</div>
								<button class="btn btn-primary btn-lg full-width" type="Submit">{% trans 'Post your Reply' %}</button>
							</div>
						</div>
						</form>
						</div>
					</div>
 					{% if not node.is_leaf_node %}
 						<ul class="children first-children-level">
			            {{ children }}
			        	</ul>
			          {% endif %}
				</li>
				{% endrecursetree %}
			</ul>
			
			<!-- ... end Comments -->
			<!--<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center">
				<a href="#" id="loadMore" class="btn btn-purple btn-md mb60 mt60">{% trans 'Load More Comments...' %}</a>
			</div>-->

			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

				
				<!-- Comment Form -->
				
				<form id="comment"  method="post">
					{% csrf_token %}
					<div class="crumina-module crumina-heading with-title-decoration">
						<h5 class="heading-title">{% trans 'Write a Comment' %}</h5>
					</div>
					<div class="row">
						<!--<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="form-group label-floating">
								<label class="control-label">{% trans 'Your Name' %}</label>
								<input class="form-control" placeholder="" value="James Spiegel" type="text">
							</div>
						</div>
						<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="form-group label-floating">
								<label class="control-label">{% trans 'Your Email' %}</label>
								<input class="form-control" placeholder="" value="jspiegel@yourmail.com" type="email">
							</div>
						</div>-->
				
						<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="form-group label-floating is-empty">
								<label class="control-label">{% trans 'Your Comment' %}</label>
								<textarea id="comment_content" class="form-control" name="content" placeholder=""></textarea>
								<input type="hidden" class="main_id" name="main_id" value="{{article.id}}">
							</div>
							<button href="#" class="btn btn-primary btn-lg half-width" type="Submit">{% trans 'Post your Comment' %}</button>
						</div>
					</div>
				</form>
				
				<!-- ... end Comment Form -->

