{% load static %}
{% load i18n %}
<a class="back-to-top" href="#">
	<img src="/static/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>
<!-- Footer Full Width -->

<div class="footer footer-full-width" id="footer">
	<div class="container">
		<div class="row">
			<div class="col col-lg-4 col-md-4 col-sm-12 col-3">


				<!-- Widget About -->

				<div class="widget w-about">

					<a href="02-ProfilePage.html" class="logo">
						<div class="img-wrap">
							<img src="{% static 'img/logo.png' %}" alt="YogaVidya">
						</div>
						<div class="title-block">
							<h6 class="logo-title">YogaVidya</h6>
							<div class="sub-title">{% trans "Social Network" %}</div>
						</div>
					</a>
					<p>{% trans 'Everyday Yoga!  Yoga for everybody!' %}</p>
					<ul class="socials">
						<li>
							<a href="https://www.facebook.com/yogavidyaturkiye/">
								<i class="fab fa-facebook-square" aria-hidden="true"></i>
							</a>
						</li>
 
						<li>
							<a href="https://www.instagram.com/yogavidyaturkiye/">
								<i class="fab fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>

				<!-- ... end Widget About -->

			</div>

			<div class="col col-lg-2 col-md-4 col-sm-12 col-3">


				<!-- Widget List -->

				<div class="widget w-list">
					<h6 class="title">{% trans 'Main Links' %}</h6>
					<ul>
						<li>
							<a href="{% url 'home' %}">{% trans 'Home' %}</a>
						</li>
						<li>
							<a href="{% url 'home' %}">{% trans 'Find A Teacher' %}</a>
						</li>
						<li>
							<a href="{% url 'articles:list' %}">{% trans 'Articles' %}</a>
						</li>
						<li>
							<a href="{% url 'videolessons:list' %}">{% trans 'Videolessons' %}</a>
						</li>
						<li>
							<a href="{% url 'events:list' %}">{% trans 'Camps and Events' %}</a>
						</li>
					</ul>
				</div>

				<!-- ... end Widget List -->

			</div>
			{% if request.user.is_authenticated %}
			<div class="col col-lg-2 col-md-4 col-sm-12 col-3">


				<div class="widget w-list">
					<h6 class="title">{% trans 'About' %}</h6>
					<ul>
						<li>
							<a href="#">{% trans 'Friends' %}</a>
						</li>
						<li>
							<a href="#">{% trans 'Photos' %}</a>
						</li>
					</ul>
				</div>

			</div>
			{% endif %}
 
			<div class="col col-lg-2 col-md-4 col-sm-12 col-3">


				<div class="widget w-list">
					<h6 class="title">YogaVidya</h6>
					<ul>
						<li>
							<a href="{% url 'pages:detail' slug='gizlilik-ayarlari' %}">{% trans 'Privacy' %}</a>
						</li>
						<li>
							<a href="{% url 'pages:detail' slug='kullanim-kosullari' %}">{% trans 'Terms & Conditions' %}</a>
						</li>
					</ul>
				</div>

			</div>

			<div class="col col-lg-12 col-md-12 col-sm-12 col-12">


				<!-- SUB Footer -->

				<div class="sub-footer-copyright">
					<span>
						Copyright <a href="{%url 'home' %}">Yogavidya</a> {% trans 'All Rights Reserved' %} {% now 'Y' %}
					</span>
				</div>

				<!-- ... end SUB Footer -->

			</div>
		</div>
	</div>
</div>

<!-- ... end Footer Full Width -->
