{% load static %}
{% load i18n %}
<!-- Header Standard -->

<div class="header--standard   " id="header--standard">
	<div class="container">
		<div class="header--standard-wrap">
			<a href="/" class="logo">
				<div class="img-wrap">
					<img src="{% static 'img/yogavidya-logo.png' %}" alt="YogaVidya">
				</div>
				<!--<div class="title-block">
					<h6 class="logo-title">YogaVidya Network</h6>
					<div class="sub-title">{% trans "Social Network" %}</div>
				</div>-->
			</a>

			<a href="#" class="open-responsive-menu js-open-responsive-menu">
				<svg class="olymp-menu-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
			</a>

			<div class="nav nav-pills nav1 header-menu">
				<div class="mCustomScrollbar">
					<ul>
						<li class="nav-item">
							<a href="/" class="nav-link">{% trans "Home" %}</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Header Standard -->
<div class="header-spacer--standard"></div>
