{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load l10n %}
{% load tz %}
<!-- Header-BP -->

<header class="header" id="site-header">

	<div class="page-title">
		<a href="{% url 'home' %}" class="stylish-logo"><h6 class="stylish-fonts">YOGAVIDYA</h6></a>	
	</div>

	<div class="header-content-wrapper">
		<!-- <form class="search-bar w-search notification-list friend-requests">
			<div class="form-group with-button">
				<input class="form-control" placeholder="{% trans 'Search here people or pages...' %}" type="text">
				<button>
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
				</button>
			</div>
		</form>

		<a href="#" class="link-find-friend">Find Friends</a>
	-->
		

		<div class="control-block">
			<a href="{% url 'articles:list' %}" class="link-find-friend">{% trans 'Articles' %}</a>
			<a href="{% url 'videolessons:list' %}" class="link-find-friend">{% trans 'Videolessons' %}</a>
			<a href="{% url 'merchandises:list' %}" class="link-find-friend">{% trans 'Books' %}</a>
			<a href="{% url 'profiles:teachers:teachers_list' %}" class="link-find-friend">{% trans 'Teachers' %}</a>
			<a href="{% url 'profiles:profile_settings' %}" class="link-find-friend">{% trans 'My Profile' %}</a>
			<div class="author-page author vcard inline-items more">
				
				<div class="author-thumb">
					{% thumbnail user.image "60x60" crop="center" as im %}
							<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="request.user.username" class="avatar">
					{% endthumbnail %}

					<span class="icon-status online"></span>
					<div class="more-dropdown more-with-triangle">
						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">{% trans 'Your Account' %}</h6>
							</div>

							<ul class="account-settings">
								<li>
									<a href="{% url 'profiles:profile_settings' %}">

										<svg class="olymp-menu-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>

										<span>{% trans 'Profile Settings' %}</span>
									</a>
								</li>
								<!--
								<li>
								<a href="36-FavPage-SettingsAndCreatePopup.html">
										<svg class="olymp-star-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FAV PAGE"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>

										<span>Create Fav Page</span>
									</a>
								</li>
								-->
								<li>
									<a href="{% url 'profiles:logout' %}">
										<svg class="olymp-logout-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>

										<span>{% trans "Log Out"%}</span>
									</a>
								</li>
							</ul>

 

							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">{% trans 'Custom Status' %}</h6>
							</div>

							<form class="form-group with-button custom-status">
								<input class="form-control" placeholder="" type="text" value="Space Cowboy">

								<button class="bg-purple">
									<svg class="olymp-check-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-check-icon"></use></svg>
								</button>
							</form>

							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">{% trans 'About YogaVidya' %}</h6>
							</div>

							<ul>
								<li>
									<a href="#">
										<span>{% trans 'Terms and Conditions' %}</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>{% trans 'FAQs' %}</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>{% trans 'Careers' %}</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>{% trans 'Contact' %}</span>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<a href="{% url 'home' %}" class="author-name fn">
					<div class="author-title">
						{{request.user.first_name}} <svg class="olymp-dropdown-arrow-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
					</div>
					<span class="author-subtitle">{{request.user.username}}</span>
				</a>
			</div>

		</div>
	</div>

</header>

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<header class="header header-responsive" id="site-header-responsive">

	<div class="header-content-wrapper">
		<ul class="nav nav-tabs mobile-app-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#request" role="tab">
					<div class="control-icon has-items">
						<svg class="olymp-happy-face-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
						<div class="label-avatar bg-blue">6</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#chat" role="tab">
					<div class="control-icon has-items">
						<svg class="olymp-chat---messages-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
						<div class="label-avatar bg-purple">2</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#notification" role="tab">
					<div class="control-icon has-items">
						<svg class="olymp-thunder-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
						<div class="label-avatar bg-primary">8</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#search" role="tab">
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
					<svg class="olymp-close-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
				</a>
			</li>
		</ul>
	</div>

</header>

<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>
