{% load static %}
{% load i18n %}

<!-- Header Standard -->
<!-- Header Standard Landing  -->

<div class="header--standard" id="header--standard">
	<div class="container">
		<div class="header--standard-wrap">

			<a href="{% url 'home' %}" class="logo">
				<div class="img-wrap">
					<img src="{% static 'img/yogavidya-logo.png' %}" alt="YogaVidya" class="logo-colored">
				</div>
				<!--<div class="title-block">
					<h6 class="logo-title">YOGAVIDYA</h6>
					<div class="sub-title">SOCIAL NETWORK</div>
				</div>-->
			</a>
			<a href="#" class="open-responsive-menu js-open-responsive-menu">
				<svg class="olymp-menu-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
			</a>

			<div class="nav nav-pills nav1 header-menu">
				<div class="mCustomScrollbar">
					<ul>
						<li class="nav-item">
							<a href="{% url 'home' %}" class="nav-link">{% trans 'Home' %}</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" tabindex='1'>{% trans 'Educations' %}</a>
							<div class="dropdown-menu">
								<a href="{% url 'articles:list' %}" class="dropdown-item">{% trans "Articles" %}</a>
								<a href="{% url 'videolessons:list' %}" class="dropdown-item">{% trans "Videolessons" %}</a>
								<a href="{% url 'profiles:teachers:teachers_list' %}" class="dropdown-item">{% trans "Teachers" %}</a>
							</div>
						</li>
						<li class="nav-item">
                            <a href="{% url 'profiles:teachers:teachers_info' %}" class="nav-link">{% trans "For Teachers"%}</a>
                        </li>
						<li class="nav-item">
							<a href="{% url 'merchandises:list' %}" class="nav-link">{% trans "Books" %}</a>
						</li>
						{% if not request.user.is_authenticated %}
						<li class="nav-item">
							<a href="{% url 'profiles:student_login' %}" class="nav-link">{% trans "Login" %}</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'profiles:student_signup' %}" class="nav-link">{% trans "Sign Up"%}</a>
						</li>
                        {% else %}
                        <li class="nav-item">
							<a href="{% url 'profiles:logout' %}" class="nav-link">{% trans "Logout"%}</a>
						</li>
 						{% endif %}

						<li class="nav-item">
                            <a href="{% url 'pages:detail' slug='destek-ol' %}" class="nav-link btn btn-primary">{% trans "Support Us"%}</a>
                        </li>

						<li class="close-responsive-menu js-close-responsive-menu">
							<svg class="olymp-close-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
						</li>
		 
						<li class="menu-search-item">
							<a href="#" class="nav-link" data-toggle="modal" data-target="#main-popup-search">
								<svg class="olymp-magnifying-glass-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Header Standard -->
<div class="header-spacer--standard"></div>
