{% load static %}
{% load thumbnail %}
{% load i18n %}
<aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">

      <div class="ui-block">
        
        <!-- W-Calendar -->
        <!-- ... end W-Calendar -->     </div>

      <div class="ui-block">

        <div class="ui-block-title">
          <h6 class="title">{% trans 'Activity Feed' %}</h6>
          <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
        </div>

        
        <!-- W-Activity-Feed -->
        
        <ul class="widget w-activity-feed notification-list">
          {% for action in actions %}
          <li>
            <div class="author-thumb">
              {% thumbnail action.user.image "50x50" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
            </div>
            <div class="notification-event">
              <a href="{% url 'profiles:detail' action.user.username %}" class="h6 notification-friend">{{action.user.username}}</a> {% trans 'has posted a' %} <a href="#" class="notification-link">{{action.target_ct}}</a>.
              <span class="notification-date"><time class="entry-date updated" datetime="action.created_at">{{action.created_at|timesince}}</time></span>
            </div>
          </li>
          {% endfor %}
           
        
        </ul>
        
        <!-- .. end W-Activity-Feed -->
      </div>
    </aside>