{% load static %}
{% load i18n %}
<aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

			<div class="ui-block">
				
				<!-- W-Birthsday-Alert -->
				{% for user in birthdays %}
				<div class="widget w-birthday-alert">
					<div class="icons-block">
						<svg class="olymp-cupcake-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-cupcake-icon"></use></svg>
						<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
					</div>
				
					<div class="content">
						<div class="author-thumb">
							<img src="img/avatar48-sm.jpg" alt="author">
						</div>
						<span>Today is</span>
						<a href="#" class="h4 title">{{user.get_full_name}} {% trans 'Birthday!' %}</a>
					</div>
				</div>
				{% endfor %}
				<!-- ... end W-Birthsday-Alert -->			
			</div>
 




			<div class="ui-block">

				

				<!-- ... end W-Action -->
			</div>

		</aside>