{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load l10n %}
{% load tz %}
<script type="text/javascript">

Dropzone.autoDiscover = false;
  $(document).ready(function () {
   
        
        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
    var dropzone = new Dropzone('#demo-upload', {
      
      url:'/profiller/upload_picture',
      previewTemplate: "<div><span class=\"preview\"><img data-dz-thumbnail /></span></div>",
      parallelUploads: 2,
      thumbnailHeight: 120,
      thumbnailWidth: 120,
      maxFilesize: 1,
      filesizeBase: 1000,
      paramName: "image"


    });
        Dropzone.options.demoUpload = {

            // Prevents Dropzone from uploading dropped files immediately
            autoProcessQueue : true,

            init : function() {
                var submitButton = document.querySelector("#submit-all")
                myDropzone = this;

                submitButton.addEventListener("click", function() {
                    myDropzone.processQueue();
                    // Tell Dropzone to process all queued files.
                });

                // You might want to show the submit button only when
                // files are dropped here:
                this.on("addedfile", function() {
                    // Show submit button here and/or inform user to click it.
                    console.log("blah")
                });
            }
        };
   });

</script>
  <script>
  $(document).ready(function(){
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#photoModal").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });

    });
  });
  </script>



  <!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop">
  	<div class="container">
    	<div class="row">
	    	<div class="col-lg-12">
			    <div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			            <span aria-hidden="true">&times;</span>
			          </button>
			          <h4 class="modal-title">Crop the photo</h4>
			        </div>
			        <div class="modal-body">
			          <img src="" id="image" style="max-width: 100%;">
			        </div>
			        <div class="modal-footer">
			          <div class="btn-group pull-left" role="group">
			            <button type="button" class="btn btn-default js-zoom-in">
			              <span class="glyphicon glyphicon-zoom-in"></span>
			            </button>
			            <button type="button" class="btn btn-default js-zoom-out">
			              <span class="glyphicon glyphicon-zoom-out"></span>
			            </button>
			          </div>
			          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
			          <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
			        </div>
			      </div>
			</div>
    	</div>
    </div>
    </div>
  </div>




<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Upload a New Profile Photo' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
              <div class="ui-block">
                <div class="ui-block-title">
                  <h6 class="title">{% trans 'Upload a Profile Photo' %}</h6>
                </div>
                <div class="ui-block-content">
                  <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
          
                    <div class="form-group label-floating">
                    {% thumbnail user.image "401x287" crop="center" as im %}
                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                              <div style="margin-top:20px;">
                                <label class="control-label">{% trans 'Your Profile Photo' %}</label>
                       
                        <button type="button" id="photoModal" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                          {% trans 'Edit Your Profile Photo' %}
                        </button>
                              </div>
                      <!-- Button trigger modal -->
                    </div>
                     
                  </div>
                  
                </div>
              </div>
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Upload a new Photo' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row form-group label-floating">
            <div class="col">
              <h5 class="modal-title" id="exampleModalLabel">{% trans 'Your Profile Photo' %}</h5>
              {% thumbnail user.image "401x287" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="center">
              {% endthumbnail %}
            </div>
          </div>
        </div>
        <div class="row form-group label-floating">
          <div id="dropzone" class="col col-lg-12 col-md-12 col-sm-12 col-12">
          <form  method="POST" class="dropzone" id="demo-upload" enctype="multipart/form-data">
            {% csrf_token %}
            <div class='fallback'>
              <input name='image' type='file' multiple />
            </div>
            <button type="submit" id="button" class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-primary">{% trans 'Upload Photo' %}</button>
      </div>
    </div>
  </div>
</div>