{% load i18n %}
		<div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
			<div class="ui-block">

				
				
				<!-- Your Profile  -->
				
				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">{% trans 'Your PROFILE' %}</h6>
					</div>
				
					<div id="accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<h6 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										{% trans 'Profile Settings' %}
										<svg class="olymp-dropdown-arrow-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
									</a>
								</h6>
							</div>
				
							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<ul class="your-profile-menu">
									<li>
										<a href="{% url 'profiles:profile_settings' %}">{% trans 'Personal Information' %}</a>
									</li>
									<li>
										<a href="{% url 'profiles:profile_photo_update' %}">{% trans 'Profile Photo' %}</a>
									</li>
									<li>
										<a href="{% url 'password_change' %}">{% trans 'Change Password' %}</a>
									</li>
									<li>
										<a href="{% url 'profiles:hobbies_settings' %}">{% trans 'Hobbies and Interests' %}</a>
									</li>

								</ul>
							</div>
						</div>
					</div>
				
				</div>
				
				<!-- ... end Your Profile  -->
				

			</div>
		</div>