{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load l10n %}
{% load tz %}

<div class="container">
	<div class="row">

		<!-- Main Content -->

		<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">

			<div class="ui-block">
 
				<!-- News Feed Form  -->
				
				<div class="news-feed-form">
							
					<!-- Tab panes --> 
							<form method="post" id="status" action="{% url 'status:create_status' %}">
								{% csrf_token %}
								<div class="author-thumb">
								{% thumbnail user.image "32x32" crop="center" as im %}
				                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				              	{% endthumbnail %}
								</div>
								<div class="form-group with-icon label-floating is-empty">
									<p>
									<label class="control-label">{% trans 'Share what you are thinking here...' %}</label>
									<textarea name="content" id="statusTextBox" rows="4" cols="45"  class="form-control" autofocus></textarea>
									</p>
								</div>
								<div class="add-options-message">
									<button class="btn btn-primary btn-md-2" type="Submit">{% trans 'Post Status' %}</button>
				
								</div>
				
							</form>

					</div>
				</div>
				
				<!-- ... end News Feed Form  -->			 

			<div id="newsfeed-items-grid">
				<div id="status-list">
				<div class="loading" style="display: none;">
    			{% trans 'Loading...' %}
  				</div>
				{% for status in status_list %}
				<div class="ui-block">
					
					<article class="hentry post video">
					
						<div class="post__author author vcard inline-items">
							{% thumbnail user.image "32x32" crop="center" as im %}
				                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				            {% endthumbnail %}
					
							<div class="author-date">
								<a class="h6 post__author-name fn" href="#">{{user.username}}</a> {% trans 'shared a status' %}
								<div class="post__date">
									<time class="published" datetime="status.created_at">
										{{status.created_at|timesince}}
									</time>
								</div>
							</div>
							
							<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
								<ul class="more-dropdown">
									{% if request.user == status.user %}
									<li>
										<a href="#" data-id="{{ status.id }}" class="edit" data-toggle="modal" data-target="#update-status" >{% trans 'Edit Status' %}</a>
									</li>
									<li>
										<a href="#" data-id="{{ status.id }}" class="delete" >{% trans 'Delete Post' %}</a>
									</li>
									{% endif %}
									{% if not request.user == status.user %}
									<li>
										<a href="#">{% trans 'Turn Off Notifications' %}</a>
									</li>
									<li>
										<a href="#">{% trans 'Select as Featured' %}</a>
									</li>
									{%endif%}
								</ul>
							</div>
					
						</div>
					
						<p>{{status.content}}</p>
				 
 						<form method="post">
							{% csrf_token %}
							<div class="author-thumb">
							{% thumbnail user.image "20x20" crop="center" as im %}
			                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
			              	{% endthumbnail %}
							</div>
							<div class="form-group with-icon label-floating is-empty">
								<label class="control-label">{% trans 'Share what you are thinking here...' %}</label>
								<textarea name="content" id="statusTextBox" rows="2" cols="20"  class="form-control" autofocus></textarea>
							</div>
							<div class="add-options-message">
								<button class="btn btn-primary btn-md-2" type="Submit">{% trans 'Post Status' %}</button>
			
							</div>
			
						</form>
						{% if request.user == status.user %}
						<div class="control-block-button post-control-button">
					
							<a href="#" class="btn btn-control">
								<svg class="olymp-like-post-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
							</a>
					
							<a href="#" class="btn btn-control">
								<svg class="olymp-comments-post-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</a>
					
							<a href="#" class="btn btn-control">
								<svg class="olymp-share-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-share-icon"></use></svg>
							</a>
					
						</div>
						{% endif %}
					</article>
				</div>
				<!-- Window-popup Create Photo Album -->
					<div class="modal fade" id="update-status" tabindex="-1" role="dialog" aria-labelledby="update-status" aria-hidden="true">
						<div class="modal-dialog window-popup create-photo-album" role="document">
							<div class="modal-content">
								<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
									<svg class="olymp-close-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
								</a>

								<div class="modal-header">
									<h6 class="title">{% trans 'Edit Your Status' %}</h6>
								</div>

								<div class="modal-body">

								<form method="post" id="update-status-form" data-id="{{ status.id }}"  action="{% url 'statusses:update' %}">
									{% csrf_token %}
									<div class="author-thumb">
									{% thumbnail user.image "32x32" crop="center" as im %}
					                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
					              	{% endthumbnail %}
									</div>
									<div class="form-group with-icon label-floating">
										<p>
										
										<textarea name="content" id="statusUpdateBox" rows="4" cols="45"  class="form-control"   autofocus>{{status.content}}</textarea>
										</p>
									</div>
									<div class="add-options-message">
										<button class="btn btn-primary btn-md-2" type="Submit">{% trans 'Post Status' %}</button>

									</div>
									
								</form>
							</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>

			</div>
			{% if numbers.has_next %}
			<a id="load-more-button" href="?page={{ page_obj.next_page_number }}" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
			{% endif %}
		</main>
