<!-- Stunning header -->

<div class="stunning-header bg-primary-opacity">



	<div class="header-spacer--standard"></div>

	<div class="stunning-header-content">
		<h1 class="stunning-header-title">Makaleler</h1>

		<ul class="breadcrumbs">
			<li class="breadcrumbs-item">
				<a href="{% url 'home' %}">Home</a>
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item active">
				<span>Blog Grid</span>
			</li>
		</ul>
	</div>

	<div class="content-bg-wrap stunning-header-bg1"></div>
</div>

<!-- ... end Stunning header -->
