{% load static%}
{% load thumbnail %}
{% load i18n %}
{% load l10n %}
{% load tz %}<!-- Top Header-Profile -->
{% block head_css %}
<!-- font -->
<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">

{% endblock %}
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="{% static 'img/BANNER-1.png' %}" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="{% url 'home' %}" class="active">{% trans 'Home' %}</a>
									</li>
									<li>
										<a href="{% url 'profiles:about' %}">{% trans 'About' %}</a>
									</li>
									<li>
										{% with total_followers=user.followers.count %}
											{% if not request.user.id == user.id %}
									        <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
									            {% if request.user not in user.followers.all %}
									                {% trans 'Follow' %}
									            {% else %}
									                {% trans 'Unfollow' %}
									            {% endif %}
									        </a>
									    {%endif%}
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="#">{% trans 'Photos' %}</a>
									</li>
									<li>
										<a href="{% url 'profiles:members' %}">{% trans 'Members' %}</a>
									</li>
									<li>
										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
											<ul class="more-dropdown more-with-triangle">
												<li>
													<a href="#">{% trans 'Report Profile' %}</a>
												</li>
												<li>
													<a href="#">{% trans 'Block Profile' %}</a>
												</li>
											 
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>

					</div>
					<div class="top-header-author">
						<a href="{% url 'profiles:profile_settings' %}" class="author-thumb">
							{% thumbnail user.image "120x120" crop="center" as im %}
				                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				            {% endthumbnail %}
						</a>
						<div class="author-content">
							<a href="{% url 'home' %}" class="h4 author-name">{{ user.username }}</a>
							<div class="country">{{user.city|default_if_none:""}}
							<br><span class="count">
							<span class="total">{{ total_followers }}</span>
								{% trans 'follower' %}
							</span>
							</div>

						</div>
						{% endwith %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
