{% load static %}
<div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">

	<div class="modal-content">
		<div class="modal-header">
			<span class="icon-status online"></span>
			<h6 class="title" >Chat</h6>
			<div class="more">
				<svg class="olymp-three-dots-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				<svg class="olymp-little-delete js-chat-open"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
			</div>
		</div>
		<div class="modal-body">
			<div class="mCustomScrollbar">
				<ul class="notification-list chat-message chat-message-field">
					<li>
						<div class="author-thumb">
							<img src="{% static 'img/avatar14-sm.jpg' %}" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="{% static 'img/author-page.jpg' %}" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Don’t worry Mathilda!</span>
							<span class="chat-message-item">I already bought everything</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="{% static 'img/avatar14-sm.jpg' %}" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>
				</ul>
			</div>

			<form class="need-validation">

		<div class="form-group label-floating is-empty">
			<label class="control-label">Press enter to post...</label>
			<textarea class="form-control" placeholder=""></textarea>
			<div class="add-options-message">
				<a href="#" class="options-message">
					<svg class="olymp-computer-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
				</a>
				<div class="options-message smile-block">

					<svg class="olymp-happy-sticker-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>

					<ul class="more-dropdown more-with-triangle triangle-bottom-right">
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat1.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat2.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat3.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat4.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat5.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat6.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat7.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat8.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat9.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat10.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat11.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat12.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat13.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat14.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat15.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat16.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat17.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat18.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat19.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat20.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat21.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat22.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat23.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat24.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat25.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat26.png' %}" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="{% static 'img/icon-chat27.png' %}" alt="icon">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</form>
		</div>
	</div>

</div>
