<template>
<div>
<a class="back-to-top" href="#">
	<img src="../assets/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>
<!-- Footer Full Width -->

<div class="footer footer-full-width" id="footer">
	<div class="container">
		<div class="row">
			<div class="col col-lg-4 col-md-4 col-sm-12 col-3">
				<!-- Widget About -->
				<div class="widget w-about">
					<a href="02-ProfilePage.html" class="logo">
						<div class="img-wrap">
							<img src="@/assets/img/yogavidya-logo.png" alt="YogaVidya">
						</div>
						<div class="title-block">
							<h6 class="logo-title">YogaVidya</h6>
							<div class="sub-title">Social Network</div>
						</div>
					</a>
					<p>Everyday Yoga!  Yoga for everybody!</p>
					<ul class="socials">
						<li>
							<a href="https://www.facebook.com/yogavidyaturkiye/">
								<i class="fab fa-facebook-square" aria-hidden="true"></i>
							</a>
						</li>
 
						<li>
							<a href="https://www.instagram.com/yogavidyaturkiye/">
								<i class="fab fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- ... end Widget About -->
			</div>

			<div class="col col-lg-2 col-md-4 col-sm-12 col-3">
				<!-- Widget List -->
				<div class="widget w-list">
					<h6 class="title">Main Links</h6>
					<ul>
						<li>
							<router-link :to="{name: 'home'}">Anasayfa</router-link>
						</li>
						<li>
							<router-link :to="{name: 'home'}">Find A Teacher</router-link>
						</li>
						<li>
							<router-link :to="{name: 'articles'}">Makaleler</router-link>
						</li>
						<li>
							<router-link :to="{name: 'videolessons'}">Videodersler</router-link>
						</li>
						<li>
							<router-link :to="{name: 'articles'}">Kamplar ve Etkinlikler</router-link>
						</li>
					</ul>
				</div>
				<!-- ... end Widget List -->
			</div>
			<div class="col col-lg-2 col-md-4 col-sm-12 col-3">
				<div class="widget w-list">
					<h6 class="title">Yogavidya</h6>
					<ul>
						<li>
							<router-link :to="{name: 'page', params: {slug: 'gizlilik-ayarlari'}}">Gizlilik Koşulları</router-link>
						</li>
						<li>
							<router-link :to="{name: 'page', params: {slug: 'kullanim-kosullari'}}">Kullanıcı Sözleşmesi</router-link>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="col col-lg-12 col-md-12 col-sm-12 col-12">
				<!-- SUB Footer -->
				<div class="sub-footer-copyright">
					<span>
						Copyright <router-link :to="{name: 'home'}">Yogavidya</router-link> All Rights Reserved 2020
					</span>
				</div>
				<!-- ... end SUB Footer -->
			</div>
		</div>
	</div>
</div>
<!-- ... end Footer Full Width -->
</div>
</template>
<script>
export default {
	name: "FooterComponent",
	data() {
		return {
		}
	},
};
</script>
<style></style>