<template>
<div>
<!-- ... end Preloader -->
<div class="content-bg-wrap"></div>


<!-- Header Standard Landing  -->

<div class="header--standard" id="header--standard">
	<div class="container">
		<div class="header--standard-wrap">

			<router-link :to="{ name: 'home'}" class="logo">
				<div class="img-wrap">
					<img src="../assets/img/yogavidya-logo.png" alt="Yogavidya" class="logo-colored">
				</div>
				
			</router-link>

			<a href="#" class="open-responsive-menu js-open-responsive-menu">
				<svg class="olymp-menu-icon"><use xlink:href="../assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
			</a>

			<div class="nav nav-pills nav1 header-menu">
				<div class="mCustomScrollbar">
					<ul>
						<li class="nav-item">
							<router-link :to="{ name: 'home'}" class="nav-link">Anasayfa</router-link>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" tabindex='1'>Eğitimler</a>
							<div class="dropdown-menu">
								<router-link 
									class="dropdown-item" :to="{ name: 'articles'}">Makaleler
								</router-link>
								<router-link 
									class="dropdown-item" :to="{ name: 'videolessons'}">Videodersler</router-link>
								<router-link 
									class="dropdown-item" :to="{ name: 'videolessons'}">Eğitmenler</router-link>
							</div>
						</li>
						<li class="nav-item">
							<router-link :to="{name: 'TeacherInfo'}" href="#" class="nav-link">Eğitmen Ol</router-link>
						</li>
						<li class="nav-item">
							<router-link :to="{name: 'books'}" href="#" class="nav-link">Kitaplar</router-link>
						</li>
						<li class="nav-item" v-if="accessKey === null">
							<router-link :to="{name: 'login'}" href="#" class="nav-link">Giriş Yap</router-link>
						</li>
						<li class="nav-item">
							<router-link :to="{name: 'logout'}" href="#" class="nav-link">Üye Ol</router-link>
						</li>
						<li class="nav-item">
							<router-link :to="{name: 'page', params:{slug:'destek-ol'}}" href="#" class="nav-link">Destek Ol</router-link>
						</li>
						
						<li class="close-responsive-menu js-close-responsive-menu">
							<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
						</li>
						<li class="nav-item js-expanded-menu">
							<a href="#" class="nav-link">
								<svg class="olymp-menu-icon"><use xlink:href="#olymp-menu-icon"></use></svg>
								<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
							</a>
						</li>

						<li class="menu-search-item">
							<a href="#" class="nav-link" data-toggle="modal" data-target="#main-popup-search">
								<svg class="olymp-magnifying-glass-icon"><use xlink:href="#olymp-magnifying-glass-icon"></use></svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Header Standard Landing  -->
<div class="header-spacer--standard"></div>

<!-- Header Standard -->
<!-- Header Standard Landing  -->

</div>
</template>
<script>
import { mapState } from 'vuex'
//import { apiService } from "@/common/api.service.js"
export default {
	name: "HeaderComponent",
	computed: {
    ...mapState({
      accessKey: state => state.user.accessKey,
      refreshKey: state => state.user.refreshKey,
    }),
  },
	methods:{

	}
};
</script>
<style scope>
	.my-navbar {
		border-bottom: 1px solid #DDD;
	}
	.navbar-brand {
		font-weight: bold;
		font-size: 130%;
	}
	.header-menu ul {
    height: auto !important; 
	}
	.header-menu a {
    font-size: 13px;
    padding: 20px !important;
	}

</style>
