<script>
export default {
  name: "Articles", 
  computed: {
    ...mapGetters('articles', {articles: 'articles'}),
  },
  methods: {
    ...mapActions([FETCH_ARTICLES]),
  },
  created() {
    this.$store.dispatch('articles/' + [FETCH_ARTICLES]).
    then(() => {
        this.isLoading = false;
    })
  }
};
</script>

<template>
<div>
<!-- ... end Stunning header -->

<section class="blog-post-wrap medium-padding80">
  <div class="container">
    <div class="row" id="article-list">
      <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" 
          v-for="article in articles" 
          :key="article.pk" :article="article">
        <div class="ui-block">

          <!-- Post -->
          
          <article class="hentry blog-post">
          
            <div class="post-content">
              
              <router-link
                :to="{name: 'article', params: {slug: article.slug}}"
                class="h5 post-title"
              >{{article.title}}</router-link>
              
              <span>{{article.excerpt}}</span>
              <span v-if="article['excerpt']==null">{{ article.content }}</span>
              <div class="author-date">
          
            </div>
          
          </article>
          <!-- ... end Post -->
        </div>
      </div>
      
    </div>
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center pb120 pt120">
      <p v-show="loadingElements">...loading...</p>
      <button id="load-more-button" 
          href="#" class="btn btn-control btn-more btn-primary"
          @click="[FETCH_ARTICLES]">
          ...
      </button>

    </div>
  </div>
  <!-- Pagination -->

  <!-- ... end Pagination -->

</section>
</div>
</template>