<script>
//import Vue from "vue";
import { mapActions} from 'vuex'
import axios from "axios";
//import router from '@/router/index.js';
//import swal from "sweetalert2";
axios.defaults.xsrfCookieName = "csrftoken"
axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
export default {
	name: "Login",
  components: {
  },
  data: () => ({
      credentials: {},
      email: '',
      password: '',
      remember_me: null,
      submitted: false,
      valid:true,
      loading:false,
      rules: {
        email: [
          v => !!v || "Username is required",
          v => (v && v.length > 3) || "A username must be more than 3 characters long",
          v => /^[a-z0-9_]+$/.test(v) || "A username can only contain letters and digits"
        ],
        password: [
          v => !!v || "Password is required",
          v => (v && v.length > 7) || "The password must be longer than 7 characters"
        ]
      }
  }),
  methods: {
    ...mapActions( 'user', ['loginUser']),
    handleSubmit () {
      this.submitted = true;
      const { email, password } = this;
      if (email && password) {
          this.loginUser({ email, password })
            .then(this.$router.push({ name: 'home' }));
      }
    },
    // async login() { // call loginUSer action
    //     await this.$store.dispatch('user/loginUser', {
    //       username: this.username,
    //       password: this.password
    //     })
    //       .then(() => {
    //         this.wrongCred = false
    //         this.$router.push({ name: 'home' })
    //       })
    //       .catch(err => {
    //         console.log(err)
    //         this.wrongCred = true // if the credentials were wrong set wrongCred to true
    //       })
    //     },
    // login: function() {
    //   // checking if the input is valid
    //   if (this.$refs.form.validate()) {
    //     this.loading = true;
    //     axios({
    //           url:'http://localhost:8000/auth/',
    //           method: 'post',
    //           withCredentials: true,
    //           data:this.credentials,
    //           headers: {
    //             "X-CSRFToken": Vue.cookie.get('csrftoken')
    //           }}).then(resp => {
    //               const token = resp.data.token
    //               console.log(token);
    //               localStorage.setItem('user-token', token) // store the token in localstorage
    //               resolve(resp)
    //             })
    //           .catch(err => {
    //             localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
    //             reject(err)
    //           })
        
    //   }
    // },
    // login: function () {
    //  const { username, password } = this
    //  this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
    //    this.$router.push('/')
    //  })
    // },
   toggleBodyClass(addRemoveClass, className) {
     const el = document.body;

     if (addRemoveClass === 'addClass') {
       el.classList.add(className);
     } else {
       el.classList.remove(className);
     }
   },
  },
 
  mounted() {
    this.toggleBodyClass('addClass', 'landing-page');
  },
  destroyed() {
   this.toggleBodyClass('removeClass', 'landing-page');
  },
};
</script>
<template>
<div class="container">
  <div class="row display-flex">
    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="landing-content">
        <p><a href="www.yogavidya.com.tr">Yogavidya</a>, yoga öğrencilerinin ve Yoga Vidya Eğitmenleri’nin ortak platformudur. Siteye üye olarak diğer üyeler ve eğitmenler ile iletişime geçebilir, videolarla yoga yapabilir ve yoga hakkında teorik bilgilere sahip olabilirsiniz.</p>

        <p>Her disiplinde olduğu gibi Yoga’da da düzenli uygulama en başta gelir. Düzenli uygulama kişinin genel sağlığını koruması, kronik rahatsızların giderilmesi, beden ve zihnin arınması, bireyin kişisel gelişimi ve spiritüel evrimi açısında çok ama çok önemlidir. Bu nedenle sitemizi sizlerin daha düzenli, ev konforunda, vakit kaybetmeden yoga yapabilmesi için tasarladık. Tek yapmanız gereken sitemize üye olarak videolarla çalışmalara başlamak.
        </p>

        <p>www.yogavidya.com.tr pratik çalışmaların yanı sıra yoga teorisi ve yoga ile ilgili bilgileri toplumun hizmetine sunmaktadır. Yoga sonsuz bir yol olduğu için sizlerle paylaşacaklarımızın sınırı olmayacaktır. Günden güne güncellenecek olan sitemizi takip ederek, diğer kullanıcılar ve eğitmenlerle bağlantıya geçip her geçen gün yeni bilgiler edinebilir, videolarımızla yaptığınız pratik uygulamaları teorik bilgilerle destekleyerek bu harika yolda ilerleyebilirsiniz.
        </p>
         
        <button>
          <a href="#" class="btn btn-md btn-border c-white">Üye Olun!</a>
        </button>
      </div>
    </div>

    <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
      
      <!-- Login-Registration Form  -->
      
      <div class="registration-login-form">
      
        <!-- Tab panes -->
          <div>
            <div class="title h6">Hesabınıza Giriş Yapın</div>
            <form class="content" @submit="handleSubmit" onsubmit="return false;">
              <div class="row">
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Email Adresiniz</label>
                    <input
                      v-model="email" 
                      id="id_email" 
                      class="text-input" 
                      type="text"
                      :rules="rules.username"
                      
                      >
                  </div>
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Şifreniz</label>
                    <input 
                      v-model="password"
                      id="id_password" 
                      class="password text-input" 
                      name="password"
                      label="Password"
                      hint="At least 6 characters"
                      counter
                      :rules="rules.password"
                      type="password"
                      >
                  </div>
      
                  <div class="remember">
      
                    <div class="checkbox">
                      <label>
                        <b-form-checkbox
                          id="checkbox-1"
                          v-model="remember_me"
                          name="checkbox-1"
                          value="accepted"
                          unchecked-value="not_accepted"
                        >
                          Beni Hatırla
                        </b-form-checkbox>
                        
                      </label>
                    </div>
                    <b-link v-b-modal.restore-password class="forgot">Şifrenizi mi unuttunuz ?</b-link>
                  
                  </div>
      
                  <button class="btn btn-lg btn-primary full-width" type="submit">Login</button>
      
                  <div class="or"></div>
      
                  <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f" aria-hidden="true"></i>Login with Facebook</a>
      
                  <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i class="fab fa-twitter" aria-hidden="true"></i>Login with Twitter</a>
      
      
                  <p>Don’t you have an account? <router-link :to="{ name: 'login' }">Register Now!</router-link> it’s really simple and you can start enjoing all the benefits!</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  
      <!-- ... end Login-Registration Form  -->

    <!-- Window-popup Restore Password -->

    <b-modal id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password" aria-hidden="true">
      <div class="modal-dialog window-popup restore-password-popup" role="document">
        <div class="modal-content">
          <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
            <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
          </a>

          <div class="modal-header">
            <h6 class="title">Şifre hatırlatma</h6>
          </div>

          <div class="modal-body">
            <form  method="get" class="content">
              <p>Emailinizi girip gönder tuşuna basın. Kısa bir süre sonra bir link içeren bir email alacaksınız. Buradan eski şifrenizi değiştirebilirsiniz.</p>
              <div class="form-group label-floating">
                <label class="control-label">Email Adresiniz</label>
                <input class="email" placeholder="" type="email">
              </div>
              <button class="btn btn-purple btn-lg full-width" type="submit">Gönder</button>
            </form>

          </div>
        </div>
      </div>
    </b-modal>

<!-- ... end Window-popup Restore Password -->   
  </div>
 
</template>

<style scoped>
  

</style>