<script>
//import Vue from "vue";
import { mapActions} from 'vuex'
import { required, minLength } from 'vuelidate/lib/validators'
//import router from '@/router/index.js';
//import swal from "sweetalert2";
export default {
	name: "Register",
  components: {
  },
  data: () => ({
      
      username: '',
      email: '',
      password1: '',
      password2: '',
      submitted: false,
      valid:true,
      loading:false,
  }),
  validations: {
    username: {
      required,
      minLength: minLength(8)
    },
    email: {
      required,
      minLength: minLength(8)
    },
    password1: {
      required,
      minLength: minLength(8)
    },
    password2: {
      required,
      minLength: minLength(8)
    }
  },
  methods: {
    ...mapActions( 'user', ['registerUser']),
    handleSubmit () {
      this.submitted = true;
      const { username, password1, password2, email } = this;
      if ( username && password1 && password2 && email ) {
          this.registerUser({ username, password1, password2, email })
            .then(this.$router.push({ name: 'home' }));
      }
    },
    // async login() { // call loginUSer action
    //     await this.$store.dispatch('user/loginUser', {
    //       username: this.username,
    //       password: this.password
    //     })
    //       .then(() => {
    //         this.wrongCred = false
    //         this.$router.push({ name: 'home' })
    //       })
    //       .catch(err => {
    //         console.log(err)
    //         this.wrongCred = true // if the credentials were wrong set wrongCred to true
    //       })
    //     },
    // login: function() {
    //   // checking if the input is valid
    //   if (this.$refs.form.validate()) {
    //     this.loading = true;
    //     axios({
    //           url:'http://localhost:8000/auth/',
    //           method: 'post',
    //           withCredentials: true,
    //           data:this.credentials,
    //           headers: {
    //             "X-CSRFToken": Vue.cookie.get('csrftoken')
    //           }}).then(resp => {
    //               const token = resp.data.token
    //               console.log(token);
    //               localStorage.setItem('user-token', token) // store the token in localstorage
    //               resolve(resp)
    //             })
    //           .catch(err => {
    //             localStorage.removeItem('user-token') // if the request fails, remove any possible user token if possible
    //             reject(err)
    //           })
        
    //   }
    // },
    // login: function () {
    //  const { username, password } = this
    //  this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
    //    this.$router.push('/')
    //  })
    // },
   toggleBodyClass(addRemoveClass, className) {
     const el = document.body;

     if (addRemoveClass === 'addClass') {
       el.classList.add(className);
     } else {
       el.classList.remove(className);
     }
   },
  },
 
  mounted() {
    this.toggleBodyClass('addClass', 'landing-page');
  },
  destroyed() {
   this.toggleBodyClass('removeClass', 'landing-page');
  },
};
</script>
<template>
<div class="container">
  <div class="row display-flex">
    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="landing-content">
        <p>www.yogavidya.com.tr, yoga öğrencilerinin ve Yoga Vidya Eğitmenleri’nin ortak platformudur. Siteye üye olarak diğer üyeler ve eğitmenler ile iletişime geçebilir, videolarla yoga yapabilir ve yoga hakkında teorik bilgilere sahip olabilirsiniz.</p>

        <p>Her disiplinde olduğu gibi Yoga’da da düzenli uygulama en başta gelir. Düzenli uygulama kişinin genel sağlığını koruması, kronik rahatsızların giderilmesi, beden ve zihnin arınması, bireyin kişisel gelişimi ve spiritüel evrimi açısında çok ama çok önemlidir. Bu nedenle sitemizi sizlerin daha düzenli, ev konforunda, vakit kaybetmeden yoga yapabilmesi için tasarladık. Tek yapmanız gereken sitemize üye olarak videolarla çalışmalara başlamak.
        </p>

        <p>www.yogavidya.com.tr pratik çalışmaların yanı sıra yoga teorisi ve yoga ile ilgili bilgileri toplumun hizmetine sunmaktadır. Yoga sonsuz bir yol olduğu için sizlerle paylaşacaklarımızın sınırı olmayacaktır. Günden güne güncellenecek olan sitemizi takip ederek, diğer kullanıcılar ve eğitmenlerle bağlantıya geçip her geçen gün yeni bilgiler edinebilir, videolarımızla yaptığınız pratik uygulamaları teorik bilgilerle destekleyerek bu harika yolda ilerleyebilirsiniz.
        </p>
         
        <a href="#" class="btn btn-md btn-border c-white">Giriş Yapın!</a>
      </div>
    </div>

    <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
      
      <!-- Login-Registration Form  -->
      
      <div class="registration-login-form">
      
        <!-- Tab panes -->
          <div>
            <div class="title h6">Yogavidya'ya Üye Ol</div>
            <form class="content" @submit="handleSubmit" onsubmit="return false;">
              <div class="row">
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Username or Email</label>
                    <input
                      v-model="username" 
                      id="id_username" 
                      class="text-input" 
                      type="text"
                      
                      >
                  </div>

                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Email</label>
                    <input 
                      v-model="email"
                      id="id_email" 
                      class="email text-input" 
                      name="email"
                      label="email"
                      hint="At least 6 characters"
                      counter
                      type="email"
                      >
                  </div>

                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Password</label>
                    <input 
                      v-model="password1"
                      id="id_password1" 
                      class="password text-input" 
                      name="password2"
                      label="Password"
                      hint="At least 6 characters"
                      counter
                      type="password"
                      >
                  </div>

                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Şifre Konfirmasyonu</label>
                    <input 
                      v-model="password2"
                      id="id_password2" 
                      class="password text-input" 
                      name="password2"
                      label="Password"
                      hint="At least 6 characters"
                      counter
                      type="password"
                      >
                  </div>
      
                  <button class="btn btn-lg btn-primary full-width" type="submit">Üye Ol</button>
      
                  <div class="or"></div>
      
                  <p>If you have an account? <router-link :to="{ name: 'login' }">Login Now!</router-link></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  
      <!-- ... end Login-Registration Form  -->   
  </div>
 
</template>