<script>
//import Vue from "vue";
import { mapActions} from "vuex";
import { required, minLength, between } from "vuelidate/lib/validators";
//import axios from "axios";
//import router from '@/router/index.js';
//import swal from "sweetalert2";
//axios.defaults.xsrfCookieName = "csrftoken"
//axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
export default {
	name: "Register",
  components: {
  },
  data: () => ({
      valid:true,
      loading:false,
  }),
  methods: {
    ...mapActions( 'user', ['register']),
    handleSubmit () {
      this.submitted = true;
      const { username, email, password1, password2 } = this;
      if ( username && email && password1 && password2 ) {
          if ( password1 == password2 ) {
            this.register({ username, password1, email })
            .then(this.$router.push({ name: 'home' }));
          }
          
      }
    },

   toggleBodyClass(addRemoveClass, className) {
     const el = document.body;

     if (addRemoveClass === 'addClass') {
       el.classList.add(className);
     } else {
       el.classList.remove(className);
     }
   },
  },

  validations: {
    password1: {
      required,
      minLength: minLength(8)
    },
    password2: {
      required,
      minLength: minLength(8)
    },
    age: {
      between: between(20, 30)
    }
  }
  ,
  mounted() {
    this.toggleBodyClass('addClass', 'landing-page');
  },
  destroyed() {
   this.toggleBodyClass('removeClass', 'landing-page');
  },
};
</script>
<template>
<div>
	

<div class="container">
  <div class="row display-flex">
    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="landing-content">
        <h1>Welcome to the Biggest Social Network in the World</h1>
        <p>We are the best and biggest social network with 5 billion active users all around the world. Share you
          thoughts, write blog posts, show your favourite music via Stopify, earn badges and much more!
        </p>
        <a href="#" class="btn btn-md btn-border c-white">Register Now!</a>
      </div>
    </div>

    <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
      
      <!-- Login-Registration Form  -->
      
      <div class="registration-login-form">
      
        <!-- Tab panes -->
          <div>
          	<div class="title h6">Register to Olympus</div>
            <form class="content" @submit="register" onsubmit="return false;">
              <div class="row">
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Username or Email</label>
                    <input
                      v-model="username" 
                      id="id_username" 
                      class="text-input" 
                      type="text"
                      :rules="rules.username"
                      
                      >
                  </div>

                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Email</label>
                    <input 
                      v-model="email"
                      id="id_email" 
                      class="email text-input" 
                      name="email"
                      label="email"
                      hint="At least 6 characters"
                      counter
                      :rules="rules.email"
                      type="email"
                      >
                  </div>

                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Your Password</label>
                    <input 
                      v-model="password1"
                      id="id_password1" 
                      class="password text-input" 
                      name="password2"
                      label="Password"
                      hint="At least 6 characters"
                      counter
                      :rules="rules.password1"
                      type="password"
                      >
                  </div>

                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Şifre Konfirmasyonu</label>
                    <input 
                      v-model="password2"
                      id="id_password2" 
                      class="password text-input" 
                      name="password2"
                      label="Password"
                      hint="At least 6 characters"
                      counter
                      :rules="rules.password2"
                      type="password"
                      >
                  </div>
      
                  <button class="btn btn-lg btn-primary full-width" type="submit">Üye Ol</button>
      
                  <div class="or"></div>
      
                  <p>If you have an account? <router-link :to="{ name: 'login' }">Login Now!</router-link></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  
      <!-- ... end Login-Registration Form  -->   
  </div>
 
<!-- Preloader -->

<!-- <div id="hellopreloader">
	<div class="preloader">
		<svg width="45" height="45" stroke="#fff">
			<g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="8">
					<animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite" values="6;1;2;3;4;5;6"/>
				</circle>
			</g>
		</svg>

		<div class="text">Loading ...</div>
	</div>
</div>-->


<!-- Window-popup Restore Password -->

<div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password" aria-hidden="true">
	<div class="modal-dialog window-popup restore-password-popup" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Restore your Password</h6>
			</div>

			<div class="modal-body">
				<form  method="get">
					<p>Enter your email and click the send code button. You’ll receive a code in your email. Please use that
						code below to change the old password for a new one.
					</p>
					<div class="form-group label-floating">
						<label class="control-label">Your Email</label>
						<input class="form-control" placeholder="" type="email" value="james-spiegel@yourmail.com">
					</div>
					<button class="btn btn-purple btn-lg full-width">Send me the Code</button>
					<div class="form-group label-floating">
						<label class="control-label">Enter the Code</label>
						<input class="form-control" placeholder="" type="text" value="">
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Your New Password</label>
						<input class="form-control" placeholder="" type="password" value="olympus">
					</div>
					<button class="btn btn-primary btn-lg full-width">Change your Password!</button>
				</form>

			</div>
		</div>
	</div>
</div>

<!-- ... end Window-popup Restore Password -->


<!-- Window Popup Main Search -->

<div class="modal fade" id="main-popup-search" tabindex="-1" role="dialog" aria-labelledby="main-popup-search" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered window-popup main-popup-search" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
			</a>
			<div class="modal-body">
				<form class="form-inline search-form" method="post">
					<div class="form-group label-floating">
						<label class="control-label">What are you looking for?</label>
						<input class="form-control bg-white" placeholder="" type="text" value="">
					</div>

					<button class="btn btn-purple btn-lg">Search</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- ... end Window Popup Main Search -->
</div>
</template>