<template>
            <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item">
              <slide>
                <div class="ui-block">
                  <!-- Post -->
                  <article class="hentry blog-post">
                    <div class="post-thumb">
                      <img :src="videolesson.thumbnail" class="img-thumbnail" alt="">
                    </div>
                    <div class="post-content">
                      <router-link
                        :to="{ name: 'videolesson', params: { slug: videolesson.slug }}"
                        class="h5 post-title">
                        {{videolesson.title}} 
                      </router-link>
                          {{ videolesson.content }} 
                      <div class="author-date">
                        by
                        <a class="h6 post__author-name fn" href="#">{{videolesson.author}}</a>
                        <div class="post__date">
                          <time class="published" datetime="videolesson.publish">
                            - {{videolesson.publish}}
                          </time>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- ... end Post -->
                </div>
              </slide>
            </div>

            
</template>
<script>
import {  Slide } from "vue-carousel";

export default {
  name: "VideolessonsList",
  components: {
    Slide
  },
  props: {
    videolesson: {
      type:Object,
      required: true
    }
  }

};
</script>
