<script>
import { mapGetters, mapActions} from "vuex";
export default {
	name: "Videolessons",
	
	computed: {
    ...mapGetters('videolessons', {videolessons: 'videolessons'}),
  },
  methods: {
  	...mapActions(['videolessons/fetchVideolessons']),
  },
  created() {
  	this.$store.dispatch('videolessons/fetchVideolessons').
  	then(() => {
  			console.log(this.$store);
  			console.log(this.$route.params);
  			this.isLoading = false;
  	})
  }
};
</script>

<template>
<div>
	<div class="header-spacer--standard"></div>
		
	<div class="stunning-header-content mt-20">
		<h1 class="stunning-header-title">Videodersler</h1>

		<ul class="breadcrumbs">
			<li class="breadcrumbs-item">
				<router-link 
				    :to="{name: 'home'}"
				    class="navbar-brand"
				    >Anasayfa
				</router-link>
				
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item active">
				<span>Videodersler</span>
			</li>
		</ul>
	</div>

<!-- ... end Stunning header -->

<section class="blog-post-wrap medium-padding80">
	<div class="container">
		<div class="row" id="article-list">
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" 
					v-for="videolesson in videolessons" 
					:key="videolesson.pk" :videolesson="videolesson">
				<div class="ui-block">

					<!-- Post -->
					
					<article class="hentry blog-post">
					
						<div class="post-thumb">
							<router-link
								:to="{name: 'videolesson', params: {slug: videolesson.slug}}"
							>
				        <img :src="videolesson.thumbnail" >
			        </router-link>
						</div>
					
						<div class="post-content">
							
							<router-link
								:to="{name: 'videolesson', params: {slug: videolesson.slug}}"
								class="h5 post-title"
							>{{videolesson.title}}</router-link>
							
							<span>{{videolesson.excerpt}}</span>
							<span v-if="videolesson['excerpt']==null">{{ videolesson.content }}</span>
							<div class="author-date">
								by
								<a class="h6 post__author-name fn" href="#">{{videolesson.author}}</a>
								<div class="post__date">
									<time class="published" datetime="videolesson.publish">
										- {{videolesson.publish}}
									</time>
								</div>
							</div>
							
					
						</div>
					
					</article>
					
					<!-- ... end Post -->
				</div>
			</div>
			
		</div>
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center pb120 pt120">
			<p v-show="loadingElements">...loading...</p>
			<button id="load-more-button" 
					href="#" class="btn btn-control btn-more btn-primary"
					@click="this.$store.dispatch('videolessons/' + [FETCH_VIDEOLESSONS])">
					...
			</button>

		</div>
	</div>

	<!-- Pagination -->
	
	<!-- ... end Pagination -->

</section>
</div>
</template>