<script>
import { FETCH_A_VIDEOLESSON } from "@/store/types/actions.type.js";
import { mapGetters, mapActions} from "vuex";
export default {
	name: "Videolesson",
	computed: {
    ...mapGetters('videolessons', {videolesson: 'videolesson'}),
  },
  methods: {
  	...mapActions([FETCH_A_VIDEOLESSON]),
  },
  created() {
  	this.$store.dispatch('videolessons/' + [FETCH_A_VIDEOLESSON], this.$route.params).
  	then(() => {
  			console.log(this.$store);
  			console.log(this.$route.params);
  			this.isLoading = false;
  	})
  }
};
</script>
<template>
<!-- End Stunning header -->
<div class="container">
	<div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
		<div class="ui-block mb60">
				<!-- Single Post -->
			<article class="hentry blog-post single-post single-post-v3">
				<!--<ul class="filter-icons">
					<li>
						<a href="#" class="post-add-icon inline-items">
							<img src="{% static 'img/icon-chat27.png' %}" alt="icon">
							<span>{total_likes}</span>
						</a>
					</li>
				</ul>-->
				<h1 class="post-title">{{videolesson.title}}</h1>
				
					<div class="author-date">
						<div class="author-thumb">
				      <img :src="videolesson.user_thumbnail"  alt="videolesson.user" title="videolesson.user">
						</div>
						by
						<a class="h6 post__author-name fn" href="#">{{videolesson.author}}</a>
						<div class="post__date">
							<time class="published" datetime="videolesson.publish">
								-  {{videolesson.publish}} 
							</time>
						</div>
					</div>
				
					<div class="post-thumb">
			        <img :src="videolesson.thumbnail"  alt="videolesson.title">
					</div>
				
					<div class="post-content-wrap">
				
						<div class="control-block-button post-control-button">
				
							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon"><use xlink:href="../../assets/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
								<span>15</span>
							</a>
							<a href="#" class="post-add-icon inline-items">
								<img src="../../assets/img/icon-chat27.png" alt="icon">
								<span>{{videolesson.total_likes}}</span>
							</a>
							<a href="#" class="btn btn-control has-i bg-facebook" data-href="#" 
    data-layout="button_count">
								<i class="fab fa-facebook-f" aria-hidden="true"></i>
							</a>
				
							<a href="#" class="btn btn-control has-i bg-twitter">
								<i class="fab fa-twitter" aria-hidden="true"></i>
							</a>
						</div>
				
						<div class="post-content">
							{{videolesson.content}}
						</div>
					</div>
					<div class="choose-reaction reaction-colored">
						<!--<div class="title">Choose your <span>Reaction!</span></div>-->
				
						<div class="title">
							<a href="#" data-id="videolesson.id " data-action="{% if request.user in users_like %}un{% endif %}like" class="btn btn-lg btn-primary like"> 
								Like
			          
							</a>
						</div>
					</div>
				</article>
				<!-- ... end Single Post -->
			</div>
			</div>
		</div>

</template>

<style>
	
</style>