<template>
				
							<swiper-slide>
								<div class="ui-block">
									<!-- Post -->
									
									<article class="hentry blog-post">
										<div class="post-thumb">
											<router-link
												:to="{ name: 'article', params: { slug: article.slug }}">
												<img :src="article.thumbnail" class="img-thumbnail" alt="">
											</router-link>
										</div>
										<div class="post-content">
											<router-link
												:to="{ name: 'article', params: { slug: article.slug }}"
												class="h5 post-title">
												{{article.title}} 
											</router-link>
													{{ article.content | truncate(100, '...') }} 
													<router-link 
		                        :to="{name: 'article', params: {slug: article.slug}}" 
		                        class="post-category bg-orange"
		                        >Devamı...
		                      </router-link>
											<div class="author-date">
												<router-link
													:to="{ name: 'article', params: { slug: article.slug }}"
													class="h6 post__author-name fn">
												{{article.user}} 
												</router-link>
												Yazar: 
												<div class="post__date">
													<time class="published" datetime="article.publish">
														- {{article.publish}} önce
													</time>
												</div>
											</div>
										</div>
									</article>
									<!-- ... end Post -->
								</div>
							</swiper-slide>
					
				

						 
</template>
<script>

export default {
	name: "ArticlesList",
	components: {
	},
	
	props: {
		article: {
			type:Object,
			required: true
		}
	}

};
</script>
<style scoped>

</style>