<template>
						<swiper-slide>
						<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item">

								<div class="ui-block">
									<!-- Post -->
									
									<article class="hentry blog-post">
										<div class="post-thumb">
											<router-link
												:to="{ name: 'article', params: { slug: article.slug }}">
												<img :src="article.thumbnail" class="img-thumbnail" alt="">
											</router-link>
										</div>
										<div class="post-content">
											<router-link
												:to="{ name: 'article', params: { slug: article.slug }}"
												class="h5 post-title">
												{{article.title}} 
											</router-link>
													{{ article.content | truncate(100, '...') }} 
											<div class="author-date">
												<router-link
													:to="{ name: 'article', params: { slug: article.slug }}"
													class="h6 post__author-name fn">
												{{article.user}} 
												</router-link>
												Yazar: 
												<div class="post__date">
													<time class="published" datetime="article.publish">
														- {{article.publish}} önce
													</time>
												</div>
											</div>
										</div>
									</article>
									<!-- ... end Post -->
								</div>
							
						</div>
						</swiper-slide>
						
				

						
</template>
<script>

export default {
	name: "ArticlesMobileList",
	components: {
	},
	
	props: {
		article: {
			type:Object,
			required: true
		}
	}

};
</script>
