<script>
import { mapGetters, mapActions,  mapState } from "vuex";
import Tree from '@/components/comments/Tree';
import axios from "axios";
import Cookies from 'js-cookie';
axios.defaults.withCredentials = true; 
export default {

	name: "Article",
	beforeRouteUpdate (to, from, next) {
    this.$store.article = null
    console.log(to)
    this.$store.dispatch('articles/fetchAnArticle', to.params)
    next()
  },
	data(){
		return {
			newArticleCommentBody: {},
			error: null,
			showForm: false,
			content: null,
			csrftoken: null,

		}
	},
	
	components:{
		Tree
	},
	computed: {
    ...mapGetters('articles', {article: 'article'}),
    ...mapState({
	    		mostLikedArticles: state => state.articles.mostLikedArticles,
	    		articleComments: state => state.articles.article.comments,
	    		accessKey: state => state.user.accessKey
	  }),
  },
  methods: {
  	toggleBodyClass(addRemoveClass, className) {
	    const el = document.body;

	    if (addRemoveClass === 'addClass') {
	      el.classList.add(className);
	    } else {
	      el.classList.remove(className);
	    }
  	},
  	...mapActions(['articles/fetchAnArticle']),
  	async onSubmit(){
  		try {
  			const content = document.getElementById('commentText').value
  			const children = []
	  		let endpoint = `article/${this.article.slug}/comment/`;
	  		const response = await  axios({
        	method: 'post',
        	url: endpoint,
        	data: {
        		'content': content,
        		'children': children
        	},
        	headers:{
          	"X-CSRFToken": Cookies.get('XSRF-TOKEN')
        	}
      	});
      	return Promise.resolve(response);
  		} 
  		catch(err) {
  			return Promise.reject(err) 
  		}
      //Vue.http.headers.common['Authorization'] = 'Bearer ' + response.body.key
  	},
  	async sendLike(){
  		try 
  		{
	  		let endpoint = `article/${this.article.slug}/like/`;

	  		const response = await  axios({
        	method: 'post',
        	url: endpoint,
        	data: {},
        	headers:{
          	"X-CSRFToken": Cookies.get('XSRF-TOKEN')
        	}
      	});
      	return Promise.resolve(response);
  		} 
  		catch(err) 
  		{
  			return Promise.reject(err) 
  		}
  	}
  },
  mounted() {
    this.toggleBodyClass('addClass', 'body-bg-white');
  },
  destroyed() {
	  this.toggleBodyClass('removeClass', 'body-bg-white');
  },
  created() {
  	this.$store.dispatch('articles/fetchAnArticle', this.$route.params).
  	then(() => {
  			this.isLoading = false;
  			this.$store.dispatch('articles/fetchMostLikedArticles');
  			
  	})
  }
};
</script>
<template>
<div>
<div class="container">
	<div class="row mt50">

		<div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
			<div class="ui-block mb60">

				
				<!-- Single Post -->
				
				<article class="hentry blog-post single-post single-post-v3">
				
					<a href="#" class="post-category bg-primary" v-for="category in article.categories" :key="category.id">{{category.title}}</a>
				
					<ul class="filter-icons">
						<li>
							<a href="#" class="post-add-icon inline-items">
								<img src="@/assets/img/icon-chat1.png" alt="icon">
								<span>{{article.likes_count}}</span>
							</a>
						</li>
						
					</ul>
					<h2 class="post-title" >{{article.title}}</h2>
				
					<div class="author-date">
						<div class="author-thumb">
							<img alt="article.user" :src="article.user_thumbnail" class="avatar">
						</div>
						yazar:
						<a class="h6 post__author-name fn" href="#">{{article.user}}</a>
						<div class="post__date">
							<time class="published" datetime="article.publish">
								-  {{article.publish}}
							</time>
						</div>
					</div>
				
					<div class="post-thumb">
						<img :src="article.image" alt="article.title">
					</div>
				
					<div class="post-content-wrap">
				
						<div class="control-block-button post-control-button">
				
							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon"><use xlink:href="#olymp-speech-balloon-icon"></use></svg>
								<span>105</span>
							</a>
				
							<a href="#" class="btn btn-control has-i bg-facebook">
								<i class="fab fa-facebook-f" aria-hidden="true"></i>
							</a>
				
							<a href="#" class="btn btn-control has-i bg-twitter">
								<i class="fab fa-twitter" aria-hidden="true"></i>
							</a>
						</div>
				
						<div class="post-content" v-html="article.content"></div>
					</div>
				
				
					<div 
							class="choose-reaction reaction-colored" 
							v-if="accessKey!=null">
						<div class="title">Beğenini <span>Göster!</span></div>
				
						<ul>
						 
							<li>
								<b-button 
								@click="sendLike"
								variant="outline-primary"
								class="post-category bg-orange"
								><!--<img src="@/assets/img/icon-chat26.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="LIKE">-->
								<h6>Beğen</h6>
							</b-button>
								
							</li>
						 
						</ul>
				
					</div>
				</article>
				
				<!-- ... end Single Post -->

			</div>

			<div class="crumina-module crumina-heading with-title-decoration">
				<h5 class="heading-title">Yorumlar: ({{article.comments_count}})</h5>

			</div>

			
			<!-- Comments -->
			<ul   
				class="comments-list  style-3" 
				v-for="comment in articleComments"
				:key="comment.id">
				<tree v-if="comment.parent==null" :tree-data="comment"></tree>
			</ul>
	
			
			<!-- ... end Comments -->
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center">
				<a href="#" class="btn btn-purple btn-md mb60 mt60">Load More Comments...</a>
			</div>

			<div
				v-if="accessKey!=null"  
				class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

				
				<!-- Comment Form -->
				
				<form @submit.prevent="onSubmit" method="POST">
					<div class="crumina-module crumina-heading with-title-decoration">
						<h5 class="heading-title">Yorum Yazın</h5>
					</div>
					<div class="row">
						<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="form-group">
								<textarea class="form-control" id="commentText" v-model="content" placeholder="Mesajınız"></textarea>
							</div>
							 
							<b-button 
							 class="btn btn-primary btn-lg full-width"
							type="submit" variant="primary">Yorumu Gönder</b-button>
						</div>
					</div>
				</form>
				<p v-if="error">{{error}}</p>
				
				<!-- ... end Comment Form -->
				
				

			</div>

		</div>

		<div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
			<aside class="blog-post-wrap">
				<div class="crumina-module crumina-heading with-title-decoration">
					<h5 class="heading-title">Öne Çıkan Makaleler</h5>
				</div>

				<div class="ui-block" 
				v-for="article in mostLikedArticles"
				:key="article.id"
				:article="article">

					<!-- Post -->
					
					<article class="hentry blog-post blog-post-v3 featured-post-item">
					
						<div class="post-thumb">
							<img alt="article.image" :src="article.image">
							<a href="#" class="post-category bg-primary" v-for="category in article.categories" :key="category.id">{{category.title}}</a>
						</div>
					
						<div class="post-content">
					
							<div class="author-date">
								yazar:
								<a class="h6 post__author-name fn" href="#">{{article.user}}</a>
								<div class="post__date">
									<time class="published" datetime="article.publish">
										- Yayınlanma: {{article.publish}} önce
									</time>
								</div>
							</div>
					
							<a href="#" class="h4 post-title">{{article.title}}</a>
					
							<div class="post-additional-info inline-items">
					
								<div class="friends-harmonic-wrap">
									<ul class="friends-harmonic">
										<li>
											<a href="#">
												<img src="@/assets/img/icon-chat2.png" alt="icon">
											</a>
										</li>
									</ul>
									<div class="names-people-likes">
										{{article.likes_count}}
									</div>
								</div>
					
								<div class="comments-shared">
									<a href="#" class="post-add-icon inline-items">
										<svg class="olymp-speech-balloon-icon">
											<use xlink:href="#olymp-speech-balloon-icon"></use>
										</svg>
										<span>{{article.comments_count}}</span>
									</a>
								</div>
					
							</div>
						</div>
					
					</article>
					
					<!-- ... end Post -->

				</div>
			</aside>
		</div>

	</div>

</div>

 
</div>

</template>

<style scoped>
	




</style>	