<script>
import { mapGetters, mapActions,  mapState } from "vuex";
import Tree from '@/components/comments/Tree';
import axios from "axios";
import Cookies from 'js-cookie';
axios.defaults.withCredentials = true; 
export default {

	name: "Article",
	beforeRouteUpdate (to, from, next) {
    this.$store.article = null
    console.log(to)
    this.$store.dispatch('articles/fetchAnArticle', to.params)
    next()
  },
	data(){
		return {
			newArticleCommentBody: {},
			error: null,
			showForm: false,
			content: null,
			csrftoken: null,

		}
	},
	
	components:{
		Tree
	},
	computed: {
    ...mapGetters('articles', {article: 'article'}),
    ...mapState({
	    		mostLikedArticles: state => state.articles.mostLikedArticles,
	    		articleComments: state => state.articles.article.comments,
	    		accessKey: state => state.user.accessKey
	  }),
  },
  methods: {
  	toggleBodyClass(addRemoveClass, className) {
	    const el = document.body;

	    if (addRemoveClass === 'addClass') {
	      el.classList.add(className);
	    } else {
	      el.classList.remove(className);
	    }
  	},
  	...mapActions(['articles/fetchAnArticle']),
  	async onSubmit(){
  		try {
  			const content = document.getElementById('commentText').value
  			const children = []
	  		let endpoint = `article/${this.article.slug}/comment/`;
	  		const response = await  axios({
        	method: 'post',
        	url: endpoint,
        	data: {
        		'content': content,
        		'children': children
        	},
        	headers:{
          	"X-CSRFToken": Cookies.get('XSRF-TOKEN')
        	}
      	});
      	return Promise.resolve(response);
  		} 
  		catch(err) {
  			return Promise.reject(err) 
  		}
      //Vue.http.headers.common['Authorization'] = 'Bearer ' + response.body.key
  	},
  	async sendLike(){
  		try 
  		{
	  		let endpoint = `article/${this.article.slug}/like/`;

	  		const response = await  axios({
        	method: 'post',
        	url: endpoint,
        	data: {},
        	headers:{
          	"X-CSRFToken": Cookies.get('XSRF-TOKEN')
        	}
      	});
      	return Promise.resolve(response);
  		} 
  		catch(err) 
  		{
  			return Promise.reject(err) 
  		}
  	}
  },
  mounted() {
    this.toggleBodyClass('addClass', 'body-bg-white');
  },
  destroyed() {
	  this.toggleBodyClass('removeClass', 'body-bg-white');
  },
  created() {
  	this.$store.dispatch('articles/fetchAnArticle', this.$route.params).
  	then(() => {
  			this.isLoading = false;
  			this.$store.dispatch('articles/fetchMostLikedArticles');
  			
  	})
  }
};
</script>
<template>
<div>
	<!-- ... end Header Standard Landing  -->
<div class="main-header-post">
	<img loading="lazy" :src="article.middle_thumbnail" alt="author">
</div>
	<div class="container negative-margin-top150 mb80 mt40">
	<div class="row">
		<div class="col col-xl-8 m-auto col-lg-12 col-md-12 col-sm-12 col-12">

			<div class="ui-block">

				
				<!-- Single Post -->
				
				<article class="hentry blog-post single-post single-post-v1">
				
					<div class="control-block-button post-control-button">
						<a href="#" class="btn btn-control has-i bg-facebook">
							<i class="fab fa-facebook-f" aria-hidden="true"></i>
						</a>
				
						<a href="#" class="btn btn-control has-i bg-twitter">
							<i class="fab fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				
					<a href="#" class="post-category bg-primary" v-for="category in article.categories" :key="category.id">{{category.title}}</a>
					<h3 class="post-title">{{article.title}}</h3>
				
					<div class="author-date">
						<div class="author-thumb">
							<img alt="author" :src="article.user_thumbnail" class="avatar">
						</div>
						Yazar:
						<a class="h6 post__author-name fn" href="#">{{article.user}}</a>
						<div class="post__date">
							<time class="published" datetime="article.publish">
								-  {{article.publish}}
							</time>
						</div>
					</div>
				
				
					<div class="post-content-wrap">
						<ul class="filter-icons">
							<li>
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-speech-balloon-icon"><use xlink:href="#olymp-speech-balloon-icon"></use></svg>
									<span>{{article.comments_count}}</span>
								</a>
							</li>
							<li>
								<a href="#" class="post-add-icon inline-items">
									<img loading="lazy" src="@/assets/img/icon-chat1.png" alt="icon">
									<span>58</span>
								</a>
							</li>
							<li>
								<a href="#" class="post-add-icon inline-items">
									<img loading="lazy" src="@/assets/img/icon-chat26.png" alt="icon">
									<span>{{article.likes_count}}</span>
								</a>
							</li>
							<li>
								<a href="#" class="post-add-icon inline-items">
									<img loading="lazy" src="@/assets/img/icon-chat15.png" alt="icon">
									<span>3</span>
								</a>
							</li>
						</ul>
				
						<div class="post-content" v-html="article.content">	</div>
					</div>
				
				
					<div class="choose-reaction">
						<div class="title">Beğenini Göster</div>
				
						<ul>
							<li>
								<b-button 
								@click="sendLike"
								variant="outline-primary"
								class="post-category bg-orange"
								><img src="@/assets/img/icon-chat27.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="LIKE">
								<h6>Beğen</h6>
							</b-button>
								
							</li>
						</ul>
				
					</div>
				</article>
				
				<!-- ... end Single Post -->

			</div>

			<div class="related-posts mb60 mt60">
				<div class="crumina-module crumina-heading with-title-decoration">
					<h5 class="heading-title">İlgili Makaleler</h5>
				</div>

				<div class="row">
					<div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

						<!-- Post -->
						
						<article class="hentry blog-post">
						
							<div class="post-thumb">
								<img loading="lazy" :src="article.image" alt="article.image" width="367" height="261">
							</div>
						
							<div class="post-content">
								<a href="#" class="post-category bg-primary" v-for="category in article.categories" :key="category.id">{{category.title}}</a>
								<a href="#" class="h4 post-title">{{article.title}}</a>
								<p>Here’s a photo from last month’s photoshoot. We got really awesome shots for the new catalog.</p>
						
								<div class="author-date">
									by
									<a class="h6 post__author-name fn" href="#">{{article.user}}</a>
									<div class="post__date">
										<time class="published" datetime="article.publish">
											- {{article.publish}}
										</time>
									</div>
								</div>
						
								<div class="post-additional-info inline-items">
						
									<div class="friends-harmonic-wrap">
										<ul class="friends-harmonic">
											<li>
												<a href="#">
													<img loading="lazy" src="img/icon-chat2.png" alt="icon">
												</a>
											</li>
											<li>
												<a href="#">
													<img loading="lazy" src="img/icon-chat4.png" alt="icon">
												</a>
											</li>
										</ul>
										<div class="names-people-likes">
											37
										</div>
									</div>
						
									<div class="comments-shared">
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-speech-balloon-icon">
												<use xlink:href="#olymp-speech-balloon-icon"></use>
											</svg>
											<span>62</span>
										</a>
									</div>
						
								</div>
							</div>
						
						</article>
						
						<!-- ... end Post -->
					</div>
				</div>
			</div>

			<div class="crumina-module crumina-heading with-title-decoration">
				<h5 class="heading-title">Comments (14)</h5>
			</div>

			
			<!-- Comments -->
			<ul   
				class="comments-list  style-3" 
				v-for="comment in articleComments"
				:key="comment.id">
				<tree v-if="comment.parent==null" :tree-data="comment"></tree>
			</ul>
	
			
			<!-- ... end Comments -->
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center">
				<a href="#" class="btn btn-purple btn-md mb60 mt60">Load More Comments...</a>
			</div>

			<div
				v-if="accessKey!=null"  
				class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

				
				<!-- Comment Form -->
				
				<form @submit.prevent="onSubmit" method="POST">
					<div class="crumina-module crumina-heading with-title-decoration">
						<h5 class="heading-title">Yorum Yazın</h5>
					</div>
					<div class="row">
						<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="form-group">
								<textarea class="form-control" id="commentText" v-model="content" placeholder="Mesajınız"></textarea>
							</div>
							 
							<b-button 
							 class="btn btn-primary btn-lg full-width"
							type="submit" variant="primary">Yorumu Gönder</b-button>
						</div>
					</div>
				</form>
				<p v-if="error">{{error}}</p>
				
				<!-- ... end Comment Form -->
			
			

		</div>

	</div>
</div>


 
</div>
</div>
</template>

<style scoped>
	




</style>	