get<script>
import { mapGetters, mapActions, mapState} from "vuex";
import store from '@/store'
export default {
	name: "CategoryArticles",
	data() {
		return{
			isLoading: false
		}
	},
	beforeRouteUpdate (to, from, next) {
  	if (store.state.articles.next!=null)
    		{
    			store.state.articles.next=null
    			store.state.articles=null
    			next()
    		}
    else {
    	next()
    }	

  	next()
  },
	computed: {
    ...mapGetters('articles', {articles: 'articles'}),
    ...mapGetters('articles', {next: 'next'}),
    ...mapState({current: state => state.articles.current}),
  },
  
  methods: {
  	...mapActions(['articles/fetchCategoryArticles']),
  	async getArticles() {
     	await  this.$store.dispatch('articles/fetchCategoryArticles', this.$route.params);
     	this.$router.push({ name: 'articles', query: { next: store.state.articles.current }})
    },
    async getcategoryArticles() {
    	await  this.$store.dispatch('articles/fetchCategoryArticles');
    }
  },
  created() {
  	this.$store.dispatch('articles/fetchCategoryArticles', this.$route.params).
  	then(() => {
  			this.isLoading = false;
  			this.$store.dispatch('articles/fetchMostLikedArticles');
  	})
  },
  destroyed() {
  	this.$store.dispatch('articles/resetArticlesState');
  }
};
</script>

<template>
<div>
<!-- Preloader -->


<!-- ... end Preloader -->


<!-- Fixed Sidebar Left -->

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Left -->

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Right -->

<!-- ... end Fixed Sidebar Right -->


<!-- Fixed Sidebar Right-Responsive -->

<!-- ... end Fixed Sidebar Right-Responsive -->


<!-- Header-BP -->

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<!-- ... end Responsive Header-BP -->
<div class="header-spacer header-spacer-small"></div>


<!-- Main Header BlogV1 -->
	<div class="stunning-header-content mt-20">
		<h1 class="stunning-header-title">Makaleler</h1>

		<ul class="breadcrumbs">
			<li class="breadcrumbs-item">
				<router-link 
				    :to="{name: 'home'}"
				    class="navbar-brand"
				    >Anasayfa
				</router-link>
				
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item active">
				<span>Makaleler</span>
			</li>
		</ul>
	</div>

<section class="blog-post-wrap">
	<div class="container">
		<div class="row">
			<div 
				class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"
				v-for="article in articles.results" 
				:key="article.id"
				:article="article">
				<div class="ui-block">

					<!-- Post -->
					
					<article class="hentry blog-post">
					
						<div class="post-thumb">
							<router-link
								:to="{name: 'article', params: {slug: article.slug}}"
							>
				        <img :src="article.thumbnail"  :alt="article.title">
			        </router-link>
						</div>
					
						<div class="post-content">
							<div 
								v-for="category in article.categories" 
								:key="category.id">
								<router-link 
									:to="{name: 'categoryArticles', params: {slug: category.slug} }"
									class="post-category bg-blue-light"
									@click.native="categoryArticles"
									>{{category.title}}
								</router-link>
							</div>
							<router-link
								:to="{name: 'article', params: {slug: article.slug}}"
								class="h4 post-title"
							>{{article.title}}</router-link>
							<p>{{article.excerpt}}.</p>
							<span v-if="article['excerpt']==null">{{ article.content | truncate(100, '...') }}</span>

							<div class="author-date">
								by
								<a class="h6 post__author-name fn" href="#">{{article.user}}</a>
								<div class="post__date">
									<time class="published" datetime="article.created_at">
										- {{article.created_at}}
									</time>
								</div>
							</div>

							<div class="post-additional-info inline-items">
								<div class="friends-harmonic-wrap">
									<div class="names-people-likes">
										{{article.likes_count}} Beğeni
									</div>
								</div>
					
								<div class="comments-shared">
									<div class="names-people-likes">
										{{article.likes_count}} Yorum
									</div>
								</div>
					
							</div>
						</div>
					
					</article>
					
					<!-- ... end Post -->
				</div>
			
			</div>
		</div>

		<!-- Pagination -->
		
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<button
					v-show="next"
					@click="getcategoryArticles"
					class="btn btn-sm btn-primary"
				>Devamı...</button>
				</li>
				
			</ul>
		</nav>
		
		<!-- ... end Pagination -->
	</div>
</section>

<!-- Window-popup-CHAT for responsive min-width: 768px -->

<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->
 
		
	
</div>
</template>