<script>
export default {
	name: "NodeTree",
	data() {
		return {
			isShow : false,
		}
	},
	props: {
		node: {
			type: Object,
			required: true
		}
	},
};
</script>
<template>
<div>
				
				<li v-if="node.children && node.children.length" class="comment-item has-children">
					<div class="post__author-thumb">
								<img :src="comment.user_thumbnail" alt="comment.user">
							</div>
			
							<div class="comments-content">
								<div class="post__author author vcard">
			
									<div class="author-date">
										<a class="h6 post__author-name fn" href="#">{{comment.user}}</a>
										<div class="post__date">
											<time class="published" datetime="comment.created_at">
												&nbsp; -  {{comment.created_at}} 
											</time>
										</div>
									</div>
			
								</div>
			
								<p v-html="comment.content"></p>
			
								<button class="reply" v-on:click="isShow = !isShow">Cevapla</button>
								<form @submit.prevent="onSubmit" method="POST" v-show="isShow">
									<div class="crumina-module crumina-heading with-title-decoration">
										<h5 class="heading-title">Yorum Yazın</h5>
									</div>
									<div class="row">
										<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
											<div class="form-group">
												<textarea class="form-control" id="commentText" v-model="content" placeholder="Mesajınız"></textarea>
											</div>
											 
											<b-button 
											 class="btn btn-primary btn-lg full-width"
											type="submit" variant="primary">Yorumu Gönder</b-button>
										</div>
									</div>
								</form>
								<p v-if="error">{{error}}</p>
								<a href="#" class="report">Şikayet et</a>
							</div>
							</div>
					
					<ul v-if="comment.children" class="children">
						<li class="comment-item" 
							v-for="comment in comment.children" 
							:key="comment-id">
							<div class="post__author-thumb">
								<img :src="comment.user_thumbnail" alt="comment.user">
							</div>
			
							<div class="comments-content">
								<div class="post__author author vcard">
			
									<div class="author-date">
										<a class="h6 post__author-name fn" href="#">{{comment.user}}</a>
										<div class="post__date">
											<time class="published" datetime="comment.created_at">
												&nbsp; -  {{comment.created_at}} 
											</time>
										</div>
									</div>
			
								</div>
			
								<p>{{comment.content}}
								</p>
			
								<a href="#" class="reply">Reply</a>
								<a href="#" class="report">Report</a>
							</div>
						</li>
					</ul>
				</li> 
</div>
</template>
<style></style>