<script>
export default {
	name: "Article",
	computed: {
    ...mapGetters('articles', {article: 'article'}),
  },
  methods: {
  	...mapActions(['articles/fetchAnArticle']),
  	...mapActions(['articles'])
  },
  created() {
  	this.$store.dispatch('articles/fetchAnArticle', this.$route.params)
  }
};
</script>
<template>

<div class="ui-block" v-for="article in mostLikedArticles" :key="article.id">

	<router-link
		:to="{name: 'article', params: {slug: article.slug}}"
		class="h4 post-title" 
		@click="fetchAnArticle"
		>{{article.title}}
	</router-link>

</div>

</template>