<template>
  <div id="app">
    <h1>Hello</h1>
    <HeaderComponent />
    <router-view />
    <FooterComponent />
  </div>
</template>
<script>
import { mapState } from 'vuex';
//import { apiService } from "@/common/api.service.js"
import FooterComponent from "@/components/Footer.vue"
import HeaderComponent from "@/components/Header.vue"
import '@/assets/bootstrap.css' ;
import '@/assets/main.css' ;
import '@/assets/custom.css';
export default {
  name: "App",
  components: {
    HeaderComponent,
    FooterComponent,
  },
  data: () => ({
      drawer: false,
      drawerRight: false,
      right: false,
      left: false
    }),
    props: {
      source: String
  },
  methods: {

  },
  computed: {
    alert () {
        return this.$store.state.alert
      },
    ...mapState({
      accessKey: state => state.user.accessKey,
      refreshKey: state => state.user.refreshKey,
    }),
  },
  mounted() {
    console.log('process.env', process.env.NODE_ENV)
  },
  created() {
    //this.setUserInfo();
  }
};
</script>

<style>
  html, body {
    height: 100%;
    font-family: "Playfair Display", serif;
  }
  @import url("https://fonts.googleapis.com/icon?family=Roboto");
</style>