{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<title>Yogavidya | {% block head_title %} {% endblock %}</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->



	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.min.css' %}">
	

	
	{% block style %}
	{% endblock %}
</head>
<body>

	{% block content %}
	{% endblock %}
	{% block js %}
	{% endblock%}

</body>
</html>