{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css"  href="{% static 'bundle.css' %}">
{% endblock %}
{% block content %}
	
	<noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continddue.</strong>
    </noscript>
	
	<div id="app">
		
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'bundle.js' %}"></script>
{% endblock %}