{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block head_title %}YogaVidya{% endblock %}
{% block topbar %} {% include 'snippets/topbar.html' %}{% endblock %}
{% block content %}
 
{% include 'snippets/header.html' %}

<!-- Main Header BlogV1 -->

<div class="main-header">
	<div class="content-bgmain-wrap bg-account"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<!-- Section Call To Action Animation -->
					<section class="align-right pt160 pb80 section-move-bg call-to-action-animation scrollme  joinbutton">
						<div class="container">
							<div class="row">
								<div class="col col-xl-6 m-auto col-lg-6 col-md-12 col-sm-12 col-12">
								</div>
							</div>
						</div>
					</section>
					<!-- ... end Section Call To Action Animation -->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-header-2">
	<div class="container">
		<div class="row row justify-content-md-center justify-content-center">
			<div class="col col-lg-12 m-auto col-md-12 col-sm-12 col-12">
				<div class="main-header-content">
					<!-- Section Call To Action Animation -->
					<section class="align-right pt60 pb40 section-move-bg call-to-action-animation scrollme  joinbutton justify-content-center">
						<div class="container">
							<div class="row">
								<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 embed-container-photo">
									<div>
										<img src="{% static 'yogavidya-kamp.jpg' %}" alt="yogavidya kamp" class="embed-image">
									</div>
								</div>
								<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
									<div class='embed-container'>
										<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/399684490?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- ... end Section Call To Action Animation -->
				</div>
			</div>
		</div>
	</div>
</div>
 

<section class="medium-padding80 pt40 subscribe-animation scrollme bg-landing">
	<div class="container">
		<div class="row pt60 justify-content-md-center">
			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12  m-auto  pt40">
				<div class="crumina-module crumina-heading c-white custom-color">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">Sen de Bize Katıl</h2>
					</div>
					<h2 class="heading-title  text-center"><span class="c-primary"></span></h2> 
					<p class="heading-text"> YogaVidya yoga öğrencilerinin ve YogaVidya eğitmenleri’nin ortak platformudur. Siteye üye olarak diğer üyeler ve eğitmenler ile iletişime geçebilir, videolarla yoga yapabilir ve yoga hakkında teorik bilgilere sahip olabilirsiniz.</p>
					<p class="heading-text">Her disiplinde olduğu gibi Yoga’da da düzenli uygulama en başta gelir. Düzenli uygulama kişinin genel sağlığını koruması, kronik rahatsızların giderilmesi, beden ve zihnin arınması, bireyin kişisel gelişimi ve spiritüel evrimi açısında çok ama çok önemlidir. Bu nedenle sitemizi sizlerin daha düzenli, ev konforunda, vakit kaybetmeden yoga yapabilmesi için tasarladık. Tek yapmanız gereken sitemize üye olarak videolarla çalışmalara başlamak.</p>
					<p class="heading-text">Yoga sonsuz bir yol olduğu için sizlerle paylaşacaklarımızın sınırı olmayacaktır. Günden güne güncellenecek olan sitemizi takip ederek, diğer kullanıcılar ve eğitmenlerle bağlantıya geçip her geçen gün yeni bilgiler edinebilir, videolarımızla yaptığınız pratik uygulamaları teorik bilgilerle destekleyerek bu harika yolda ilerleyebilirsiniz.</p>
				</div>
			</div>

			<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<a href="{% url 'profiles:teachers:teachers_info' %}">
					<img src="{% static 'img/egitmen-ol.jpg' %}" alt="egitmen ol" class="img-thumbnail">
				</a>
			</div>
		</div>

		
	</div>
</section>
<!-- ... end Main BlogV1 -->
<section class="pt60">
	<div class="container">
		<div class="row justify-content-md-center justify-content-center">
			<div class="col col-xl-10 col-lg-10 col-md-8 col-sm-8 col-8">
					<div class="info-box-wrap justify-content">
						<div class="row">
								<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
									<!-- Info Box  -->

									<div class="crumina-module crumina-info-box" data-mh="box--classic">
										<div class="info-box-image">
											{% if not request.user.is_authenticated %}
											<a href="{% url 'profiles:student_login' %}"><img src="{% static 'img/banner-1.png' %}" alt="icon"></a>
											{% else %}
											<img src="{% static 'img/banner-1.png' %}" alt="icon">
											{% endif %}
										</div>

									</div>

									<!-- ... end Info Box  -->

								</div>
								<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">


									<!-- Info Box  -->

									<div class="crumina-module crumina-info-box" data-mh="box--classic">
										<div class="info-box-image">
											{% if not request.user.is_authenticated %}
											<a href="{% url 'profiles:student_login' %}"><img src="{% static 'img/banner-2.png' %}" alt="icon"></a>
											{% else %}
											<img src="{% static 'img/banner-2.png' %}" alt="icon">
											{% endif %}
										</div>

									</div>

									<!-- ... end Info Box  -->

								</div>
								<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">


									<!-- Info Box  -->

									<div class="crumina-module crumina-info-box" data-mh="box--classic">
										<div class="info-box-image">
											{% if not request.user.is_authenticated %}
											<a href="{% url 'profiles:student_login' %}"><img src="{% static 'img/banner-3.png' %}" alt="icon"></a>
											{% else %}
											<img src="{% static 'img/banner-3.png' %}" alt="icon">
											{% endif %}
										</div>

									</div>

									<!-- ... end Info Box  -->

								</div>
								</div>
					</div>
			</div>
		</div>
	</div>
</section>
<section class="pt60">
	<div class="container">
		<div class="container">
			<div class="row">
				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">{% trans 'Articles' %}</h2>
					</div>
					<div class="container">
						<div class="blog-post-wrap" id="posts-grid-1" data-layout="masonry">
							<div class="owl-carousel owl-theme">
							{% for article in index_article_list %}
								<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 item">
									<div class="ui-block">
										<!-- Post -->
										<article class="hentry blog-post">
											<div class="post-thumb">
												<a href="{% url 'articles:detail' slug=article.slug %}">
									              	{% thumbnail article.image "401x287" crop="center" as im %}
									                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
									              	{% endthumbnail %}
								              	</a>
											</div>
											<div class="post-content">
												{% for category in article.categories.all %}
													<a href="{% url 'home' %}" class="post-category bg-blue-light">{{category.title|safe|striptags}}</a>
												{% endfor %}
												<a href="{% url 'articles:detail' slug=article.slug %}" class="h5 post-title">{{article.title}} </a>
												{%if article.excerpt is not None %}
													{{article.excerpt|safe|striptags}}
												{% else %}
													{{ article.content |safe|striptags|truncatechars:140 }}
												{% endif %}
												<div class="author-date">
													by
													<a class="h6 post__author-name fn" href="#">{{article.author}}</a>
													<div class="post__date">
														<time class="published" datetime="{{article.publish}}">
															- {{article.publish|timesince}}
														</time>
													</div>
												</div>
											</div>
										</article>
										<!-- ... end Post -->
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>		
		<div class="container">
			<div class="row pt60">
				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">{% trans 'Yoga Lessons' %}</h2>
					</div>
					<div class="container">
						<div class="blog-post-wrap" id="posts-grid-2" data-layout="masonry">
							<div class="owl-carousel owl-theme">
							{% for videolesson in index_videolesson_list %}
								<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 item">
									<div class="ui-block">
										<!-- Post -->
										<article class="hentry blog-post">
											<div class="post-thumb">
												<a href="{% url 'videolessons:detail' slug=videolesson.slug %}">
									              	{% thumbnail videolesson.image "401x287" crop="center" as im %}
									                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
									              	{% endthumbnail %}
								              	</a>
											</div>
										
											<div class="post-content">
												{% for category in videolesson.categories.all %}
													<a href="{% url 'home' %}" class="post-category bg-blue-light">{{category.title|safe|striptags}}</a>
												{% endfor %}
												<a href="{% url 'videolessons:detail' slug=videolesson.slug %}" class="h5 post-title">{{videolesson.title}} </a>
												{%if videolesson.excerpt is not None %}
													{{videolesson.excerpt|safe|striptags}}
												{% else %}
													{{ videolesson.content |safe|striptags|truncatechars:140 }}
												{% endif %}
												<div class="author-date">
													by
													<a class="h6 post__author-name fn" href="#">{{videolesson.author}}</a>
													<div class="post__date">
														<time class="published" datetime="{{videolesson.publish}}">
															- {{videolesson.publish|timesince}}
														</time>
													</div>
												</div>
											</div>
										</article>
										<!-- ... end Post -->
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row pt60">
				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">{% trans 'Other Lessons' %}</h2>
					</div>
					<div class="container">
						<div class="blog-post-wrap" id="posts-grid-3" data-layout="masonry">
							<div class="owl-carousel owl-theme">
							{% for videolesson in other_videolesson_list %}
								<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 item">
									<div class="ui-block">
										<!-- Post -->
										<article class="hentry blog-post">
											<div class="post-thumb">
												<a href="{% url 'videolessons:detail' slug=videolesson.slug %}">
									              	{% thumbnail videolesson.image "401x287" crop="center" as im %}
									                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
									              	{% endthumbnail %}
								              	</a>
											</div>
										
											<div class="post-content">
												{% for category in videolesson.categories.all %}
													<a href="{% url 'home' %}" class="post-category bg-blue-light">{{category.title|safe|striptags}}</a>
												{% endfor %}
												<a href="{% url 'videolessons:detail' slug=videolesson.slug %}" class="h5 post-title">{{videolesson.title}} </a>
												{%if videolesson.excerpt is not None %}
													{{videolesson.excerpt|safe|striptags}}
												{% else %}
													{{ videolesson.content |safe|striptags|truncatechars:140 }}
												{% endif %}
												<div class="author-date">
													by
													<a class="h6 post__author-name fn" href="#">{{videolesson.author}}</a>
													<div class="post__date">
														<time class="published" datetime="{{videolesson.publish}}">
															- {{videolesson.publish|timesince}}
														</time>
													</div>
												</div>
											</div>
										</article>
										<!-- ... end Post -->
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
					<div class="crumina-module crumina-heading">
						
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row pt60">
				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">{% trans 'Chakra Lessons' %}</h2>
					</div>
					<div class="container">
						<div class="blog-post-wrap" id="posts-grid-3" data-layout="masonry">
							<div class="owl-carousel owl-theme">
							{% for videolesson in chakra_videolesson_list %}
								<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 item">
									<div class="ui-block">
										<!-- Post -->
										<article class="hentry blog-post">
											<div class="post-thumb">
												<a href="{% url 'videolessons:detail' slug=videolesson.slug %}">
									              	{% thumbnail videolesson.image "401x287" crop="center" as im %}
									                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
									              	{% endthumbnail %}
								              	</a>
											</div>
										
											<div class="post-content">
												{% for category in videolesson.categories.all %}
													<a href="{% url 'home' %}" class="post-category bg-blue-light">{{category.title|safe|striptags}}</a>
												{% endfor %}
												<a href="{% url 'videolessons:detail' slug=videolesson.slug %}" class="h5 post-title">{{videolesson.title}} </a>
												{%if videolesson.excerpt is not None %}
													{{videolesson.excerpt|safe|striptags}}
												{% else %}
													{{ videolesson.content |safe|striptags|truncatechars:140 }}
												{% endif %}
												<div class="author-date">
													by
													<a class="h6 post__author-name fn" href="#">{{videolesson.author}}</a>
													<div class="post__date">
														<time class="published" datetime="{{videolesson.publish}}">
															- {{videolesson.publish|timesince}}
														</time>
													</div>
												</div>
											</div>
										</article>
										<!-- ... end Post -->
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
					<div class="crumina-module crumina-heading">
						
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row pt60">
				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">{% trans 'Q&A' %}</h2>
					</div>
					<div class="container">
						<div class="blog-post-wrap" id="posts-grid-3" data-layout="masonry">
							<div class="owl-carousel owl-theme">
							{% for videolesson in qa_videolesson_list %}
								<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 item">
									<div class="ui-block">
										<!-- Post -->
										<article class="hentry blog-post">
											<div class="post-thumb">
												<a href="{% url 'videolessons:detail' slug=videolesson.slug %}">
									              	{% thumbnail videolesson.image "401x287" crop="center" as im %}
									                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
									              	{% endthumbnail %}
								              	</a>
											</div>
										
											<div class="post-content">
												{% for category in videolesson.categories.all %}
													<a href="{% url 'home' %}" class="post-category bg-blue-light">{{category.title|safe|striptags}}</a>
												{% endfor %}
												<a href="{% url 'videolessons:detail' slug=videolesson.slug %}" class="h5 post-title">{{videolesson.title}} </a>
												{%if videolesson.excerpt is not None %}
													{{videolesson.excerpt|safe|striptags}}
												{% else %}
													{{ videolesson.content |safe|striptags|truncatechars:140 }}
												{% endif %}
												<div class="author-date">
													by
													<a class="h6 post__author-name fn" href="#">{{videolesson.author}}</a>
													<div class="post__date">
														<time class="published" datetime="{{videolesson.publish}}">
															- {{videolesson.publish|timesince}}
														</time>
													</div>
												</div>
											</div>
										</article>
										<!-- ... end Post -->
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-center">
				<div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
					<div class="crumina-module crumina-heading">
						
					</div>
				</div>
			</div>
		</div>
		
		<hr>
</section>

<!-- Block Action 

<div class="container mb60">
	<div class="block-action bg-section4 background-cover">
		<div class="row">
			<div class="col col-xl-5 col-lg-12 col-md-12 col-sm-12  mr-auto">
				<div class="crumina-module crumina-heading custom-color c-white mb-0">
					<h2 class="heading-title">Ekibimize katılmak ister misiniz?</h2>
					<p class="heading-text"><a href="#">Buraya tıklayın</a> eğitmen ya da kursiyer olanaklarımızı görmek için!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

 ... Block Action -->





<div class="modal fade" id="registration-login-form-popup" tabindex="-1" role="dialog" aria-labelledby="registration-login-form-popup" aria-hidden="true">
	<div class="modal-dialog window-popup registration-login-form-popup" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="modal-body">
				<div class="registration-login-form">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#homereg" role="tab">
								<svg class="olymp-login-icon">
									<use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
								</svg>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#homelog" role="tab">
								<svg class="olymp-register-icon">
									<use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-register-icon"></use>
								</svg>
							</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="homereg" role="tabpanel" data-mh="log-tab">
							<div class="title h6">{% trans "Register to Yogavidya Family" %}</div>
                            <form action="{% url 'profiles:student_signup' %}" id="homeregister" method="post" class="content">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">{% trans "First Name" %}</label>
                                            <input id="name" class="form-control" type="text"   name="first_name">
                                        </div>
                                    </div>
                                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">{% trans "Last Name" %}</label>
                                            <input id="name" class="form-control" type="text"   name="last_name">
                                        </div>
                                    </div>
                                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">{% trans "Your Email" %}</label>
                                            <input type="email"   class="form-control" name="email">
                                        </div>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">{% trans "Your Password" %}</label>
                                            <input id="Password1" class="Password form-control" type="password"  name="Password1">
                                        </div>

                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">{% trans "Confirm Password " %}</label>
                        <input id="Password2" class="Password form-control" type="password"   name="Password2">
                                        </div>

                                        <div class="remember">
                                            <div class="checkbox">
                                                <label>
                                                    <input name="terms" type="checkbox">
                                                    {% trans "I accept the" %} <a href="#">{% trans "Terms and Conditions" %}</a> {% trans "of the website" %}
                                                </label>
                                            </div>
                                        </div>

                                        <a href="#" class="btn btn-purple btn-lg full-width" onclick="document.forms['homeregister'].submit();">
                                            {% trans "Complete Registration!" %}
                                        </a>
                                    </div>
                                </div>

                            </form>
						</div>

						<div class="tab-pane" id="homelog" role="tabpanel" data-mh="log-tab">
							<div class="title h6">{% trans "Login to your Account" %}</div>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if form.errors %}
                            {%endif%}
                            <form class="content" id="homelogin" action="{% url 'profiles:student_login' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                                <div class="row">
                                    <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">{% trans "Your Username or Email" %}</label>
                            <input id="name" name="username" class="form-control" type="text"   name="web">
                                        </div>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">{% trans "Your Password" %}</label>
                            <input id="Password" name="password" class="Password form-control" type="password" name="Password">
                                        </div>

                                        <div class="remember">

                                            <div class="checkbox">
                                                <label>
                                                    <input name="optionsCheckboxes" type="checkbox">
                                                    {% trans "Remember Me" %}
                                                </label>
                                            </div>
                                            <a href="{% url 'profiles:student_login' %}" class="forgot">{% trans "Forgot my Password" %}</a>
                                        </div>
                            <input type="submit" value="login" class="btn btn-lg btn-primary full-width"/>


                                        <div class="or"></div>

                                        <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><i class="fab fa-facebook-f" aria-hidden="true"></i>Login with Facebook</a>

                                        <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i class="fab fa-twitter" aria-hidden="true"></i>Login with Twitter</a>


                                        <p>{% trans "Don’t you have an account? " %}<a href="#">{% trans "Register Now!" %}</a> {% trans "it’s really simple and you can start enjoing all the benefits!" %}</p>
                                    </div>
                                </div>

                            </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




{% endblock %}
{% block footer_content %}
<script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
      integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
      crossorigin="anonymous"
    ></script>
<script>

$(document).ready(function(){
  $( "body" ).addClass( "body-bg-white" );
  $(".owl-carousel").owlCarousel({
    loop:true,
    margin:5,
    nav:true,
    navText: ["<i class='fa fa-angle-left fa-3x'></i>", "<i class='fa fa-angle-right fa-3x'></i>"],
    responsive:{
        0:{
            items:1
        },
        600:{
            items:4
        },
        1000:{
            items:4
        }
    }
});
   $(".owl-carousel-2").owlCarousel({
    loop:true,
    margin:5,
    nav:true,
    navText: ["<i class='fa fa-angle-left fa-3x'></i>", "<i class='fa fa-angle-right fa-3x'></i>"],
    responsive:{
        0:{
            items:1
        },
        600:{
            items:4
        },
        1000:{
            items:4
        }
    }
});
});
 

</script>

{% endblock%}