.post-content {
  color:black;
}
.full {
  width: 100%;
  height: auto;
}

.post-thumb img:hover {
  cursor: pointer;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
}

.header-menu a {
    font-size: 15px;
}
.main-header {
    padding: 70px 0 70px 0;
    max-width: calc(100% - 0px);
    margin: 0 auto;
    position: relative;
    background-position: 100% 100%;
    margin-bottom:25px;
}
.main-header-2 {
    padding: 70px 0 0 0;
    max-width: calc(100% - 100px);
    margin: 0 auto;
    position: relative;
    background-position: 100% 100%;
    margin-bottom:-270px;
}
@media screen and (max-width: 600px) {
  .main-header-2 {
    margin-bottom:-80px;
  }

}
@media screen and (min-width:600px) and (max-width: 992px) {
  .main-header-2 {
    margin-bottom:-100px;
  }

}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 100%
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
@media screen and (min-width:992px) {
  .embed-container-photo {
    position: relative;
    height: 340px;
    padding-bottom:40px;
    overflow: hidden;
    max-width: 100%;
  }
}
.embed-image{
  widht:100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 13%;
  width: 98%;
  height: 75%;
}
@media screen and (max-width: 920px) {
  .embed-container {
    margin-top:60px;
  }
  
}
.header-spacer {
    display: block;
    height: 30px;
}
.content-bg-wrap {
  /*position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  -webkit-animation: slide 50s linear infinite;
          animation: slide 50s linear infinite;
  will-change: background-position;
  background-size: cover; }


.content-bgmain-wrap {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    margin-bottom:-120px;
    text-align: center;
    box-sizing: border-box;
    /*-webkit-animation: slide 50s linear infinite;
            animation: slide 50s linear infinite;
    will-change: background-position;*/
    background-size: cover;
    background-repeat: no-repeat;}

@media (max-width: 992px) {
.content-bgmain-wrap {
    /*position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;*/
    position: absolute;
    overflow: hidden;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    /*-webkit-animation: slide 50s linear infinite;
            animation: slide 50s linear infinite;
    will-change: background-position;*/
    background-size: cover; } }
    @-webkit-keyframes slide {
      from {
        background-position: 0 0; }
      to {
        background-position: -4000px 0; } }

.img-bottom {
  position: relative;
  display: block;
  margin: 0px;
  margin-bottom: 20px; }

.bg-account {
  background: url("../img/BANNER-4.jpg") no-repeat center center;
  height: 125%;
  max-width: 100%;
  background-position: inherit,  cover; /* Center the image */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: inherit, center; /* Resize the background image to cover the entire container */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

@media  screen and (min-width: 399px;max-width:992px) {
  .bg-account {
  background-image: url("../img/mobil.jpg");
  } 
}
.header-menu a {
    font-weight: 400;
}
.admin-account{
  background-image: url("../img/testimonial-header.png");
  height: 200%;
  width: 100%;
  background-position: inherit, cover; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: inherit, center; /* Resize the background image to cover the entire container */
}


  /*------------- #INFO-BOXES --------------*/
  .pt120 {
    padding-top: 25px;
    margin-top: 250px;
    /*background-color:#012936;*/
}
  .crumina-info-box {
    text-align: center; }

  .info-box-image {
    margin-bottom: 50px; }

  .info-box-wrap .crumina-info-box {
    margin-bottom: 80px;
    margin-top: 40px;}
.crumina-heading {
    margin-bottom: 0;
}
  .info-box-title {
    margin-bottom: 40px; }

  .crumina-info-box--thumb-left {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .crumina-info-box--thumb-left .info-box-image {
      margin-bottom: 0;
      margin-right: 30px; }
    .crumina-info-box--thumb-left .info-box-title {
      margin-bottom: 30px; }

.dz-max-files-reached {
  pointer-events: none;
  cursor: default;
}
.form-group textarea {
    resize: none;
  border-style: none; 
  border-color: Transparent; 
  overflow: auto;        
}

#upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#upload-btn-wrapper > .btnu {
  border: 2px solid gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

#upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper {
    position: relative;
    display: inline-block;   
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: white
}
.upload-btn-wrapper input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
}
.fixed-sidebar .logo {
    background-color: #fff;
}
.stylish-fonts{
  font-family: "Open Sans", Times, serif;
  color:#515365;
}
a.stylish-logo:visited{
  color:#515365;
}

.header {
    background-color: #ffffff;
}

.link-find-friend {
    color:#515365;
}
.bg-landing {
  background-image: url("../img/landing-bg.jpg"); }

@media (min-width: 540px)
.modal-dialog {
    max-width: 800px important!;
}

.modal-content {
  width:600px important!;
}