<template>
  <div id="app">
    <HeaderComponent v-if="accessKey === null" />
    <ProfileHeader v-if="accessKey !== null" />
    <router-view />
    <FooterComponent />
  </div>
</template>
<script>
require('vue-it-bigger/dist/vue-it-bigger.min.css');
import { mapState } from 'vuex';
//import { apiService } from "@/common/api.service.js"
import FooterComponent from "@/components/snippets/Footer.vue"
import HeaderComponent from "@/components/snippets/Header.vue"
import ProfileHeader from "@/components/snippets/ProfileHeader.vue"
 
export default {
  name: "App",
  components: {
    HeaderComponent,
    ProfileHeader,
    FooterComponent,
  },
  data () {
    return {
      fromRoute: null
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.fromRoute = from;
    })
  },
  methods: {
    toggleBodyClass(addRemoveClass, className) {
      const el = document.body;

      if (addRemoveClass === 'addClass') {
        el.classList.add(className);
      } else {
        el.classList.remove(className);
      }
    },
    /**
    * Handle Back
    * @desc Extends default router back functionality
    * @param {string} fallback - The fallback path if there is no history to use with $router.back(). This is usually the case if the page was visited directly or from another site
    **/
    handleBack (fallback) {
      if (!this.fromRoute.name) {
        this.$router.push(fallback);
      } else {
        this.$router.back();
      }
    }
  },
  computed: {
    
    ...mapState({
      accessKey: state => state.user.accessKey,
     }),
    //mapGetters('auth', ['isAuthenticated',]),
  },
  mounted() {
    
  },
  created() {
    //this.setUserInfo();
    
   if (this.$store.state.user.accessKey != null) {
      this.$store.dispatch('user/getUserInfo')
        .then( () =>
          {
            if (status!==200) {
                this.$store.dispatch('user/resetUsState');
              }
          }
        )
    }
  }
};
</script>

<style>
  html, body {
    height: 100%;
    font-family: "Playfair Display", serif;
  }
  @import url("https://fonts.googleapis.com/icon?family=Roboto");
</style>