<script>
import { mapGetters, mapActions } from "vuex";
export default {
	name: "Page",
	
	computed: {
    ...mapGetters('pages', {page: 'page'}),
  },
  methods: {
  	...mapActions(['pages/fetchAPage']),
  toggleBodyClass(addRemoveClass, className) {
     const el = document.body;

     if (addRemoveClass === 'addClass') {
       el.classList.add(className);
     } else {
       el.classList.remove(className);
     }
   },
  },
  beforeRouteUpdate (to, from, next) {
    // called when the route that renders this component has changed,
    // but this component is reused in the new route.
    // For example, for a route with dynamic params /foo/:id, when we
    // navigate between /foo/1 and /foo/2, the same Foo component instance
    // will be reused, and this hook will be called when that happens.
    // has access to >this component instance.
    console.log(to)
    console.log(from)
    console.log(next)


    this.$store.dispatch('pages/resetAPage');
    next();
    this.$store.dispatch('pages/fetchAPage' , this.$route.params);
   
     
  },
  mounted() {
    this.toggleBodyClass('addClass', 'landing-page');
    this.$store.dispatch('pages/fetchAPage' , this.$route.params).
    then(() => {
        console.log(this.$store);
        console.log(this.$route.params);
        this.isLoading = false;
    })
  },
  destroyed() {
   this.toggleBodyClass('removeClass', 'landing-page');
   this.$store.dispatch('pages/resetAPage');
  },
  created() {
  	this.$store.dispatch('pages/fetchAPage' , this.$route.params).
  	then(() => {
  			console.log(this.$store);
  			console.log(this.$route.params);
  			this.isLoading = false;
  	})
  },
};

</script>
<template>
<!-- End Stunning header -->

<div class="container">
	<div class="row mt50">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block mb60">
				<!-- Single Post -->
				<article class="hentry blog-post single-post single-post-v3 justify-content-center">
					<h1 class="post-title text-center">{{page.title}}</h1>
					<div class="post-content-wrap">
						<div class="post-content" v-html="page.content">
						</div>
					</div>
				</article>
				<!-- ... end Single Post -->
			</div>
		</div>
	</div>
</div>
	
</template>
<style></style>