<script>
export default {
	name: "TeacherInfo",
  
  data: () => ({
      isLoading:false,
  }),
  methods: {
    
   toggleBodyClass(addRemoveClass, className) {
     const el = document.body;

     if (addRemoveClass === 'addClass') {
       el.classList.add(className);
     } else {
       el.classList.remove(className);
     }
   },
   renderEl() {
      return '<div class="content-bg-wrap"></div>'
   }
  },
 
  mounted() {
    this.toggleBodyClass('addClass', 'landing-page');
  },
  destroyed() {
   this.toggleBodyClass('removeClass', 'landing-page');
  },
  created() {
  	this.isLoading = false;
  	document.title = "YogaVidya";
  	console.log(this.$store);
  }
};
</script>	
<template>
<div class="container">
  <div class="row display-flex">
    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="landing-content">
        <p>www.yogavidya.com.tr, yoga öğrencilerinin ve Yoga Vidya Eğitmenleri’nin ortak platformudur. Siteye üye olarak diğer üyeler ve eğitmenler ile iletişime geçebilir, videolarla yoga yapabilir ve yoga hakkında teorik bilgilere sahip olabilirsiniz.</p>

        <p>Her disiplinde olduğu gibi Yoga’da da düzenli uygulama en başta gelir. Düzenli uygulama kişinin genel sağlığını koruması, kronik rahatsızların giderilmesi, beden ve zihnin arınması, bireyin kişisel gelişimi ve spiritüel evrimi açısında çok ama çok önemlidir. Bu nedenle sitemizi sizlerin daha düzenli, ev konforunda, vakit kaybetmeden yoga yapabilmesi için tasarladık. Tek yapmanız gereken sitemize üye olarak videolarla çalışmalara başlamak.
        </p>

        <p>www.yogavidya.com.tr pratik çalışmaların yanı sıra yoga teorisi ve yoga ile ilgili bilgileri toplumun hizmetine sunmaktadır. Yoga sonsuz bir yol olduğu için sizlerle paylaşacaklarımızın sınırı olmayacaktır. Günden güne güncellenecek olan sitemizi takip ederek, diğer kullanıcılar ve eğitmenlerle bağlantıya geçip her geçen gün yeni bilgiler edinebilir, videolarımızla yaptığınız pratik uygulamaları teorik bilgilerle destekleyerek bu harika yolda ilerleyebilirsiniz.
        </p>
         
        <a href="#" class="btn btn-md btn-border c-white">Üye Olun!</a>
       
      </div>
    </div>

    <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

      <div class="img-thumbnail">
        <h3 class="text-center">RLYS-TT Nedir ?</h3>
        
        <h6 style="font-style:italic;">RLYS-TT, Real Life Yoga Society’nin Yoga Eğitmenlik Programıdır.</h6>
        <ul>
          <li>
            Real Life Yoga Society, amacı  geleneksel, saf ve gerçek Yoga’yı günümüze aktarmak olan Uluslararası bir STK dır.
          </li>
          <li>
            RLYS-TT yaşamını gerçek yoganın anlaşılmasına adamış olan YOGA VİDYA TÜRKİYE’nin kurucusu, MOKŞA İçindeki Özgürlük kitabının ve YOGA TEKNİKLERİ kitaplarının yazarı, Usta Eğitmen Hakan Kireçkaya tarafından 20 yıllık bir araştırma, öğrenme ve öğretme deneyimlerinin sonucu olarak oluşturulmuştur.
          </li>
          <li>
            Sistemin temel amacı yoğunlaştırılmış ve son derece verimli yaklaşımlarla adayların doğru ve sonuç odaklı bir süreçten geçirilerek program sonunda tam bir ders anlatımını başarı ile gerçekleştirmelerini sağlamak ve günümüzde kaybolmaya yüz tutmuş kadim gerçek yoga ilminin tüm detay ve yaklaşımları ile aktarımını sağlamaktır.
          </li>
          <li>
            Sistem verilen çalışmanın saatsel anlamda niceliği ile değil, nitelik ve zaman optimizasyonu ile üstün bir aktarım anlayışını benimser.
          </li>
          <li>
            Eğitmenler program bitiminden itibaren sisteme entegre olarak hazırlanmış YOGA TEKNİKLERİ kitabı rehberliğinde yıllar boyu programlarını ilerletebilirler ve böylece öğrencilerine bu eşsiz yolu deneyimletme şansına sahip olurlar.
          </li>
          <li>
            RLYS TT 2. Kademe programın da ise eğitmenlerimiz Uzman Fizyoterapistlerden aldıkları Anatomi, Biyomekani eğitimlerinin yanı sıra orta ve ileri seviye yoga asanaları konusunda uzmanlaştırılır.
          </li>
          <li>
            İkinci kademeyi geçen eğitmenler, RLYS-MT (MASTER TRAINER) sınavını ve mülakatı başarı ile geçmeleri durumunda kurs açma ve eğitmen yetiştirme hakkını elde etmiş olurlar.
          </li>
          <li>
            RLYS-MT eğitmenleri RLYS ülke ve il temsilcilikleri alarak Yoga Stüdyoları açabilir ve bulundukları ülke ve illerde Master Trainer seviyesine kadar eğitmenler yetiştirerek, mucizevi sonuçlar barındıran Evrensel Yoga Yöntemi’nin aktarılması konusunda insanlığa büyük katkılar sağlayabilirler.
          </li>
        </ul>
        <a href="#" class="btn btn-md btn-border c-white">Hemen Üye Olun</a>
      </div>
      </div>
      <!-- ... end Login-Registration Form  -->   
    </div> 
      <!-- ... end Login-Registration Form  -->   
  </div>
</template>
<style scope>
li{
  font-size:13px;
}
</style>