<template>
						<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item">
							<slide>
								<div class="ui-block">
									<!-- Post -->
									<article class="hentry blog-post">
										<div class="post-thumb">
											<img :src="article.thumbnail" class="img-thumbnail" alt="">
										</div>
										<div class="post-content">
											<router-link
												:to="{ name: 'article', params: { slug: article.slug }}"
												class="h5 post-title">
												{{article.title}} 
											</router-link>
													{{ article.content }} 
											<div class="author-date">
												by
												<a class="h6 post__author-name fn" href="#">{{article.author}}</a>
												<div class="post__date">
													<time class="published" datetime="article.publish">
														- {{article.publish}}
													</time>
												</div>
											</div>
										</div>
									</article>
									<!-- ... end Post -->
								</div>
							</slide>
						</div>

						
</template>
<script>
import {  Slide } from "vue-carousel";

export default {
	name: "ArticlesList",
	components: {
		Slide
	},
	
	props: {
		article: {
			type:Object,
			required: true
		}
	}

};
</script>