<script>
import { mapGetters, mapActions} from "vuex";
export default {
	name: "Articles",
	
	computed: {
    ...mapGetters('articles', {articles: 'articles'}),
  },
  methods: {
  	...mapActions(['articles/fetchArticles']),
  	getArticles() {
     	return this.$store.dispatch('articles/fetchArticles');
    },
  },
  created() {
  	this.$store.dispatch('articles/fetchArticles').
  	then(() => {
  			console.log(this.$store);
  			console.log(this.$route.params);
  			this.isLoading = false;
  	})
  }
};
</script>

<template>
<div>
	<div class="header-spacer--standard"></div>
		
	<div class="stunning-header-content mt-20">
		<h1 class="stunning-header-title">Makaleler</h1>

		<ul class="breadcrumbs">
			<li class="breadcrumbs-item">
				<router-link 
				    :to="{name: 'home'}"
				    class="navbar-brand"
				    >Anasayfa
				</router-link>
				
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item active">
				<span>Makaleler</span>
			</li>
		</ul>
	</div>

 


<!-- ... end Stunning header -->

<section class="blog-post-wrap medium-padding80">
	<div class="container">
		<div class="row" id="article-list">
			<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" 
					v-for="article in articles" 
					:key="article.id" :article="article">
				<div class="ui-block">

					<!-- Post -->
					
					<article class="hentry blog-post">
					
						<div class="post-thumb">
							<router-link
								:to="{name: 'article', params: {slug: article.slug}}"
							>
				        <img :src="article.thumbnail" >
			        </router-link>
						</div>
					
						<div class="post-content">
							
							<router-link
								:to="{name: 'article', params: {slug: article.slug}}"
								class="h5 post-title"
							>{{article.title}}</router-link>
							
							<span>{{article.excerpt}}</span>
							<span v-if="article['excerpt']==null">{{ article.content }}</span>
							<div class="author-date">
								by
								<a class="h6 post__author-name fn" href="#">{{article.author}}</a>
								<div class="post__date">
									<time class="published" datetime="article.publish">
										- {{article.publish}}
									</time>
								</div>
							</div>
							
					
						</div>
					
					</article>
					
					<!-- ... end Post -->
				</div>
			</div>
			
		</div>
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center pb120 pt120">
			<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Previous</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: -10.3833px; top: -16.8333px; background-color: rgb(255, 255, 255); transform: scale(16.7857);"></div></div></a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">...</a></li>
				<li class="page-item"><a class="page-link" href="#">12</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
			<p>...loading...</p>
			<button id="load-more-button" 
					href="#" class="btn btn-control btn-more btn-primary"
					@click="getArticles()">
					...
			</button>

		</div>
	</div>
	<!-- Pagination -->

	<!-- ... end Pagination -->

</section>
</div>
</template>