<script>
import { mapGetters, mapActions} from "vuex";
export default {
  name: "Books",
   data() {
    return {
      loading: false,
    }
  },
  computed: {
    ...mapGetters('books', {books: 'books'}),
    ...mapGetters('articles', {next: 'next'}),
  },
  methods: {
    ...mapActions(['books/fetchBooks']),
    ...mapActions(['books/fetchStart']),
    getBooks() {
      return this.$store.dispatch('books/fetchBooks');
    },
  },
  created() {
    this.$store.dispatch('books/fetchBooks')
  }
};
</script>

<template>
<div>
  <div class="header-spacer header-spacer-small"></div>
    
  <div class="stunning-header-content mt-20">
    <h1 class="stunning-header-title">Kitaplar</h1>

    <ul class="breadcrumbs">
      <li class="breadcrumbs-item">
        <router-link 
            :to="{name: 'home'}"
            class="navbar-brand"
            >Anasayfa
        </router-link>
        
        <span class="icon breadcrumbs-custom">/</span>
      </li>
      <li class="breadcrumbs-item active">
        <span>Kitaplar</span>
      </li>
    </ul>
  </div>

<!-- ... end Stunning header -->

<section class="blog-post-wrap">
  <div class="container">
    <div class="row">
      <div 
        class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"
        v-for="book in books" 
          :key="book.id" :book="book">
        
        <!-- Product Item -->
        
        <div class="shop-product-item">
          <div class="product-thumb">
            <img :src="book.image" alt="book.title">
          </div>
          <div class="product-content">
            <div class="block-title">
              <router-link
                :to="{name: 'article', params: {slug: article.slug}}"
                class="h5 title"
              >
              {{book.title}}
              </router-link>
            </div>
            <div class="block-price">
              
              <div class="product-price">{{book.price}}</div>
        
              <a href="#" class="in-cart">
                <svg class="olymp-shopping-bag-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>
              </a>
            </div>
          </div>
        </div>
        
        <!-- ... end Product Item -->

      </div>
    </div>

    <!-- Pagination -->
    
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <button
          v-show="next"
          @click="getBooks"
          class="btn btn-sm btn-primary"
        >Devamı...</button>
        </li>
        
      </ul>
    </nav>
    
    <!-- ... end Pagination -->
  </div>
</section>

</div>
</template>
