<script>
import { mapGetters, mapActions} from "vuex";
export default {
	name: "Book",
	
	computed: {
    ...mapGetters('books', {book: 'book'}),
  },
  methods: {
  	...mapActions(['books/fetchABook']),
  	getArticles() {
     	return this.$store.dispatch('books/fetchABook');
    },
  },
  created() {
  	this.$store.dispatch('books/fetchABook').
  	then(() => {
  			console.log(this.$store);
  			console.log(this.$route.params);
  			this.isLoading = false;
  	})
  }
};
</script>
<template>
<div>
	<!-- ... end Header Standard Landing  -->
	<div class="header-spacer--standard"></div>

	<div class="stunning-header-content">
		<h1 class="stunning-header-title">Merchandise</h1>
		<ul class="breadcrumbs">
			<li class="breadcrumbs-item">
				<a href="#">Home</a>
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item">
				<a href="#">Shop Grid</a>
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item active">
				<span>White Enamel Mug</span>
			</li>
		</ul>
	</div>

	<div class="content-bg-wrap stunning-header-bg1"></div>
<!-- End Stunning header -->
<section>
	
	<!-- Shop Product Detail -->
	
	<div class="shop-product-detail">
		<div class="container">
			<div class="row">
				<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="thumbs-wrap">
						<div class="small-thumbs-wrap js-zoom-gallery">
							<a href="img/product-small1.png" class="small-thumb">
								<img src="img/product-small1.png" alt="product">
							</a>
							<a href="img/product-small2.png" class="small-thumb">
								<img src="img/product-small2.png" alt="product">
							</a>
						</div>
	
						<div class="shop-product-detail-thumb">
							<img class="main-img" alt="product" src="img/product3.png">
						</div>
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="shop-product-detail-content">
						<div class="main-content-wrap">
							<div class="block-title">
								<a href="#" class="product-category">COFFEE MUGS</a>
								<h2 class="title bold">White Enamel Mug</h2>
								<ul class="rait-stars">
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
	
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="far fa-star star-icon" aria-hidden="true"></i>
									</li>
								</ul>
							</div>
	
							<div class="block-price">
								<div class="product-price">$20</div>
							</div>
						</div>
	
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor labore eter
							dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
							ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit  voluptate velit
							esse cillum dolore.
						</p>
	
						<div class="inputs-wrap">
	
							<div class="form-group label-floating quantity">
								<label class="control-label">Quantity</label>
								<a href="#" class="quantity-minus">&#8744;</a>
								<input title="Qty" class="form-control" value="2" type="text">
								<a href="#" class="quantity-plus">&#8743;</a>
							</div>
	
							<div class="form-group label-floating is-select">
								<label class="control-label">Select Size</label>
								<select class="selectpicker form-control">
									<option value="SM">Small Mug (2,5’’ High)</option>
									<option value="BI">Big Mug (3,5’’ High)</option>
								</select>
							</div>
	
						</div>
	
						<a href="#" class="btn btn-blue btn-md with--icon">
							<svg class="olymp-shopping-bag-icon icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>
							<div class="text">
								<span class="title">Add to Cart</span>
							</div>
						</a>
	
						<ul class="tags">
							<li>
								Tags:
							</li>
							<li>
								<a class="tags-item" href="#">Enamel,</a>
							</li>
							<li>
								<a class="tags-item" href="#">Coffee,</a>
							</li>
							<li>
								<a class="tags-item" href="#">Mugs,</a>
							</li>
							<li>
								<a class="tags-item" href="#">White</a>
							</li>
						</ul>
	
						<div class="article-number">
							SKU:<span>ASF55GX</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- ... end Shop Product Detail -->

</section>

<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col col-xl-8 m-auto col-lg-8 col-md-12 col-sm-12 col-12">

				
				<!-- Product Description -->
				
				<div class="product-description">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#additional" role="tab">
								Additional Description
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#rewievs" role="tab">
								Customer Reviews
								<span class="total-topic">3</span>
							</a>
						</li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active align-center" id="additional" role="tabpanel" data-mh="log-tab">
							<h2 class="title">The Best Camping Mug!</h2>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
								sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
								voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
								laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
								qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
								fugiat quo voluptas nulla pariatur?
							</p>
				
							<p>
								Duis en aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
								deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
								voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
								inventore veritatis et quasi hitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
								voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
								dolores eos qui ratione voluptatem sequi nesciunt Sed ut perspiciatis unde omnis
								iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
								eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
								explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
								quia consequuntur magni dolores.
							</p>
						</div>
				
						<div class="tab-pane" id="rewievs" role="tabpanel" data-mh="log-tab">
				
							<div class="comments-title-wrap">
								<div class="block-title">
									<h2 class="title">3 Reviews</h2>
									<ul class="rait-stars">
										<li>
											<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
										</li>
										<li>
											<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
										</li>
				
										<li>
											<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
										</li>
										<li>
											<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
										</li>
										<li>
											<i class="far fa-star star-icon" aria-hidden="true"></i>
										</li>
										<li class="numerical-rating">4.3 / 5</li>
									</ul>
								</div>
				
								<a href="#" class="btn btn-primary btn-md" data-toggle="modal" data-target="#popup-write-rewiev">Write a Review</a>
				
							</div>
				
							<ul class="comments__list-review">
				
								<li class="comments__item-review">
				
									<div class="comment-entry comment comments__article">
				
										<div class="comments__body ovh">
				
											<h5 class="title">Really Great for Camping</h5>
				
											<ul class="rait-stars">
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
				
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
												<li>
													<i class="far fa-star star-icon" aria-hidden="true"></i>
												</li>
				
											</ul>
				
											<div class="comment-content comment">
												Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
												fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
												sequi nesciunt. Sed ut perspiciatis unde omnis iste natus error sit
												voluptatem accusantium ntium, totam rem aperiam, eaque ipsa quae ab illo
												inventore veritatis et quasi architecto.
											</div>
				
											<header class="comment-meta comments__header-review">
				
				
												<time class="published comments__time-review" datetime="2017-10-02 12:00:00">4 hours ago by</time>
				
				
												<cite class="fn url comments__author-review">
													<a href="#" rel="external" class=" ">Nicholas Grissom</a>
												</cite>
				
											</header>
				
				
										</div>
				
									</div>
								</li>
				
								<li class="comments__item-review">
				
									<div class="comment-entry comment comments__article">
				
										<div class="comments__body ovh">
				
											<h5 class="title">The Best Mug I’ve ever Bought!!</h5>
				
											<ul class="rait-stars">
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
				
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
				
											</ul>
				
											<div class="comment-content comment">
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor labore eter dolore magna aliqua. Ut enim ad minim veniam, quis
												nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
											</div>
				
											<header class="comment-meta comments__header-review">
				
				
												<time class="published comments__time-review" datetime="2017-10-02 12:00:00">12 hours ago by</time>
				
				
												<cite class="fn url comments__author-review">
													<a href="#" rel="external" class=" ">Marina Valentine</a>
												</cite>
				
											</header>
				
				
										</div>
				
									</div>
								</li>
				
								<li class="comments__item-review">
				
									<div class="comment-entry comment comments__article">
				
										<div class="comments__body ovh">
				
											<h5 class="title">Really Cool Design</h5>
				
											<ul class="rait-stars">
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
				
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
												<li>
													<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
												</li>
												<li>
													<i class="far fa-star star-icon" aria-hidden="true"></i>
												</li>
				
											</ul>
				
											<div class="comment-content comment">
												Duis aute irure dolor in reprehenderit  voluptate velit esse cillum
												dolore. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
												aut fugit, sed quia consequuntur magni dolores eos qui ratione.
											</div>
				
											<header class="comment-meta comments__header-review">
				
				
												<time class="published comments__time-review" datetime="2017-10-02 12:00:00">2 days ago by</time>
				
				
												<cite class="fn url comments__author-review">
													<a href="#" rel="external">Jack Stevens</a>
												</cite>
				
											</header>
				
				
										</div>
				
									</div>
								</li>
				
							</ul>
						</div>
					</div>
				
				</div>
				
				<!-- ... end Product Description -->

			</div>
		</div>
	</div>
</section>


<section class="medium-padding100">
	<div class="container">
		<div class="related-products">
			<div class="row">
				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="crumina-module crumina-heading with-title-decoration">
						<h5 class="heading-title">Related Products</h5>
					</div>
				</div>
				<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

					
					<!-- Product Item -->
					
					<div class="shop-product-item">
						<div class="product-thumb">
							<img src="img/shop-product1.png" alt="product">
						</div>
						<div class="product-content">
							<div class="block-title">
								<a href="#" class="product-category">COFFEE MUGS</a>
								<a href="#" class="h5 title">White Enamel Mug</a>
							</div>
							<div class="block-price">
								<ul class="rait-stars">
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
					
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="far fa-star star-icon" aria-hidden="true"></i>
									</li>
								</ul>
								<div class="product-price">$20</div>
					
								<a href="#" class="in-cart">
									<svg class="olymp-shopping-bag-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>
								</a>
							</div>
						</div>
					</div>
					
					<!-- ... end Product Item -->

				</div>
				<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

					
					<!-- Product Item -->
					
					<div class="shop-product-item">
						<div class="product-thumb">
							<img src="img/shop-product2.png" alt="product">
						</div>
						<div class="product-content">
							<div class="block-title">
								<a href="#" class="product-category">CLOTHING</a>
								<a href="#" class="h5 title">Olympus White Shirt</a>
							</div>
							<div class="block-price">
								<ul class="rait-stars">
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
					
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="far fa-star star-icon" aria-hidden="true"></i>
									</li>
								</ul>
								<div class="product-price">$20</div>
					
								<a href="#" class="in-cart">
									<svg class="olymp-shopping-bag-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>
								</a>
							</div>
						</div>
					</div>
					
					<!-- ... end Product Item -->

				</div>
				<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

					
					<!-- Product Item -->
					
					<div class="shop-product-item">
						<div class="product-thumb">
							<img src="img/shop-product3.png" alt="product">
						</div>
						<div class="product-content">
							<div class="block-title">
								<a href="#" class="product-category">ACCESORIES</a>
								<a href="#" class="h5 title">Ringed Notepad</a>
							</div>
							<div class="block-price">
								<ul class="rait-stars">
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
					
									<li>
										<i class="fa fa-star star-icon c-primary" aria-hidden="true"></i>
									</li>
									<li>
										<i class="far fa-star star-icon" aria-hidden="true"></i>
									</li>
									<li>
										<i class="far fa-star star-icon" aria-hidden="true"></i>
									</li>
								</ul>
								<div class="product-price">$16</div>
					
								<a href="#" class="in-cart">
									<svg class="olymp-shopping-bag-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>
								</a>
							</div>
						</div>
					</div>
					
					<!-- ... end Product Item -->

				</div>
			</div>
		</div>
	</div>
</section>
</div>
</template>
<style></style>