<script>
import { mapGetters, mapActions} from "vuex";
export default {
	name: "Page",
	
	computed: {
    ...mapGetters('pages', {page: 'page'}),
  },
  methods: {
  	...mapActions(['pages/fetchAPage']),
  },
  created() {
  	this.$store.dispatch('pages/fetchAPage' , this.$route.params).
  	then(() => {
  			console.log(this.$store);
  			console.log(this.$route.params);
  			this.isLoading = false;
  	})
  }
};
</script>
<template>
<!-- End Stunning header -->

<div class="container">
	<div class="row mt50">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block mb60">
				<!-- Single Post -->
				<article class="hentry blog-post single-post single-post-v3 justify-content-center">
					<h1 class="post-title text-center">{{page.title}}</h1>
					<div class="post-content-wrap">
						<div class="post-content">
							{{page.content}}
						</div>
					</div>
				</article>
				<!-- ... end Single Post -->
			</div>
		</div>
	</div>
</div>
	
</template>
<style></style>