{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% block head_title %}YogaVidya{% endblock %}
{% block topbar %} {% include 'snippets/topbar.html' %}{% endblock %}
{% block content %}
<div class="content-bg-wrap"></div>
{% include 'snippets/header-standard.html' %}

<div class="container">
  <div class="row display-flex">
    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="landing-content">
        <h1>{% trans "Welcome to the Biggest Yoga Network in the World" %}</h1>
        {% blocktrans %}
        <p>We are second the best and biggest social network with 5 billion active users all around the world. Share you
          thoughts, write blog posts, show your favourite music via Stopify, earn badges and much more!
        </p>
        {% endblocktrans %}
        <a class="btn btn-border c-white" data-toggle="modal" data-target="#membershipConditions">
          {% trans 'See membership conditions' %}
        </a>
        <br>
        <br>
        <hr>
        <p>{% trans 'if you are already member' %} </p>
        <a href="{% url 'profiles:student_login' %}" class="btn btn-md btn-border c-white">{% trans "Login" %}</a>
        

      </div>
    </div>

    <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

      <!-- Login-Registration Form  -->

      <div class="registration-login-form">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link  active" data-toggle="tab" href="#signup-student" role="tab">
              <svg class="olymp-register-icon"><use xlink:href="/static/svg-icons/sprites/icons.svg#olymp-register-icon"></use></svg>
            </a>
      
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="signup-student" role="tabpanel" data-mh="log-tab">
            <div class="title h6">{% trans "Register to Rlys" %}</div>
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            
 
            {% if form.errors %}{%endif%}
            <form method="post" action="{% url 'profiles:student_signup' %}" novalidate class="content">

                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
                
 
              <button type="submit" class="btn btn-success">{% trans 'Sign up' %}</button>

            </form>
       
          </div>

  
        </div>

      <!-- ... end Login-Registration Form  -->   </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="membershipConditions" tabindex="-1" role="dialog" aria-labelledby="membershipConditions" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="membershipConditionst,tşe">{% trans 'Membership Conditions' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>ÜYELİK ŞARTLARI</h3>



        <p>1- Sitemiz gerçek kullanıcılar içindir. 

        <ul>

        <li>- Üyelerimiz gerçek ad, soyad ve profil fotoğrafı kullanmalıdır.</li>



        <li>- Gerçek ad, soyad ve profil fotoğrafı kullanmayan sahte hesaplar kapatılır.</li>

        </ul>
        </p>
        <p>2 - Belirli bir grubu, kişi ya da kişileri rahatsız edecek içerikler paylaşmak ve diğer üyelerin huzurunu bozacak mesajlar göndermek site kuralları gereği üyeliğinizin iptal edilmesine neden olabilir.</p>


        <p>3- Sitemizde bulunan tüm yazılı ve görsel materyeller herhangi bir yerden kopyalanmadan ekibimiz tarafından üretilmiştir. Bu nedenle sitede bulunan her şey telif hakları yasasına göre korunmaktadır. İzinsiz yapılan alıntılar ve kopyalamalar hukuki durumlar yaratacaktır.

        <ul>

        <li>- Bu platform tüm insanlara hizmet etmek için kurulmuştur. Bu nedenle zorunlu bir ödeme şekli mevcut değildir. </li>



        <li>- Platformumuzun daha da faydalı bir hale gelebilmesi için siz de fikirlerinizi, görüşlerinizi ve maddi desteklerinizi bizimle paylaşabilirsiniz. </li>



        <li>- Bu sayede daha çok içerik üretmemize katkıda bulunabilir ve ihtiyacı olan fakat imkanı olmayanların da bu sistemden faydalanmasını sağlayabilirsiniz.</p>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer_content %}
<script type="text/javascript">
  $(document).ready(function() {

    $('body').addClass("landing-page")

  });
</script>

{% endblock %}
