<script>
import InnerProfileLeftMenu from "@/components/snippets/InnerProfileLeftMenu"
import YourProfile from "@/components/snippets/YourProfile"
import { mapState, mapActions } from 'vuex'
export default {
	name: "HobbiesInterests",
	components: {
		InnerProfileLeftMenu,
		YourProfile
	},
	computed: {
		personalInformation() {
     	return this.$store.actions['user/getUserInformation'];
    },
    ...mapState('user', [
        'email',
        'username',
        'firstName',
        'lastName',
        'bio',
        'birthplace',
        'work',
        'hobbies',
        'fav_books',
        'fav_games',
        'fav_movies',
        'fav_music',
        'fav_writers',
        'fav_routes',
        'fav_tv'
    ]),
	},

	methods: {
  	...mapActions(["user/getUserInformation",]),
  },

	created() {
		this.$store.dispatch('user/getUserInformation')
	}

};
</script>
<template>
<div>
<!-- Profile Settings Responsive -->
<InnerProfileLeftMenu />
<!-- ... end Profile Settings Responsive -->


<!-- Fixed Sidebar Left -->

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Left -->

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Right -->

<!-- ... end Fixed Sidebar Right -->


<!-- Fixed Sidebar Right-Responsive -->

<!-- ... end Fixed Sidebar Right-Responsive -->


<!-- Header-BP -->

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<!-- ... end Responsive Header-BP -->
<div class="header-spacer header-spacer-small"></div>

<!-- Main Header Account -->

<div class="main-header">
	<div class="content-bg-wrap bg-profile"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Hesap Ayarları</h1>
					<p> Hesap paneliniz, burada hesabınız ilgili her türlü ayarı değiştirebilirsiniz!</p>
				</div>
			</div>
		</div>
	</div>
	<img class="img-bottom" src="img/account-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Account -->



<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Hobiler ve İlgiler</h6>
				</div>
				<div class="ui-block-content">

					
					<!-- Form Hobbies and Interests -->
					
					<form>
						<div class="row">
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group">
									<textarea class="form-control" :placeholder="hobbies" v-model="hobbies"></textarea>
								</div>
								<div class="form-group">
									<textarea class="form-control" :placeholder="fav_tv" v-model="fav_tv"> </textarea>
								</div>
								<div class="form-group">
									<textarea class="form-control" :placeholder="fav_movies" v-model="fav_movies">  </textarea>
								</div>
								<div class="form-group">
									<textarea class="form-control" :placeholder="fav_games" v-model="fav_games"> </textarea>
								</div>
					
								<button class="btn btn-secondary btn-lg full-width">Cancel</button>
							</div>
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group">
									<textarea class="form-control" :placeholder="fav_music" v-model="fav_music"> </textarea>
								</div>
								<div class="form-group">
									<textarea class="form-control" :placeholder="fav_books" v-model="fav_books"> </textarea>
								</div>
								<div class="form-group">
									<textarea class="form-control" :placeholder="fav_writers" v-model="fav_writers"> </textarea>
								</div>
								<div class="form-group">
									<textarea class="form-control" :placeholder="fav_routes" v-model="fav_routes"> </textarea>
								</div>
					
								<button class="btn btn-primary btn-lg full-width">Değişiklikleri Kaydet</button>
							</div>
					
						</div>
					</form>
					
					<!-- ... end Form Hobbies and Interests -->

				</div>
			</div>
		</div>

		<div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
			<div class="ui-block">
				<!-- Your Profile  -->
				<YourProfile />
				<!-- ... end Your Profile  -->
			</div>
		</div>
	</div>
</div>

<!-- ... end Your Account Personal Information -->




<!-- Window-popup-CHAT for responsive min-width: 768px -->
 
<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->
</div>
</template>
<style scoped>
.bg-profile {
    background-image: url("../../assets/img/top-header3.png") !important;
}
</style>