<script>
import InnerProfileLeftMenu from "@/components/snippets/InnerProfileLeftMenu";
import YourProfile from "@/components/snippets/YourProfile";
import { mapState, mapActions } from 'vuex';
export default {
	name: "PersonalInformation",
	data() {
		return {
			city: null,
			country: null,
			state: null,
			country_options:[
				{ value: null, text: 'Please select an option' },
				{ value: 't', text: 'Türkiye'}

			],
			city_options: [
			],
			state_options: [
			],

		}
	},
	components: {
		InnerProfileLeftMenu,
		YourProfile
	},
	computed: {
		personalInformation() {
     	return this.$store.actions['user/getUserInformation'];
    },
    ...mapState('user', [
        'email',
        'username',
        'firstName',
        'lastName',
        'bio',
        'birthplace',
        'work'
    ]),
	},

	methods: {
  	...mapActions(["user/getUserInformation",]),
  },

	created() {
		this.$store.dispatch('user/getUserInformation');
	}

};
</script>
<template>
<div>
<!-- Profile Settings Responsive -->
<InnerProfileLeftMenu />

<!-- ... end Profile Settings Responsive -->

<!-- Fixed Sidebar Left -->

<!-- ... end Fixed Sidebar Left -->

<!-- Fixed Sidebar Left -->

<!-- ... end Fixed Sidebar Left -->

<!-- Fixed Sidebar Right -->

<!-- ... end Fixed Sidebar Right -->

<!-- Fixed Sidebar Right-Responsive -->

<!-- ... end Fixed Sidebar Right-Responsive -->


<!-- Header-BP -->

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<!-- ... end Responsive Header-BP -->
<div class="header-spacer header-spacer-small"></div>

<!-- Main Header Account -->

<div class="main-header">
	<div class="content-bg-wrap bg-profile"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Hesap Ayarları</h1>
					<p> Hesap paneliniz, burada hesabınız ilgili her türlü ayarı değiştirebilirsiniz!</p>
				</div>
			</div>
		</div>
	</div>
	<img class="img-bottom" src="img/account-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Account -->


<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title"> {{username}} Kişisel Bilgileri</h6>
				</div>
				<div class="ui-block-content">

					
					<!-- Personal Information Form  -->
					
					<form>
						<div class="row">
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">Ad</label>
									<input class="form-control" placeholder="" type="text" :value="firstName">
								</div>
					
								<div class="form-group label-floating">
									<label class="control-label">Email </label>
									<input class="form-control" placeholder="" type="email" :value="email">
									
								</div>
					
							</div>
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">Soyad</label>
									<input class="form-control" placeholder="" type="text" :value="lastName">
								</div>
					
								<div class="form-group date-time-picker label-floating">
									<label class="control-label">Doğumgünüz</label>
									<input name="datetimepicker" value="10/24/1984" />
									<span class="input-group-addon">
															<svg class="olymp-month-calendar-icon icon"><use xlink:href="#olymp-month-calendar-icon"></use></svg>
														</span>
								</div>
								
							</div>
					
							<div class="col col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="form-group label-floating is-select">
									<label class="control-label">Ülke</label>
									<b-form-select v-model="country" :options="country_options" class="form-control">
									</b-form-select>
								</div>
							</div>
							<div class="col col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="form-group label-floating is-select">
									<label class="control-label">Şehir</label>
									<b-form-select v-model="city" :options="country_options" class="form-control">
									</b-form-select>
								</div>
							</div>
							<div class="col col-lg-4 col-md-4 col-sm-12 col-12">
								<div class="form-group label-floating is-select">
									<label class="control-label">Semt</label>
									<b-form-select v-model="state" :options="country_options" class="form-control">
									</b-form-select>
								</div>
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group">
									<textarea class="form-control" placeholder="Write a little description about you"  v-model="bio"></textarea>
								</div>
					
								<div class="form-group label-floating is-select">
									<label class="control-label">Your Gender</label>
									<select class="selectpicker form-control">
										<option value="MA">Male</option>
										<option value="FE">Female</option>
									</select>
								</div>
					
								
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating is-empty">
									<label class="control-label">Your Birthplace</label>
									<input class="form-control" placeholder="" type="text">
								</div>
					
								<div class="form-group label-floating">
									<label class="control-label">Meslek</label>
									<input class="form-control" placeholder="" type="text" :value="work">
								</div>
					
								
					
							</div>
							
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<button class="btn btn-secondary btn-lg full-width">Formu Sıfırla</button>
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<button class="btn btn-primary btn-lg full-width">Tüm Değişiklikleri Kaydet</button>
							</div>
					
						</div>
					</form>
					
					<!-- ... end Personal Information Form  -->
				</div>
			</div>
		</div>

		<div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
			<div class="ui-block">

				<!-- Your Profile  -->
				
				<YourProfile />
				
				<!-- ... end Your Profile  -->

			</div>
		</div>
	</div>
</div>

<!-- ... end Your Account Personal Information -->

<!-- Window-popup-CHAT for responsive min-width: 768px -->


<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

</div>
</template>
<style scoped>
.bg-profile {
    background-image: url("../../assets/img/top-header3.png") !important;
}
.form-group.label-floating:not(.is-empty) label.control-label,{
    top: 10px !important;
    font-size: 11px !important;
    line-height: 1.07143;
}

.form-group.label-floating label.control-label {
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;
}
.form-group.label-floating label.control-label{
    top: 10px !important;
    font-size: 11px !important;
    line-height: 1.07143;
    left: 20px !important;
}
.label-floating .form-control, .label-floating input, .label-floating select {
    padding: 1.5rem 1.1rem .5rem !important;
    line-height: 1.75 !important;
}
.form-control {
    height: auto !important;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}
</style>