<script>
export default {
  name: 'StatusComponent',
  data(){
    return {
      newStatusBody: null,
      error: null,
      showForm: false,
      comments: []
    }
  },
  methods: {
    getComments (status) {
      commentsArray = this.status.comments
      for (for (i = 0; i < this.commentsArray.length; i++) {
            this.comments.push(commentsArray[i])
      }
      return comments
    }
  },
  props: {
    status: {
      type: Object,
      required: true
    }
  },
  created() {
    this.$store.dispatch('user/getUserInfo')
      .then(() => {
        this.$store.dispatch('status/fetchStatusses');
    });
  }
};
</script>
<template>
<div class="ui-block">
 <article class="hentry post">
 <p>{{status.content}}</p>
 
  <ul class="comments-list">
    <li class="comment-item"  v-for="comment in comments" :key="comment.id">
      <div class="post__author author vcard inline-items">
        <img src="img/avatar10-sm.jpg" alt="author">
        <div class="author-date">
          <a class="h6 post__author-name fn" href="#">{{comment.user}}</a>
        </div>
    </li>
  </ul>
   
</article>
</div>
</template>
<style></style>