<script>
import { mapState } from 'vuex'
export default {
	name: 'StatusComponent',
	data(){
		return {
			newStatusBody: null,
			error: null,
			showForm: false,
			comments: []
		}
	},
	computed: {
    ...mapState({
	    username: state => state.user.username,
	    thumbnail: state => state.user.thumbnail,
	    first_name: state => state.user.firstName,
	    last_name: state => state.user.lastName,
	    city: state => state.user.city,
	    bio: state => state.user.bio,
  	}),

	},
	methods: {
    getComments (status) {
      var commentsArray = status.comments
      for (var i = 0; i < commentsArray.length; i++) {
            this.comments.push(commentsArray[i])
      }
      return this.comments
    }
  },
	props: {
		status: {
			type: Object,
			required: true
		}
	},
	created() {
  	this.$store.dispatch('user/getUserInfo')
  		.then(() => {
  			this.$store.dispatch('status/fetchStatusses');
  			this.isLoading = false;
  	});
  }
};
</script>
<template>
<div class="ui-block">
					<!-- Post -->
					
					<article class="hentry post">
					
						<div class="post__author author vcard inline-items">
							<img :alt="username" :src="thumbnail">
					
							<div class="author-date">
								<a class="h6 post__author-name fn" href="02-ProfilePage.html">{{status.user}}</a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										2 hours ago
									</time>
								</div>
							</div>
					
							<div class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="#olymp-three-dots-icon"></use>
								</svg>
								<ul class="more-dropdown">
									<li>
										<a href="#">Edit Post</a>
									</li>
									<li>
										<a href="#">Delete Post</a>
									</li>
									<li>
										<a href="#">Turn Off Notifications</a>
									</li>
									<li>
										<a href="#">Select as Featured</a>
									</li>
								</ul>
							</div>
					
						</div>
					
						<p>{{status.content}}
						</p>
					
						<div class="post-additional-info inline-items">
					
							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="#olymp-heart-icon"></use>
								</svg>
								<span>36</span>
							</a>
					
							<ul class="friends-harmonic">
								<li>
									<a href="#">
										<img src="img/friend-harmonic7.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/friend-harmonic8.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/friend-harmonic9.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/friend-harmonic10.jpg" alt="friend">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/friend-harmonic11.jpg" alt="friend">
									</a>
								</li>
							</ul>
					
							<div class="names-people-likes">
								<a href="#">You</a>, <a href="#">Elaine</a> and
								<br>34 more liked this
							</div>
					
					
							<div class="comments-shared">
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-speech-balloon-icon">
										<use xlink:href="#olymp-speech-balloon-icon"></use>
									</svg>
									<span>17</span>
								</a>
					
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-share-icon">
										<use xlink:href="#olymp-share-icon"></use>
									</svg>
									<span>24</span>
								</a>
							</div>
					
					
						</div>
					
						<div class="control-block-button post-control-button">
					
							<a href="#" class="btn btn-control">
								<svg class="olymp-like-post-icon">
									<use xlink:href="#olymp-like-post-icon"></use>
								</svg>
							</a>
					
							<a href="#" class="btn btn-control">
								<svg class="olymp-comments-post-icon">
									<use xlink:href="#olymp-comments-post-icon"></use>
								</svg>
							</a>
					
							<a href="#" class="btn btn-control">
								<svg class="olymp-share-icon">
									<use xlink:href="#olymp-share-icon"></use>
								</svg>
							</a>
					
						</div>
						<ul class="comments-list">
						<li class="comment-item"  v-for="comment in status.comments" :key="comment.id">
							<div class="post__author author vcard inline-items">
								<img src="img/avatar10-sm.jpg" alt="author">
					
								<div class="author-date">
									<a class="h6 post__author-name fn" href="#">{{comment.user}}</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											5 mins ago
										</time>
									</div>
								</div>
					
								<a href="#" class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="#olymp-three-dots-icon"></use>
									</svg>
								</a>
					
							</div>
					
							<p>{{comment.content}}.</p>
					
							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="#olymp-heart-icon"></use>
								</svg>
								<span>8</span>
							</a>
							<a href="#" class="reply">Reply</a>
						</li>
					</ul>
					
					<!-- ... end Comments -->
					<a href="#" class="more-comments">View more comments <span>+</span></a>
					
					<!-- Comment Form  -->
					
					<form class="comment-form inline-items">
					
						<div class="post__author author vcard inline-items">
							<img src="img/author-page.jpg" alt="author">
					
							<div class="form-group with-icon-right ">
								<textarea class="form-control" placeholder=""></textarea>
								<div class="add-options-message">
									<a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
										<svg class="olymp-camera-icon">
											<use xlink:href="#olymp-camera-icon"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					
						<button class="btn btn-md-2 btn-primary">Post Comment</button>
					
						<button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
					
					</form>
					</article>
					
					<!-- .. end Post -->					

					
					<!-- ... end Comment Form  -->				
</div>
</template>
<style></style>