<script>
import InnerProfileLeftMenu from "@/components/snippets/InnerProfileLeftMenu";
import TopHeaderProfile from "@/components/snippets/TopHeaderProfile";
import { mapState } from 'vuex';
export default {
	name: "Teacher",
	components: {
		InnerProfileLeftMenu,
		TopHeaderProfile,
	},
	computed: {
		personalInformation() {
     	return this.$store.getters['members/teacher'];
    },
    ...mapState({
	    bio: state => state.members.teacher.bio,
  	}),
	},

	methods: {
  },

	created() {
		this.$store.dispatch('members/fetchATeacher', this.$route.params);
	}

};
</script>
<template>
<div>
<div class="header-spacer"></div>



<!-- Top Header-Profile -->
<TopHeaderProfile />
<!-- Profile Settings Responsive -->
<InnerProfileLeftMenu />

<!-- ... end Profile Settings Responsive -->
<div class="container">
	<div class="row">
		<div class="col col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Hobiler ve İlgiler</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>
				</div>
				<div class="ui-block-content">
					<div class="row">
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">

							
							<!-- W-Personal-Info -->
							
							<ul class="widget w-personal-info item-block">
								<li>
									<span class="title">Hobbies:</span>
									<span class="text">{{hobbies}}</span>
								</li>
								<li>
									<span class="title">Favori Diziler:</span>
									<span class="text">{{fav_tv}}</span>
								</li>
								<li>
									<span class="title">Favori Filmler:</span>
									<span class="text">{{fav_movies}}</span>
								</li>
								<li>
									<span class="title">Favori Oyunlar:</span>
									<span class="text">{{fav_games}}</span>
								</li>
							</ul>
							
							<!-- ... end W-Personal-Info -->
						</div>
						<div class="col col-lg-6 col-md-6 col-sm-12 col-12">

							
							<!-- W-Personal-Info -->
							
							<ul class="widget w-personal-info item-block">
								<li>
									<span class="title">Favouri Müzik / Sanatçılar:</span>
									<span class="text">{{fav_music}}</span>
								</li>
								<li>
									<span class="title">Favourite Kitaplar:</span>
									<span class="text">{{fav_books}}</span>
								</li>
								<li>
									<span class="title">Favori Yazarlar:</span>
									<span class="text">{{fav_writers}} </span>
								</li>
								<li>
									<span class="title">Favori Rotalar:</span>
									<span class="text">{{fav_routes}}</span>
								</li>
							</ul>


							
							<!-- ... end W-Personal-Info -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Kişisel Bilgiler</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>
				</div>
				<div class="ui-block-content">

					
					<!-- W-Personal-Info -->
					
					<ul class="widget w-personal-info">
						<li>
							<span class="title">Hakkımda:</span>
							<span class="text">{{bio}}
												</span>
						</li>
						<li>
							<span class="title">Doğum günü:</span>
							<span class="text">{{birthday}}</span>
						</li>
						<li>
							<span class="title">Lives in:</span>
							<span class="text">{{location}}</span>
						</li>
						<li>
							<span class="title">Occupation:</span>
							<span class="text">{{occupation}}</span>
						</li>
						<li>
							<span class="title">Üyelik:</span>
							<span class="text">April 31st, 2014</span>
						</li>
						<li>
							<span class="title">Cinsiyet:</span>
							<span class="text">Male</span>
						</li>
						
					</ul>

					<ul class="widget w-personal-info">
								<li>
									<span class="title">Favouri Müzik / Sanatçılar:</span>
									<span class="text">{{fav_music}}</span>
								</li>
								<li>
									<span class="title">Favourite Kitaplar:</span>
									<span class="text">{{fav_books}}</span>
								</li>
								<li>
									<span class="title">Favori Yazarlar:</span>
									<span class="text">{{fav_writers}} </span>
								</li>
								<li>
									<span class="title">Favori Rotalar:</span>
									<span class="text">{{fav_routes}}</span>
								</li>
							</ul>
					
					<!-- ... end W-Personal-Info -->
					<!-- W-Socials -->
					
					
					
					<!-- ... end W-Socials -->
				</div>
			</div>
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Eğitimler</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>
				</div>
				<div class="ui-block-content">

					
					<!-- W-Personal-Info -->

					<ul class="widget w-personal-info">
								<li>
									<span class="title">Favouri Müzik / Sanatçılar:</span>
									<span class="text">{{fav_music}}</span>
								</li>
								<li>
									<span class="title">Favourite Kitaplar:</span>
									<span class="text">{{fav_books}}</span>
								</li>
								<li>
									<span class="title">Favori Yazarlar:</span>
									<span class="text">{{fav_writers}} </span>
								</li>
								<li>
									<span class="title">Favori Rotalar:</span>
									<span class="text">{{fav_routes}}</span>
								</li>
							</ul>
					
					<!-- ... end W-Personal-Info -->
					<!-- W-Socials -->
					
					
					
					<!-- ... end W-Socials -->
				</div>
			</div>
		</div>
	</div>
</div>


<!-- ... end Your Account Personal Information -->

<!-- Window-popup-CHAT for responsive min-width: 768px -->


<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

</div>
</template>
<style scoped>
.bg-profile {
    background-image: url("../../assets/img/top-header3.png") !important;
}
.form-group.label-floating:not(.is-empty) label.control-label,{
    top: 10px !important;
    font-size: 11px !important;
    line-height: 1.07143;
}

.form-group.label-floating label.control-label {
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;
}
.form-group.label-floating label.control-label{
    top: 10px !important;
    font-size: 11px !important;
    line-height: 1.07143;
    left: 20px !important;
}
.label-floating .form-control, .label-floating input, .label-floating select {
    padding: 1.5rem 1.1rem .5rem !important;
    line-height: 1.75 !important;
}
.form-control {
    height: auto !important;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}
</style>