.bg-account {
  background-image: url('./img/BANNER-4.jpg') no-repeat center center !important;
  height: 125%;
  max-width: 100%;
  background-position: inherit,  cover; /* Center the image */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: inherit, center; /* Resize the background image to cover the entire container */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

@media  screen and (min-width: 399px;max-width:992px) {
  .bg-account {
  background-image: url("./img/mobil.jpg");
  } 
}