<template>
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="crumina-module crumina-heading align-center">
				<h2 class="heading-title">Articles</h2>
			</div>
			<div class="container">
				<div class="blog-post-wrap" id="posts-grid-1" data-layout="masonry" >
					<carousel :per-page="1"  :mouse-drag="false" :navigationEnabled="true">
						<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item">
							<slide>
								<div class="ui-block">
									<!-- Post -->
									<article class="hentry blog-post">
										<div class="post-thumb">
											<img :src="article.thumbnail" class="img-thumbnail" alt="">
										</div>
										<div class="post-content">
											<router-link
												:to="{ name: 'article', params: { slug: article.slug }}"
												class="h5 post-title">{{article.title}} 
											</router-link>
													{{ article.content }} 
											<div class="author-date">
												by
												<a class="h6 post__author-name fn" href="#">{{article.author}}</a>
												<div class="post__date">
													<time class="published" datetime="article.publish">
														- {{article.publish}}
													</time>
												</div>
											</div>
										</div>
									</article>
									<!-- ... end Post -->
								</div>
							</slide>
						</div>
					</carousel>	
				</div>
			</div>
		</div>
	</div>
</div>
</template>
<script>
import { Carousel, Slide } from "vue-carousel";

export default {
	name: "ArticlesList",
	components: {
		Carousel,
		Slide
	},
	props: {
		article: {
			type:Object,
			required: true
		}
	}

};
</script>