<script>
import { mapGetters, mapActions, mapState} from "vuex";
import store from '@/store'
export default {
	name: "CategoryVideolessons",
	data() {
		return{
			isLoading: false
		}
	},
	beforeRouteUpdate (to, from, next) {
  	if (store.state.videolessons.next!=null)
    		{
    			store.state.videolessons.next=null
    			store.state.videolessons=null
    			next()
    		}
    else {
    	next()
    }	

  	next()
  },
	computed: {
    ...mapGetters('videolessons', {videolessons: 'videolessons'}),
    ...mapGetters('videolessons', {next: 'next'}),
    ...mapState({current: state => state.videolessons.current}),
  },
  
  methods: {
  	...mapActions(['videolesons/fetchCategoryVideolessons']),
  	async getVideolessons() {
     	await  this.$store.dispatch('videolessons/fetchCategoryVideolessons', this.$route.params);
     	this.$router.push({ name: 'videolessons', query: { next: store.state.videolessons.current }})
    },
    async getCategoryVideolessons() {
    	await  this.$store.dispatch('videolessons/fetchCategoryVideolessons');
    }
  },
  created() {
  	this.$store.dispatch('videolessons/fetchCategoryVideolessons', this.$route.params).
  	then(() => {
  			this.isLoading = false;
  			this.$store.dispatch('videolessons/fetchMostLikedVideolessons');
  	})
  },
  destroyed() {
  	this.$store.dispatch('videolessons/resetVideolessonsState');
  }
};
</script>

<template>
<div>
<!-- Preloader -->


<!-- ... end Preloader -->


<!-- Fixed Sidebar Left -->

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Left -->

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Right -->

<!-- ... end Fixed Sidebar Right -->


<!-- Fixed Sidebar Right-Responsive -->

<!-- ... end Fixed Sidebar Right-Responsive -->


<!-- Header-BP -->

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<!-- ... end Responsive Header-BP -->
<div class="header-spacer header-spacer-small"></div>


<!-- Main Header BlogV1 -->
	<div class="stunning-header-content mt-20">
		<h1 class="stunning-header-title">Videodersler</h1>

		<ul class="breadcrumbs">
			<li class="breadcrumbs-item">
				<router-link 
				    :to="{name: 'home'}"
				    class="navbar-brand"
				    >Anasayfa
				</router-link>
				
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item active">
				<span>Videodersler</span>
			</li>
		</ul>
	</div>

<section class="blog-post-wrap">
	<div class="container">
		<div class="row">
			<div 
				class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"
				v-for="videolesson in videolessons" 
				:key="videolesson.id"
				:videolesson="videolesson">
				<div class="ui-block">

					<!-- Post -->
					
					<article class="hentry blog-post">
					
						<div class="post-thumb">
							<router-link
								:to="{name: 'videolesson', params: {slug: videolesson.slug}}"
							>
				        <img :src="videolesson.thumbnail"  :alt="videolesson.title">
			        </router-link>
						</div>
					
						<div class="post-content">
							<div 
								v-for="category in videolesson.categories" 
								:key="category.id">
								<router-link 
									:to="{name: 'categoryVideolessons', params: {slug: category.slug} }"
									class="post-category bg-blue-light"
									@click.native="categoryVideolessons"
									>{{category.title}}
								</router-link>
							</div>
							<router-link
								:to="{name: 'videolesson', params: {slug: videolesson.slug}}"
								class="h4 post-title"
							>{{videolesson.title}}</router-link>
							<p>{{videolesson.excerpt}}.</p>
							<span v-if="videolesson['excerpt']==null">{{ videolesson.content | truncate(100, '...') }}</span>

							<div class="author-date">
								by
								<a class="h6 post__author-name fn" href="#">{{videolesson.user}}</a>
								<div class="post__date">
									<time class="published" datetime="videolesson.created_at">
										- {{videolesson.created_at}}
									</time>
								</div>
							</div>

							<div class="post-additional-info inline-items">
								<div class="friends-harmonic-wrap">
									<div class="names-people-likes">
										{{videolesson.likes_count}} Beğeni
									</div>
								</div>
					
								<div class="comments-shared">
									<div class="names-people-likes">
										{{videolesson.likes_count}} Yorum
									</div>
								</div>
					
							</div>
						</div>
					
					</article>
					
					<!-- ... end Post -->
				</div>
			
			</div>
		</div>

		<!-- Pagination -->
		
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<button
					v-show="next"
					@click="getCategoryVideolessons"
					class="btn btn-sm btn-primary"
				>Devamı...</button>
				</li>
				
			</ul>
		</nav>
		
		<!-- ... end Pagination -->
	</div>
</section>

<!-- Window-popup-CHAT for responsive min-width: 768px -->

<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->
 
		
	
</div>
</template>