<template>
	<div class="container">
		<div class="row">
			<section class="medium-padding120">
				<div class="container">
					<div class="row mb60">
						<div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 m-auto">
							<div class="crumina-module crumina-heading align-center">
								<h2 class="heading-title">Videolessons</h2>
							</div>
						</div>
					</div>

					<div class="row teammembers-wrap" >
							<carousel>
								
								<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" v-for="videolesson in videolessons" :key="videolesson.pk" >
									<slide>
									
									<!-- Teammember Item  -->
									
									<div class="crumina-module crumina-teammembers-item">
									
										<div class="teammembers-thumb">
											<img class="main" :src="videolesson.thumbnail" alt="videolesson.title">
											<img class="hover" :src="videolesson.thumbnail" alt="videolesson.title">
										</div>
									
										<div class="teammember-content">
									
											<a href="#" class="h5 teammembers-item-name">{{ videolesson.author}}</a>
									
											<div class="teammembers-item-prof">{{videolesson.title}}</div>
									
											<ul class="socials socials--round">
												<li>
													<a href="" class="social-item olympus">
														<svg class="olymp-thunder-icon"><use xlink:href="@/assets/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
													</a>
												</li>
									
												<li>
													<a href="" class="social-item facebook">
														<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.48-1.195 1.18v1.54h2.39l-.31 2.42h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"></path></svg>
													</a>
												</li>
									
												<li>
													<a href="" class="social-item twitter">
														<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.37-1.337.64-2.085.79-.598-.64-1.45-1.04-2.396-1.04-1.812 0-3.282 1.47-3.282 3.28 0 .26.03.51.085.75-2.728-.13-5.147-1.44-6.766-3.42C.83 2.58.67 3.14.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.41-.02-.61-.058.42 1.304 1.63 2.253 3.07 2.28-1.12.88-2.54 1.404-4.07 1.404-.26 0-.52-.015-.78-.045 1.46.93 3.18 1.474 5.04 1.474 6.04 0 9.34-5 9.34-9.33 0-.14 0-.28-.01-.42.64-.46 1.2-1.04 1.64-1.7z" fill-rule="nonzero"></path></svg>
													</a>
												</li>
											</ul>
										</div>
									</div>
									
									<!-- ... end Teammember Item  -->
									</slide>
								</div>
							
							</carousel>
				
			 

					</div>

				</div>
</section>
				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">Videolessons</h2>
					</div>
					<div class="container">
						<div class="blog-post-wrap" id="posts-grid-1" data-layout="masonry" >
							
	
								<carousel>
  								
								<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item" v-for="videolesson in videolessons" :key="videolesson.pk">
								
								<slide>
									
								
									<div class="ui-block">
										<!-- Post -->
										<article class="hentry blog-post">
											<div class="post-thumb">
												<img :src="videolesson.thumbnail" class="img-thumbnail" alt="">
												
											</div>
											<div class="post-content">
												
												<router-link
									:to="{ name: 'article', params: { slug: videolesson.slug }}"
									class="h5 post-title">{{videolesson.title}} </router-link>
												
													{{ videolesson.content }} 
											
												<div class="author-date">
													by
													<a class="h6 post__author-name fn" href="#">{{videolesson.author}}</a>
													<div class="post__date">
														<time class="published" datetime="videolesson.publish">
															- {{videolesson.publish}}
														</time>
													</div>
												</div>
											</div>
										</article>
										<!-- ... end Post -->
									</div>
								</slide>
								</div>
							
							
							</carousel>	
						</div>
					</div>
				</div>
			</div>
		</div>
	
</template>
<script>
import axios from 'axios'
import { Carousel, Slide } from 'vue-carousel';

export default {
	name: "Others",
	data() {
		return {
			videolessons:[],
	  		next: null,
	  		loadingVideolessons: false,
	  		path: 'https://localhost:8000/'
		}
	},
	components: {
    	Carousel,
    	Slide
  	},
	methods:{
  	getVideolessons() {
  	
  
  		this.loadingVideolessons =true;

  		axios.get('/api/videolessonlist/others/')
  			.then(data=>{
  				this.videolessons = data.data;
  				this.loadingVideolessons =false;
  				console.log(data.data);
  			});
  		},
	},
	created(){
		this.getVideolessons();
	}

};
</script>