<template>
	<div class="container">
		<div class="row">

				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="heading-title">Videolessons</h2>
					</div>
					<div class="container">
						<div class="blog-post-wrap" id="posts-grid-1" data-layout="masonry" >
							
	
								<carousel>
  								
								<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item" v-for="videolesson in videolessons" :key="videolesson.pk">
								
								<slide>
									
								
									<div class="ui-block">
										<!-- Post -->
										<article class="hentry blog-post">
											<div class="post-thumb">
												<img :src="videolesson.thumbnail" class="img-thumbnail" alt="">
												
											</div>
											<div class="post-content">
												
												<router-link
									:to="{ name: 'article', params: { slug: videolesson.slug }}"
									class="h5 post-title">{{videolesson.title}} </router-link>
												
													{{ videolesson.content }} 
											
												<div class="author-date">
													by
													<a class="h6 post__author-name fn" href="#">{{videolesson.author}}</a>
													<div class="post__date">
														<time class="published" datetime="videolesson.publish">
															- {{videolesson.publish}}
														</time>
													</div>
												</div>
											</div>
										</article>
										<!-- ... end Post -->
									</div>
								</slide>
								</div>
							
							
							</carousel>	
						</div>
					</div>
				</div>
			</div>
		</div>
	
</template>
<script>
import axios from 'axios'
import { Carousel, Slide } from 'vue-carousel';

export default {
	name: "QuestionsAnswers",
	data() {
		return {
			videolessons:[],
	  		next: null,
	  		loadingVideolessons: false,
	  		path: 'https://localhost:8000/'
		}
	},
	components: {
    	Carousel,
    	Slide
  	},
	methods:{
  	getVideolessons() {
  	
  
  		this.loadingVideolessons =true;

  		axios.get('/api/videolessonlist/qa/')
  			.then(data=>{
  				this.videolessons = data.data;
  				this.loadingVideolessons =false;
  				console.log(data.data);
  			});
  		},
	},
	created(){
		this.getVideolessons();
	}

};
</script>