<template>
          <swiper-slide>
                <div class="ui-block">
                  <!-- Post -->
                  <article class="hentry blog-post">
                    <div class="post-thumb">
                      <router-link
                        :to="{ name: 'videolesson', params: { slug: videolesson.slug }}">
                        <img :src="videolesson.thumbnail" class="img-thumbnail" alt="">
                      </router-link>
                    </div>
                    <div class="post-content">
                      <router-link
                        :to="{ name: 'videolesson', params: { slug: videolesson.slug }}"
                        class="h5 post-title">
                        {{videolesson.title}} 
                      </router-link>
                      <p>{{videolesson.excerpt}}</p>
                      <span v-if="videolesson['excerpt']==null">{{ videolesson.content | truncate(100, '...') }}</span>
                      <br>
                      <pre></pre>
                      <router-link 
                        :to="{name: 'videolesson', params: {slug: videolesson.slug}}" 
                        class="post-category bg-orange"
                        >Devamı...
                      </router-link>
                      <div class="author-date">
                        Eğitmen: 
                        <a class="h6 post__author-name fn" href="#">{{videolesson.user}}</a>
                        <div class="post__date">
                          <time class="published" datetime="videolesson.publish">
                            - {{videolesson.publish}} Önce
                          </time>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- ... end Post -->
                </div>
            </swiper-slide>
            
</template>
<script>

export default {
  name: "VideolessonsList",
  components: {
 
  },
  props: {
    videolesson: {
      type:Object,
      required: true
    }
  }

};
</script>
<style scoped>

</style>