<script>
import { mapActions, mapState } from "vuex";
import Tree from '@/components/comments/Tree';
export default {
	name: "Videolesson",
	beforeRouteUpdate (to, from, next) {
   this.$store.videolesson = null
   console.log(to)
   this.$store.dispatch('videolessons/fetchAVideolesson', to.params)
    next()
  },
	data(){
		return {
			newVideolessonCommentBody: null,
			error: null,
			showForm: false,
		}
	},
	components:{
		Tree
	},
	computed: {
    ...mapState({
    	videolesson: state => state.videolessons.videolesson,
	    mostLikedVideolessons: state => state.videolessons.mostLikedVideolessons}),
    	
  },
   

  methods: {
  	toggleBodyClass(addRemoveClass, className) {
	    const el = document.body;

	    if (addRemoveClass === 'addClass') {
	      el.classList.add(className);
	    } else {
	      el.classList.remove(className);
	    }
  	},
  	...mapActions(['videolessons/fetchAVideolesson']),
  	
  },
  mounted() {
    this.toggleBodyClass('addClass', 'body-bg-white');
  },
  destroyed() {
	  this.toggleBodyClass('removeClass', 'body-bg-white');
  },
  created() {
  	this.$store.dispatch('videolessons/fetchAVideolesson', this.$route.params).
  	then(() => {
  			this.$store.dispatch('videolessons/fetchMostLikedVideolessons')
  			console.log(this.$store);
  			console.log(this.$route.params);
  			console.log(this.mostLikedVideolessons);
  	})
  }
};
</script>
<template>

 
 


<div class="container">
	<div class="row mt50">

		<div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
			<div class="ui-block mb60">

				
				<!-- Single Post -->
				
				<article class="hentry blog-post single-post single-post-v3">
				
					<a href="#" class="post-category bg-primary" v-for="category in videolesson.categories" :key="category.id">{{category.title}}</a>
				
					<ul class="filter-icons">
						<li>
							<a href="#" class="post-add-icon inline-items">
								<img src="../../assets/img/icon-chat27.png" alt="icon">
								<span>{{ videolesson.likes_count }}</span>
							</a>
						</li>
					</ul>
					<h1 class="post-title">{{ videolesson.title }}</h1>
				
					<div class="author-date">
						<div class="author-thumb">
							<img :src="videolesson.user_thumbnail"  alt="videolesson.username" title="videolesson.username">
						</div>
						Yazar:  
						<a class="h6 post__author-name fn" href="#"> {{videolesson.user }}  	 &nbsp; 	 &nbsp;</a>
						<div class="post__date">
							<time class="published" datetime="videolesson.publish">
								 &nbsp; -  {{videolesson.publish}} önce
							</time>
						</div>
					</div>
				
					<div class="post-thumb">
						<img :src="videolesson.thumbnail" alt="videolesson.title">
					</div>
				
					<div class="post-content-wrap">
				
						<div class="control-block-button post-control-button">
				
							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon"><use xlink:href="#olymp-speech-balloon-icon"></use></svg>
								<span>{{videolesson.total_likes}} beğeni</span>
							</a>
				
							<a href="#" class="btn btn-control has-i bg-facebook">
								<i class="fab fa-facebook-f" aria-hidden="true"></i>
							</a>
				
							<a href="#" class="btn btn-control has-i bg-twitter">
								<i class="fab fa-twitter" aria-hidden="true"></i>
							</a>
						</div>
				
						<div class="post-content">
							<h5>{{videolesson.subtitle}}
							</h5>
				
							<p>{{videolesson.content}}
							</p>
						</div>
					</div>
				
				
					<div class="choose-reaction reaction-colored">
						<div class="title">Beğenini Göster</div>
				
						<ul>
							<li>
								<a href="#">
									<img src="../../assets/img/icon-chat27.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="COOL">
								</a>
							</li>
						</ul>
				
					</div>
				</article>
				
				<!-- ... end Single Post -->

				</div>

			<div class="crumina-module crumina-heading with-title-decoration">
				<h5 class="heading-title">Yorumlar ({{videolesson.comments_count}})</h5>

			</div>
				<!-- Comments -->
				
				<ul   
				class="comments-list  style-3" 
				v-for="comment in videolesson.comments"
				:key="comment.id">
				<tree v-if="comment.parent==null" :tree-data="comment"></tree>
			</ul>
				
				<!-- ... end Comments -->

				<a href="#" class="more-comments">View more comments <span>+</span></a>

				
				<!-- Comment Form  -->
				
				<form>
					<div class="crumina-module crumina-heading with-title-decoration">
						<h5 class="heading-title">Yorum Yazın</h5>
					</div>
					<div class="row">
						<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="form-group label-floating">
								<label class="control-label">İsminiz</label>
								<input class="form-control" placeholder="" type="text">
							</div>
						</div>
						<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="form-group label-floating">
								<label class="control-label">Email</label>
								<input class="form-control" placeholder=""  type="email">
							</div>
						</div>
				
						<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="form-group">
								<textarea class="form-control" placeholder="Mesajınız"></textarea>
							</div>
							<a href="#" class="btn btn-primary btn-lg full-width">Yorumu Gönder</a>
						</div>
					</div>
				</form>
				
				<!-- ... end Comment Form  -->			</div>
		</div>

		<div v-if="mostLikedVideolessons" class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
			<aside>
				<div class="ui-block">
					<div class="ui-block-title">
						<h6 class="title">Öne Çıkan Dersler</h6>
					</div>
				</div>

				<div class="ui-block"  
				v-for="videolesson in mostLikedVideolessons" 
				:key="videolesson.id"
				:videolesson="videolesson">

					<!-- Post -->
					
					<article class="hentry blog-post blog-post-v3 featured-post-item">
					
						<div class="post-thumb">
							<img :src="videolesson.thumbnail" alt="videolesson.title">
							
						</div>
					
						<div class="post-content">
					
							<div class="author-date">
								by
								<a class="h6 post__author-name fn" href="#">{{videolesson.user}}</a>
								<div class="post__date">
									<time class="published" datetime="e">
										- {{videolesson.publish}} önce
									</time>
								</div>
							</div>
							<router-link
								:to="{name: 'videolesson', params: {slug: videolesson.slug}}"
								class="h4 post-title"
							>{{videolesson.title}}</router-link>
					
							<div class="post-additional-info inline-items">
					
								<div class="comments-shared">
									<a href="#" class="post-add-icon inline-items">
										<svg class="olymp-speech-balloon-icon">
											<use xlink:href="#olymp-speech-balloon-icon"></use>
										</svg>
										<img src="../../assets/img/icon-chat27.png" alt="icon"><span>{{videolesson.total_likes}} beğeni</span>
									</a>
								</div>
					
							</div>
						</div>
					
					</article>
					
					<!-- ... end Post -->

				</div>

			</aside>
		</div>

	</div>

 




<!-- Window-popup-CHAT for responsive min-width: 768px -->

<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->

<!-- End Stunning header -->
 

</template>

<style>
	
</style>