<script>
import store from '@/store'
import { mapGetters, mapActions, mapState} from "vuex";
export default {
	name: "Videolessons",
	data() {
		return{
			isLoading: false,
			
		}
	},
	beforeRouteUpdate (to, from, next) {
  	if (store.state.videolessons.next!=null)
    		{
    			store.state.videolessons.next=null
    			store.state.videolessons=null
    			next()
    		}
    else {
    	next()
    }	

  	next()
  },
  
	computed: {
    ...mapGetters('videolessons', {videolessons: 'videolessons'}),
    ...mapGetters('videolessons', {next: 'next'}),
    ...mapState({current: state => state.videolessons.current}),
  },
  methods: {
  	...mapActions(['videolessons/fetchVideolessons']),
  	async getVideolessons() {
     	await  this.$store.dispatch('videolessons/fetchVideolessons');
     	this.$router.push({ name: 'videolessons', query: { next: store.state.videolessons.current }})
    },
    ...mapActions(['articles/fetchCategoryVideolessons']),
  	
    async categoryVideolessons() {
    	await  this.$store.dispatch('articles/fetchCategoryVideolessons');
    }
  },
  created() {
  	this.$store.dispatch('videolessons/fetchVideolessons').
  	then(() => {
  			this.isLoading = false;
  	})
  },
  destroyed() {
  	this.$store.dispatch('videolessons/resetVideolessonsState');
  }
};
</script>

<template>
<div>
	<div class="header-spacer header-spacer-small"></div>
		
	<div class="stunning-header-content mt-20">
		<h1 class="stunning-header-title">Video Dersler</h1>

		<ul class="breadcrumbs">
			<li class="breadcrumbs-item">
				<router-link 
				    :to="{name: 'home'}"
				    class="navbar-brand"
				    >Anasayfa
				</router-link>
				
				<span class="icon breadcrumbs-custom">/</span>
			</li>
			<li class="breadcrumbs-item active">
				<span>Videodersler</span>
			</li>
		</ul>
	</div>

<!-- ... end Stunning header -->

<section class="blog-post-wrap">
	<div class="container">
		<div class="row">
			<div 
				class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"
				v-for="videolesson in videolessons" 
				:key="videolesson.id"
				:videolesson="videolesson">
				<div class="ui-block">

					<!-- Post -->
					
					<article class="hentry blog-post">
					
						<div class="post-thumb">
							<router-link
								:to="{name: 'videolesson', params: {slug: videolesson.slug}}"
							>
				        <img :src="videolesson.thumbnail"  :alt="videolesson.title">
			        </router-link>
						</div>
					
						<div class="post-content">
							<div class="row">
								
								<b-col>
									<router-link v-for="category in videolesson.categories" 
								:key="category.id"
									:to="{name: 'categoryVideolessons', params: {slug: category.slug} }"
									class="post-category bg-blue-light"
									>{{category.title}}
								</router-link>
								</b-col>
							</div>
							<router-link
								:to="{name: 'videolesson', params: {slug: videolesson.slug}}"
								class="h4 post-title"
							>{{videolesson.title}}</router-link>
							
							<p>{{videolesson.excerpt}}</p>
							<span v-if="videolesson['excerpt']==null">{{ videolesson.content | truncate(100, '...') }}</span>
							<br>
							<pre></pre>
							<router-link 
									:to="{name: 'videolesson', params: {slug: videolesson.slug}}" 
									class="post-category bg-orange"
									>Devamı...
								</router-link>
							
							<div class="author-date">
								Eğitmen:
								<a class="h6 post__author-name fn" href="#">{{videolesson.author}}</a>
								<div class="post__date">
									<time class="published" datetime="videolesson.publish">
										- Yayınlanma: {{videolesson.publish}} önce
									</time>
								</div>
							</div>

							<div class="post-additional-info inline-items">
								<div class="friends-harmonic-wrap">
									<div class="names-people-likes">
										{{videolesson.likes_count}} Beğeni
									</div>
								</div>
					
								<div class="comments-shared">
									<div class="names-people-likes">
										{{videolesson.comments_count}} Yorum
									</div>
								</div>
					
							</div>
						</div>
					
					</article>
					
					<!-- ... end Post -->
				</div>
			
			</div>
		</div>

		<!-- Pagination -->
		
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<button
					v-show="next"
					@click="getVideolessons"
					class="btn btn-sm btn-primary"
				>Devamı...</button>
				</li>
				
			</ul>
		</nav>
		
		<!-- ... end Pagination -->
	</div>
</section>

</div>
</template>

<style scoped>

</style>