<script>


import Loader from "@/components/snippets/Loader";
import ArticlesList from "@/components/articles/ArticlesList";
import VideolessonsList from "@/components/videolessons/VideolessonsList";
// @ is an alias to /src

export default {
  name: "Home",
  data() {
  	return {
  		isLoading: true,
  		swiperOptions: {
        pagination: {
          el: '.swiper-pagination',
          type: 'progressbar',

        },

        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      swiperOptionsDesktop: {
          slidesPerView: 3,
          spaceBetween: 30,
          pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
            clickable: true
          }
      },
      swiperOption3: {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true
          },
          pagination: {
            el: '.swiper-pagination'
          }
        }

  	}
  },
  components: {
  	Loader,
  	ArticlesList,
  	VideolessonsList,
  },
  computed: {
    //...mapGetters('articles', {articles: 'articles',}),
    //...mapGetters('videolessons', {videolessons: 'videolessons',}),
    //...mapGetters('videolessons', {indexvideolessons: 'indexvideolessons',}),
    //...mapGetters('videolessons', {othervideolessons: 'othervideolessons',}),
    //...mapGetters('videolessons', {chakravideolessons: 'chakravideolessons',}),
    //...mapGetters('videolessons', {qavideolessons: 'qavideolessons',}),
    indexarticles() {
     	return this.$store.getters['articles/indexArticles'];
    },
    indexvideolessons() {
     	return this.$store.getters['videolessons/indexvideolessons'];
    },
    othervideolessons() {
    	return this.$store.getters['videolessons/othervideolessons'];
    },
    chakravideolessons() {
    	return this.$store.getters['videolessons/chakravideolessons'];
    },
    qavideolessons() {
    	return this.$store.getters['videolessons/qavideolessons'];
    },
    swiper() {
      return this.$refs.mySwiper.$swiper
    },
    isMobile() {
      return this.innerWidth <= 760;
    },
  },
  methods: {
  	toggleBodyClass(addRemoveClass, className) {
	    const el = document.body;

	    if (addRemoveClass === 'addClass') {
	      el.classList.add(className);
	    } else {
	      el.classList.remove(className);
	    }
  	},
  	scrollToTop() {
      window.scrollTo(0,0);
    },
  	//...mapActions(["articles/fetchIndexArticles",]),
  	//...mapActions(["videolessons/fetchIndexVideolessons",]),
  	//...mapActions(["videolessons/fetchOthersVideolessons",]),
  	//...mapActions(["videolessons/fetchChakrasVideolessons",]),
  	//...mapActions(["videolessons/fetchQAVideolessons",]),

  },
  mounted() {
    this.toggleBodyClass('addClass', 'body-bg-white');
  },
  destroyed() {
	  this.toggleBodyClass('removeClass', 'body-bg-white');
  },
  created() {
  	this.$store.dispatch('articles/fetchIndexArticles')
  		.then(this.$store.dispatch('videolessons/fetchIndexVideolessons'))
  		.then(this.$store.dispatch('videolessons/fetchOthersVideolessons'))
  		.then(this.$store.dispatch('videolessons/fetchChakrasVideolessons'))
  		.then(this.$store.dispatch('videolessons/fetchQAVideolessons'))
  		.then(() => {
  			this.isLoading = false;
  	});
  	document.title = "YogaVidya | Anasayfa";

  	this.innerWidth = window.innerWidth;
    	window.addEventListener('resize', () => {
      	this.innerWidth = window.innerWidth;
    });
  }
};
</script>
<template>
<div>
	<Loader v-if="isLoading" />
	<div class="main-header">
		<div class="content-bgmain-wrap bg-account"></div>
		<img :src="require('@/assets/img/BANNER-4.jpg')">
	</div>
	<div class="main-header-2">
		<div class="container">
			<div class="row row justify-content-md-center justify-content-center">
				<div class="col col-lg-12 m-auto col-md-12 col-sm-12 col-12">
					<div class="main-header-content">
						<!-- Section Call To Action Animation -->
						<section class="align-right pt60 pb40 section-move-bg call-to-action-animation scrollme  joinbutton justify-content-center">
							<div class="container">
								<div class="row">
									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 embed-container-photo">
										<div>
											<img :src="require('@/assets/img/yogavidya-kamp.jpg')" alt="yogavidya kamp" class="embed-image">
										</div>
									</div>
									<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
										<div class='embed-container'>
											<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/399684490?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- ... end Section Call To Action Animation -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="medium-padding80 pt40 subscribe-animation scrollme bg-landing">
		<div class="container">
			<div class="row pt60 justify-content-md-center">
				<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12  m-auto  pt40">
					<div class="crumina-module crumina-heading c-white custom-color">
						<div class="crumina-module crumina-heading align-center">
							<h2 class="heading-title">Sen de Bize Katıl</h2>
						</div>
						<h2 class="heading-title  text-center"><span class="c-primary"></span></h2> 
						<p class="heading-text"> YogaVidya yoga öğrencilerinin ve YogaVidya eğitmenleri’nin ortak platformudur. Siteye üye olarak diğer üyeler ve eğitmenler ile iletişime geçebilir, videolarla yoga yapabilir ve yoga hakkında teorik bilgilere sahip olabilirsiniz.</p>
						<p class="heading-text">Her disiplinde olduğu gibi Yoga’da da düzenli uygulama en başta gelir. Düzenli uygulama kişinin genel sağlığını koruması, kronik rahatsızların giderilmesi, beden ve zihnin arınması, bireyin kişisel gelişimi ve spiritüel evrimi açısında çok ama çok önemlidir. Bu nedenle sitemizi sizlerin daha düzenli, ev konforunda, vakit kaybetmeden yoga yapabilmesi için tasarladık. Tek yapmanız gereken sitemize üye olarak videolarla çalışmalara başlamak.</p>
						<p class="heading-text">Yoga sonsuz bir yol olduğu için sizlerle paylaşacaklarımızın sınırı olmayacaktır. Günden güne güncellenecek olan sitemizi takip ederek, diğer kullanıcılar ve eğitmenlerle bağlantıya geçip her geçen gün yeni bilgiler edinebilir, videolarımızla yaptığınız pratik uygulamaları teorik bilgilerle destekleyerek bu harika yolda ilerleyebilirsiniz.</p>
					</div>
				</div>
				<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 align-items-center">
					<a href="{% url 'profiles:teachers:teachers_info' %}">
						<img :src="require('@/assets/img/egitmen-ol.jpg')" alt="egitmen ol" class="img-thumbnail">
					</a>
				</div>
			</div>
		</div>
	</section>
<!-- ... end Main BlogV1 -->
<section class="pt60">
	<div class="container">
		<div class="row justify-content-md-center justify-content-center">
			<div class="col col-xl-10 col-lg-10 col-md-8 col-sm-8 col-8">
				<div class="info-box-wrap justify-content">
					<div class="row">
						<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
							<!-- Info Box  -->
							<div class="crumina-module crumina-info-box" data-mh="box--classic">
								<div class="info-box-image">
									<img src="@/assets/img/banner-1.png" alt="icon">										
								</div>
							</div>
							<!-- ... end Info Box  -->
						</div>
						<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
							<!-- Info Box  -->
							<div class="crumina-module crumina-info-box" data-mh="box--classic">
								<div class="info-box-image">
									<img src="@/assets/img/banner-2.png" alt="icon">
								</div>
							</div>
							<!-- ... end Info Box  -->
						</div>
						<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
							<!-- Info Box  -->
							<div class="crumina-module crumina-info-box" data-mh="box--classic">
								<div class="info-box-image">
									<img src="@/assets/img/banner-3.png" alt="icon">
								</div>
							</div>
									<!-- ... end Info Box  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt60">
	<div class="container">
		<div class="row">
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				
				<div class="crumina-module crumina-heading align-center">
					<h2 class="heading-title">Makaleler</h2>
				</div>
				
				<div class="container">
					<div class="blog-post-wrap" id="articles-grid-1" data-layout="masonry" >
						<div v-if="!isMobile">
							<swiper class="swiper" :options="swiperOptionsDesktop">
									<ArticlesList 
									v-for="article in indexarticles" 
									:key="article.id" 
									:article="article" 
									></ArticlesList>
									<div class="swiper-pagination" slot="pagination"></div>	
							</swiper>	
				  	</div>
				  	<div v-else>
				  		<swiper class="swiper" :options="swiperOptions">
								<ArticlesList 
								v-for="article in articles" 
								:key="article.id" 
								:article="article" 
								></ArticlesList>	
								<div class="swiper-pagination" slot="pagination"></div>
						    <div class="swiper-button-prev" slot="button-prev"></div>
						    <div class="swiper-button-next" slot="button-next"></div>
				  		</swiper>
				  	</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt60">
	<div class="container">		
		<div class="row">
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				
				<div class="crumina-module crumina-heading align-center">
					<h2 class="heading-title">Yoga Dersleri</h2>
				</div>
				
				<div class="container">
					<div class="blog-post-wrap" id="videolessons-grid-1" data-layout="masonry" >
						<div v-if="!isMobile">
							<swiper class="swiper" :options="swiperOptionsDesktop">
									<VideolessonsList 
									v-for="videolesson in indexvideolessons" 
									:key="videolesson.id" 
									:videolesson="videolesson" 
									></VideolessonsList>
									<div class="swiper-pagination" slot="pagination"></div>	
							</swiper>	
				  	</div>
				  	<div v-else>
				  		<swiper class="swiper" :options="swiperOptions">
								<VideolessonsList 
								v-for="videolesson in indexvideolessons" 
								:key="videolesson.id" 
								:videolesson="videolesson" 
								></VideolessonsList>	
								<div class="swiper-pagination" slot="pagination"></div>
						    <div class="swiper-button-prev" slot="button-prev"></div>
						    <div class="swiper-button-next" slot="button-next"></div>
				  		</swiper>
				  	</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt60">
	<div class="container">
		<div class="row">
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				
				<div class="crumina-module crumina-heading align-center">
					<h2 class="heading-title">Diğer Dersler</h2>
				</div>
				
				<div class="container">
					<div class="blog-post-wrap" id="videolessons-grid-1" data-layout="masonry" >
						<div v-if="!isMobile">
							<swiper class="swiper" :options="swiperOptionsDesktop">
									<VideolessonsList 
									v-for="videolesson in othervideolessons" 
									:key="videolesson.id" 
									:videolesson="videolesson" 
									></VideolessonsList>
									<div class="swiper-pagination" slot="pagination"></div>	
							</swiper>	
				  	</div>
				  	<div v-else>
				  		<swiper class="swiper" :options="swiperOptions">
								<VideolessonsList 
								v-for="videolesson in othervideolessons" 
								:key="videolesson.id" 
								:videolesson="videolesson" 
								></VideolessonsList>	
								<div class="swiper-pagination" slot="pagination"></div>
						    <div class="swiper-button-prev" slot="button-prev"></div>
						    <div class="swiper-button-next" slot="button-next"></div>
				  		</swiper>
				  	</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt60">
	<div class="container">
		<div class="row">
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				
				<div class="crumina-module crumina-heading align-center">
					<h2 class="heading-title">Çakra Dersleri</h2>
				</div>
				
				<div class="container">
					<div class="blog-post-wrap" id="videolessons-grid-1" data-layout="masonry" >
						<div v-if="!isMobile">
							<swiper class="swiper" :options="swiperOptionsDesktop">
									<VideolessonsList 
									v-for="videolesson in chakravideolessons" 
									:key="videolesson.id" 
									:videolesson="videolesson" 
									></VideolessonsList>
									<div class="swiper-pagination" slot="pagination"></div>	
							</swiper>	
				  	</div>
				  	<div v-else>
				  		<swiper class="swiper" :options="swiperOptions">
								<VideolessonsList 
								v-for="videolesson in chakravideolessons" 
								:key="videolesson.id" 
								:videolesson="videolesson" 
								></VideolessonsList>	
								<div class="swiper-pagination" slot="pagination"></div>
						    <div class="swiper-button-prev" slot="button-prev"></div>
						    <div class="swiper-button-next" slot="button-next"></div>
				  		</swiper>
				  	</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pt60">
	<div class="container">
		<div class="row">
			<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				
				<div class="crumina-module crumina-heading align-center">
					<h2 class="heading-title">Soru ve Cevaplar</h2>
				</div>
				
				<div class="container">
					<div class="blog-post-wrap" id="videolessons-grid-1" data-layout="masonry" >
						<div v-if="!isMobile">
							<swiper class="swiper" :options="swiperOptionsDesktop">
									<VideolessonsList 
									v-for="videolesson in qavideolessons" 
									:key="videolesson.id" 
									:videolesson="videolesson" 
									></VideolessonsList>
									<div class="swiper-pagination" slot="pagination"></div>	
							</swiper>	
				  	</div>
				  	<div v-else>
				  		<swiper class="swiper" :options="swiperOptions">
								<VideolessonsList 
								v-for="videolesson in qavideolessons" 
								:key="videolesson.id" 
								:videolesson="videolesson" 
								></VideolessonsList>	
								<div class="swiper-pagination" slot="pagination"></div>
						    <div class="swiper-button-prev" slot="button-prev"></div>
						    <div class="swiper-button-next" slot="button-next"></div>
				  		</swiper>
				  	</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>		
		


<!-- Block Action 

<div class="container mb60">
	<div class="block-action bg-section4 background-cover">
		<div class="row">
			<div class="col col-xl-5 col-lg-12 col-md-12 col-sm-12  mr-auto">
				<div class="crumina-module crumina-heading custom-color c-white mb-0">
					<h2 class="heading-title">Ekibimize katılmak ister misiniz?</h2>
					<p class="heading-text"><a href="#">Buraya tıklayın</a> eğitmen ya da kursiyer olanaklarımızı görmek için!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

 ... Block Action -->


	</div>
</template>
<style scoped>
.bg-account {
  background-image: url('../assets/img/BANNER-4.jpg') !important;
  height: 125%;
  max-width: 100%;
  background-position: inherit,  cover; /* Center the image */
  /*background-repeat: no-repeat; /* Do not repeat the image */
  background-size: inherit, center; /* Resize the background image to cover the entire container */
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

@media  screen and (min-width: 399px;max-width:992px) {
  .bg-account {
  background-image: url("../assets/img/mobil.jpg");
  } 
}
.article-link{
	font-weight:bold;
	color: black;
}
.article-link:hover{
	color: #343A40;
	text-decoration:none;
}
.photo-align{
	align-items:center  !important;
}
 
.swiper-pagination-progressbar-fill{
	color:#fd7e14 !important;
	background-color:#fd7e14 !important;
	background:#fd7e14 !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fd7e14;
}

.example-3d {
    width: 100%;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; overflow: hidden; 
    max-width: 100%; height: auto; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
}

</style>