<script>
export default {
	name: 'NotFound'
};
</script>
<template>
<div>
	<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col col-xl-6 m-auto col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="page-404-content">
					<img loading="lazy" src="img/404.png" alt="photo">
					<div class="crumina-module crumina-heading align-center">
						<h2 class="h1 heading-title">A <span class="c-primary">wild ghost</span> appears! Sadly, not what you were looking for...</h2>
						<p class="heading-text">Sorry! The page you were looking for has been moved or doesn’t exist.
							If you like, you can return to our homepage, or if the problem persists, send us an email to: <a href="#">support@olympus.com</a>
						</p>
					</div>

					<a href="index.html" class="btn btn-primary btn-lg">Go to Homepage</a>
				</div>
			</div>
		</div>
	</div>
</section>




<!-- Section Call To Action Animation -->

<section class="align-right pt160 pb80 section-move-bg call-to-action-animation">
	<div class="container">
		<div class="row">
			<div class="col col-xl-10 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
				<a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registration-login-form-popup">Start Making Friends Now!</a>
			</div>
		</div>
	</div>
	<img class="first-img" alt="guy" src="img/guy.png" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">
	<img class="second-img" alt="rocket" src="img/rocket1.png" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500">
	<div class="content-bg-wrap bg-section1"></div>
</section>
</div>
</template>
<style></style>