<script>
import store from '@/store'
import { mapActions, mapState} from "vuex";
import Loader from "@/components/snippets/Loader";
export default {
	name: "TeachersPage",
	data() {
  	return {
  		isLoading: true,
  		toggler: false,
  		mediaArray: [],
  	}
  },
	beforeRouteUpdate (to, from, next) {
  	if (store.state.members.next!=null)
    		{
    			store.state.members.next=null
    			store.state.members=null
    			next()
    		}
    else {
    	next()
    }	

  	next()
  },
 
	components: {
		Loader,
	},
	computed: {
    ...mapState({
    	current: state => state.members.current,
    	next: state => state.members.next,
    	teachers: state => state.members.teachers,
   	}),

	},

	methods: {
  	...mapActions(['members/fetchTeachers']),
  	async getTeachers() {
     	await  this.$store.dispatch('members/fetchTeachers');
     	this.$router.push({ name: 'members', query: { next: store.state.members.current }})
    },
    toggleBodyClass(addRemoveClass, className) {
	    const el = document.body;

	    if (addRemoveClass === 'addClass') {
	      el.classList.add(className);
	    } else {
	      el.classList.remove(className);
	    }
  	},
  	getMediaArray(){
   		this.mediaArray = this.teachers.map(item => item.media)
   		console.log(this.mediaArray);
   	},
  },

	created() {
		this.$store.dispatch('members/fetchTeachers').
		then(() => {
				this.getMediaArray();
  			this.isLoading = false;
  			document.title = "Yogavidya | Eğitimciler"
  	});
	},
	mounted() {
    this.toggleBodyClass('addClass', 'body-bg-white');
    this.toggleBodyClass('addClass', 'page-has-left-panels');
    this.toggleBodyClass('addClass', 'page-has-right-panels');
  },
  destroyed() {
	  this.toggleBodyClass('removeClass', 'body-bg-white');
	  this.toggleBodyClass('removeClass', 'page-has-left-panels');
	  this.toggleBodyClass('removeClass', 'page-has-right-panels');
	  this.$store.dispatch('members/resetMembersState');
  },

};
</script>
<template>
<div>
<!-- Friends -->
<Loader v-if="isLoading" />
<div class="header-spacer header-spacer-small"></div>
<div class="container">
	<div class="row">
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12"
			v-for="member in teachers"
			:key="member.id"
			member="member">
			<div class="ui-block">
				
				<!-- Friend Item -->
				
				<div class="friend-item">
					<router-link :to="{ name:'teacher', params: {slug: member.username}}">
					<div class="friend-header-thumb">
						
							<div  v-if="!member.big_thumbnail">
								<img :src="require('@/assets/img/default-user-image.png')" :alt="member.username">
							</div>
							<div   v-if="member.big_thumbnail">
								<img :src="member.big_thumbnail" :alt="member.username">
							</div>
						
					</div>
					</router-link>
					<div class="friend-item-content">
				
						<div class="more">
							<font-awesome-icon icon="ellipsis-h" />
							<svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">Profili Şikayet Et</a>
								</li>
								<li>
									<a href="#">Profili Blokla</a>
								</li>
								<li>
									<a href="#">Takip Etmeyi Bırak</a>
								</li>
							</ul>
						</div>
						<div class="friend-avatar">
							<div class="author-thumb" v-if="!member.middle_thumbnail">
								<img :src="require('@/assets/img/default-user-image.png')" :alt="member.username">
							</div>
							<div class="author-thumb" v-if="member.middle_thumbnail">
								<img :src="member.middle_thumbnail" :alt="member.username">
							</div>
							<div class="author-content">
								<router-link 
									:to="{ name:'teacher', params: {slug: member.username}}"
									class="h5 author-name">{{member.username}} {{member.getMediaArray}}
								</router-link>
								<div class="country">{{member.city}}</div>
							</div>
						</div>
				
						<div class="swiper-container" data-slide="fade">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="friend-count" data-swiper-parallax="-500">
										<a href="#" class="friend-count-item">
											<div class="h6">{{member.followers_count}}</div>
											<div class="title">Takipçi</div>
										</a>
										<a href="#" class="friend-count-item">
											<div class="h6">240</div>
											<div class="title">Fotoğraf</div>
										</a>
										
									</div>
									<div class="control-block-button" data-swiper-parallax="-100">
										<a href="#" class="btn btn-control bg-blue">
											<svg class="olymp-happy-face-icon"><use xlink:href="#olymp-happy-face-icon"></use></svg>
										</a>
				
										<a href="#" class="btn btn-control bg-purple">
											<svg class="olymp-chat---messages-icon"><use xlink:href="#olymp-chat---messages-icon"></use></svg>
										</a>
				
									</div>
								</div>
				
								<div class="swiper-slide">
									<p class="friend-about" data-swiper-parallax="-500">
										Hi!, I’m Marina and I’m a Community Manager for “Gametube”. Gamer and full-time mother.
									</p>
				
									<div class="friend-since" data-swiper-parallax="-100">
										<span>Friends Since:</span>
										<div class="h6">December 2014</div>
									</div>
								</div>
							</div>
				
							<!-- If we need pagination -->
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
				
				<!-- ... end Friend Item -->			</div>
		</div>
	</div>
</div>

<!-- ... end Friends -->
</div>
</template>
<style></style>